<template>
  <div class="mobile-view">
    <div class="container mt-4">
      <div class="row">
<!--        <div class="">-->
<!--          <img src="~/assets/img/langganan/banner-langganan.jpg" class="banner" alt="banner lebaran" style="width: 100%">-->
<!--        </div>-->
      </div>
      <div class="col col-rekomendasi">
        <div class="row">
          <h2>Koleksi Langganan Saya</h2>
        </div>
        <div v-if="mySubscriptions.length !== 0" class="row">
          <div v-for="(mySubs, index) in mySubscriptions" :key="index" class="col-12 col-lg-3">
            <div class="box-langganan">
<!--              <h3><b>{{mySubs.duration}} Bulan</b></h3>-->
              <h6>{{mySubs.paket_langganan.package_name}}</h6>
              <hr />
              <div class="content" v-html="mySubs.paket_langganan.descriptions"></div>
              <hr />
                          <div class="expired-date">Exp. Date : {{mySubs.expire_at}}</div>
<!--              <div class="price-carret">Rp. {{currencyFormat2(mySubs.basic_price, '')}}</div>-->
<!--              <div class="price">Rp. {{currencyFormat2(mySubs.sale_price, '')}}</div>-->
              <!--button @click="beliLangganan" class="btn btn-buy-langganan">Detail</button-->
              <nuxt-link :to="'/users/my-subscriptions/details/'+mySubs.id" class="btn btn-buy-langganan">Detail</nuxt-link>
<!--              <div class="text-center" style="width: 100%"><nuxt-link to="/terms">Syarat dan ketentuan</nuxt-link></div>-->
            </div>
          </div>
        </div>
        <div v-else-if="sLoading" class="keranjang-kosong">
          <!-- <img src="~/assets/img/keranjang-belanja.png" style="width: 30%"> -->
          <loader></loader>
          <h6 class="mt-3">Loading...</h6>
          <!-- <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link> -->
        </div>
        <div v-else class="keranjang-kosong">
          <img src="~/assets/img/keranjang-belanja.png" style="width: 30%">

          <h6 class="mt-3">Anda belum memiliki koleksi langganan buku. Silahkan pilih langganan yang ingin anda beli.</h6>
          <nuxt-link to="/langganan"><h6>Berlangganan Buku Sekarang</h6></nuxt-link>

        </div>


      </div>

    </div>
  </div>
</template>

<script>
  import loader from '~/components/Loading3.vue'
  export default {
    layout: 'base-layout-4',
    components: {
      loader
    },
    data: () => ({
      mySubscriptions: [],
      sLoading: true
    }),
    head () {
      return {
        title: 'Langganan Saya',
      }
    },
    beforeMount(){
      this.$store.commit('home/setActiveTab', 'langganan')
      if (this.$store.getters['auth/isLogin']){
        this.loadMySubs()
      }else{
        this.sLoading = false
      }
      // console.log(this.mySubscriptions.length)
      // console.log(this.$store.getters['auth/isLogin'])
    },
    mounted(){

      // console.log(this.$store.getters['auth/user'])

      // console.log(this.$store.getters['home/isTabActive'])
    },
    methods: {
      async loadMySubs() {
        // console.log('hello')
        this.$store.dispatch('langganan/setMySubscriptions')
          .then((response) => {
            // this.sLoading = false
            // console.log(response)
            this.sLoading = false

            if (response.success){
              this.mySubscriptions = response.data.rows
              this.mySubscriptions.forEach((element, index) => {
                // console.log(this.mySubscriptions.length)
                this.mySubscriptions[index].expire_at = this.convertIsoToDate(element.expire_at)
              })
              // this.convertIsoToDate('hehe')
            }else{
              // console.log(this.mySubscriptions)
              // console.log(response)
              if (response.data.message === 'Token is Invalid'){
                this.$toast.show('Reconnecting. Please reload the page.');
                this.reLogin()
                // this.getMyModule()
                // console.log('reloaddded')
              }else if (response.data.message.includes('token has expired')){
                this.userSessionExpired()
              }
            }
          })

      },
      beliLangganan(){
        this.$toast.success('Sukses beli langganan')
      }
    },
    beforeDestroy() {
      this.$store.commit('home/setActiveTab', '')
    }
  }
</script>
