<template>
<div>
  <div v-if="isVerified && isLoading" class="form-success-activate">
    <img src="~/assets/img/success-buy.png" style="width: 150px">
    <h5>Verifikasi email berhasil.</h5>
    <p>Silahkan login</p>
    <nuxt-link class="link-underline mydiv" to="/"><h6>Login to Homepage</h6></nuxt-link>
  </div>
  <div v-else-if="isExpired" class="form-success-activate">
    <img src="~/assets/img/success-buy.png" style="width: 150px">
    <h5>Email sudah terverifikasi.</h5>
<!--    <p>Silahkan login</p>-->
    <nuxt-link class="link-underline mydiv" to="/"><h6>Login to Homepage</h6></nuxt-link>
  </div>
  <div v-else-if="!isVerified && isLoading" class="form-success-activate">
    <img src="~/assets/img/success-buy.png" style="width: 150px">
    <h5>Email sudah terverifikasi.</h5>
        <p>Silahkan login</p>
    <nuxt-link class="link-underline mydiv" to="/"><h6>Login to Homepage</h6></nuxt-link>
  </div>
   <div v-else class="form-success-activate">
     <loader></loader>
<!--    <img src="~/assets/img/success-buy.png" style="width: 150px">-->
<!--    <h5>Verifikasi email tidak di temukan</h5>-->
<!--    <p>Silahkan login</p>-->
<!--    <nuxt-link class="link-underline mydiv" to="/"><h6>Login to Homepage</h6></nuxt-link>-->
  </div>
</div>
</template>

<script>
  import loader from '~/components/Loading3.vue'
export default {
  layout: 'signup-layout',
  components: {
    loader
  },
  head () {
    return {
      title: 'Aktivasi Akun',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'Aktivasi Akun' }
      ],
      bodyAttrs: {
        class: 'bg-image h-100'
      },
    }
  },
    data: () => ({
      isVerified: false,
      isExpired: false,
      isLoading: true,
      isNotFound: false
    }),
  mounted(){
    
   this.activateEmail()
  //  console.log(this.$route.params.id)
  },
  methods: {
     activateEmail () {
       this.$store.dispatch('auth/emailVerification', this.$route.params.id)
        .then(result => {
          if (result.success){
            this.isVerified = true
            this.isLoading = false
            // console.log(result)
          }else{
            if (result.data.message.code === 'auth/email-already-exists'){
              this.isExpired = true;
            }else if (result.data.message === 'Data Tidak Di Temukan'){
              this.isVerified = false
            }
              // console.log(result.data.message)
               // console.log(result)
          }
          
        })
    //  console.log('aktivasi email berhasil')
    },
  }
}
</script>

<style scoped>
  .form-success-activate {
    text-align: center;
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;
  }
</style>
