<template>
  <!-- MODAL RESET PASSWORD -->
  <div id="forget-password" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="login-popup" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="container h-100">
            <div class="row h-100 justify-content-center">
              <div class="col-sm-12 my-auto">
                <div>
                  <!-- <form class="" action="index.html" method="post"> -->

                  <div class="form-group">
                    <label for="">Email</label>
                    <input v-model="fEmail" type="text" class="form-control" placeholder="">
                  </div>
                  <div class="text-center">
                    <button type="submit" @click="resetPassword" class="btn btn-primary btn-block">Reset</button>
                  </div>
                </div>

                <!-- <div class="login-container">
                    <div class="text-center">
                        Belum punya akun? Yuk <a @click="removeModal" href="javascript:void(0)" class="link-underline">daftar</a> sekarang!
                    </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "forget-password",
      data: () => ({
        fEmail: ''
      }),
      methods: {
        resetPassword(){
          // console.log('button reset')
          this.$store.dispatch('auth/resetPassword', this.fEmail)
            .then(result => {
              // console.log(result)
              if (result.success){
                $('#forget-password').modal('hide');
                // setTimeout(() => location.reload(), 2000)
                // this.isLogin = true
                this.$toast.success('Email sent to '+this.fEmail+'.');
                //   this.userName = this.$store.getters['auth/user'].name
                //   this.setMymodule()
                // this.$router.push('/')
              } else {
                this.$toast.show('Failed sent email..');
              }
            })
        },
      }
    }
</script>
