<template>
  <!-- MODAL RESEND EMAIL -->
  <div>
  <div id="resend-email" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="login-popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="container h-100">
            <div class="row h-100 justify-content-center">
              <div class="col-sm-12 my-auto">
                <div>
                  <!-- <form class="" action="index.html" method="post"> -->

                  <div class="form-group">
                    <label>Resend Email</label>
                    <input name="email" v-model="rEmail" ref="email" type="text" :class="{'form-control': true, 'req-login': errors.has('email')}" v-validate="'required|email'"  placeholder="">
                    <!-- <span><small v-show="errors.has('email')" class="text-red"></small></span> -->
                    <span v-show="errors.has('email')" class="text-red">{{ errors.first('email') }}</span>
                  </div>
                  <!-- <div class="form-group">
                      <label for="">Password</label>
                      <input v-model="userLogin.password" type="password" class="form-control" placeholder="">
                  </div>
                  <div class="form-group">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label" for="customCheck1">Ingat saya</label>
                      </div>
                  </div>
                  <div class="form-group">
                      <button @click="submitLogin" type="submit" class="btn btn-primary btn-block">MASUK</button>
                  </div>
                  <div class="text-center">
                      <a href="javascript:void(0)" class="link-underline">Lupa kata sandi?</a>
                  </div>
                  <br>
                  <div class="text-center">
                      <button type="button" @click="google" class="btn btn-block btn-outline-secondary btn-login-socmed"><i class="fa fa-google" aria-hidden="true"></i> Masuk Menggunakan Google Akun</button>
                  </div>
                  <br>
                  <div class="text-center">
                      <button type="button" @click="facebook" class="btn btn-block btn-outline-primary btn-login-socmed"><span class="fa fa-facebook"></span> Masuk menggunakan Facebook</button><button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button>
                  </div> -->
                  <!-- </form> -->
                  <div class="text-center">
                    <button type="submit" @click="resendEmail" class="btn btn-primary btn-block">Resend</button>
                  </div>
                </div>

                <!-- <div class="login-container">
                    <div class="text-center">
                        Belum punya akun? Yuk <a @click="removeModal" href="javascript:void(0)" class="link-underline">daftar</a> sekarang!
                    </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
    export default {
        name: "resend-email",
        data: () => ({
          rEmail: ''
        }),
        methods: {
          resendEmail(){
            // console.log(this.rEmail)
            this.$store.dispatch('auth/resendEmailVerif', this.rEmail)
              .then(result => {
                // console.log(result)
                if (result.success){
                  $('#resend-email').modal('hide');
                  // setTimeout(() => location.reload(), 2000)
                  // this.isLogin = true
                  this.$toast.success('Email sent to '+this.rEmail+'.');
                  //   this.userName = this.$store.getters['auth/user'].name
                  //   this.setMymodule()
                  // this.$router.push('/')
                } else {
                  this.$toast.show('Email belum terdaftar');
                }
              })
          }
        }
    }
</script>

<style scoped>

</style>
