<template>
    <section class="sec-shop sec-tema">
    <div class='container'>
        <div class='row'>
            <div class="col-md-2">
                <!--div class="logo-edutest">
                        <img src="~/assets/img/test-logo.png" alt="edutest logo">
                </div-->
            </div>                           
            <div class='col-md-10'>                
              <ul class="tema-reg">
                <li class=""><nuxt-link to="/edutest/1">Galeri Tes</nuxt-link></li>
                <li>
                  <nuxt-link to="/users/my-modules">Koleksi Saya</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/users/my-subscriptions">Langganan Saya</nuxt-link>
                </li>
<!--                <li>-->
<!--                  <a href="javascript:void(0)" @click="plus">test</a>-->
<!--                </li>-->
                <!--<li><a href="#"><img src="~/assets/img/history.png" alt="history"></a></li>-->
                <!-- <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> -->
                <li>
                    <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>
                    <div v-if="this.$store.state.cart.totalCart !== 0" class="count-notif">{{this.$store.state.cart.totalCart}}</div>
                </li>
                <!--<li>-->
                    <!--<a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>       -->
                    <!--&lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;-->
                <!--</li>-->
              </ul>            
            </div>
        </div>
    </div>
</section>
</template>

<script>
export default {
    props: ['count'],
    data: () => ({
        countOrder: 0,
        // sharedState: this.$store.state
    }),
    computed:{
        countOrder2(){
            // console.log('hei')
        }
    },
    mounted() {
        // this.$nextTick(() => {
        // // console.log('hellow')
        //
        // })
        // setTimeout(() => this.$nuxt.$loading.finish(), 5000)
        this.$store.dispatch('cart/getOrderModule')
        // console.log(this.$store.getters['cart/totalCart'])
        // this.countOrder = this.$store.getters['cart/totalCart']
        // this.$cookies.remove('module-order')
        // this.$cookies.get('module-order')
        // console.log(this.$store.state.cart.totalCart2)
        // console.log(this.count)
    },
    methods: {
        plus(){
          this.$store.commit('cart/updateTotalCart', 1)
          // this.countOrder += 1
        }
    },
    updated(){
      // console.log('up')
        // console.log(this.$store.state.cart.totalCart);
    },
}
</script>
