  <template>
    <div>
        <section class="sec-shop">
          <div class='container'>
              <div class='row'>
                  <div class='col'>
                    <ul class="nav-cart">
                      <li><a href="#"><img src="~/assets/img/history.png" alt="history"></a></li>
                      <li><a href="#"><img src="~/assets/img/cart.png" alt="cart"></a></li>
                      <li><a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a></li>
                    </ul>            
                  </div>
              </div>
          </div>
</section>
    </div>
</template>
