<template>
    <div id="small-nav">
      <div class="container">
        <a href=""><img height="35" src="~/assets/img/uplace.png"></a>
        <ul>
          <li>
            <a href="#"><img src="~/assets/img/history.png" alt="history"></a>
          </li>
          <li>
            <a href="#"><img src="~/assets/img/cart.png" alt="cart"></a>
          </li>
          <li>
            <a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>
            <div class="count-notif">2</div>
          </li>
        </ul>
      </div>
    </div>
</template>
