<template>
        <div class="bg-white footer pt-5 pb-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 foo-lists">
              <img src="~/assets/img/logo-edustore.png" class="img-fluid" alt="">
              <p class="mb-4 mt-4">“Semua Bisa Pintar”</p>
              <p class="mb-4">Copyright © 2019</p>
              
              <div class="sosmed">
                <a href="">
                  <span class="mr-2"><img src="~/assets/img/instagram.png" class="img-fluid" alt=""></span>
                </a>
                <a href="">
                  <span class="mr-2"><img src="~/assets/img/line.png" class="img-fluid" alt=""></span>
                </a>
                <a href="">
                  <span class="mr-2"><img src="~/assets/img/twitter.png" class="img-fluid" alt=""></span>
                </a>
                <a href="">
                  <span class="mr-2"><img src="~/assets/img/facebook.png" class="img-fluid" alt=""></span>
                </a>
                <a href="">
                  <span class="mr-2"><img src="~/assets/img/youtube.png" class="img-fluid" alt=""></span>
                </a>
              </div>
          </div>
          <div class="col-md-4 mb-4 foo-lists pl-5 pr-5">
            <div class="text-center mt-4">
                  <p>
                      <b>
                          Masukan emailmu dan dapatkan <br>
                          info-info menarik
                        </b>
                  </p>
                  <form action="">
                    <div class="form-group">
                      <input type="text" name="" id="" class="form-control" placeholder="Masukan email">
                    </div>
                    <button type="submit" class="btn btn-warning btn-block">Kirim</button>
                  </form>
            </div>
          </div>
          <div class="col-md-4 mb-4 foo-lists">
            <div class="row">
              <div class="col-sm-6 mb-4">
                  <p class="mb-1"><b>Menu</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Beranda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Produk</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Langganan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Akun</a>
                    </li>
                    
                  </ul>
              </div>
              <div class="col-sm-6 mb-4 mb-4">
                  <p class="mb-1"><b>Bantuan</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Cara Pakai</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Kritik & Saran</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="#">Tanya Jawab</a>
                    </li>
                    
                  </ul>
              </div>
            </div>
            <p class="mt-4"><b>Download Edutore Mobile App</b></p>
            <a href=""><span><img src="~/assets/img/Play-Store-Logo-2.png" alt=""></span></a>
            <a href=""><span><img src="~/assets/img/1280px-Download_on_the_App_Store_Badge.svg.png" alt=""></span></a>
            
          </div>
        </div>
        <hr>
        <ul class="nav justify-content-center">
          <li class="nav-item mr-5">
            <a class="nav-link active" href="#">Tentang Kami</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Syarat dan Ketentuan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hak Cipta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kebijakan Privasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Peta Situs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Laporkan Masalah</a>
          </li>
          <li class="nav-item ml-5 ">
            <a class="nav-link language" href="#">Bahasa Indonesia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">English</a>
          </li>
      
        </ul>
      </div>
    </div>
</template>
