<template>
    <div class="container-fluid p-0 mt-5">
      <div class="row m-0">
        <div class="col-lg-6 mb-5 pl-0">
            <h3 class="text-33 mb-0 adasd">{{title}}</h3>
            <p class="text-20 adasd mt-3">{{subTitle}}</p>
            <div class="score mb-4">{{scoreboard}}</div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Skor Tertinggi
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{highScore}}
              </div>
            </div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Jawaban Salah
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{wrongAnswer}}
              </div>
            </div>
            <div class="row score-lst">
              <div class="col-md-6 p-0">
                  Durasi
              </div>
              <div class="col-md-6 p-0 text-right">
                  {{timeElapsed}}
              </div>
            </div>

        </div>
        <div class="col-lg-6 msjj">
          <!--div class="sosial-media text-right">
            <a href=""><span class="ico ico-twitter "></span></a>
            <a href=""><span class="ico ico-facebook "></span></a>
            <a href=""><span class="ico ico-gplus "></span></a>
          </div-->
          <div class="nilai">
            <i v-if="grade === 'A'" class="ico nilai-a"></i>
            <i v-else-if="grade === 'B'" class="ico nilai-b"></i>
            <i v-else-if="grade === 'C'" class="ico nilai-c"></i>
            <i v-else-if="grade === 'D'" class="ico nilai-d"></i>
          </div>
          <div class="text-center">
            <nuxt-link class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_id+'/'+themaDetails.id">Coba Lagi</nuxt-link>
            <!-- <a href="" class="btn btn-primary mb-2 ml-3">Coba Lagi</a> -->
           
<!--            <nuxt-link v-if="isLastSoal" class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_slug">Selesai</nuxt-link>-->
            <nuxt-link class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_slug">Selesai</nuxt-link>
<!--             <a v-else href="javascript:void(0)" @click="lanjutSoal" class="btn btn-primary mb-2 ml-3">Lanjut</a>-->
            <!-- <a href="javascript:void(0)"  class="btn btn-primary mb-2 ml-3">Lanjut</a> -->
            <!-- <nuxt-link class="btn btn-primary mb-2 ml-3" :to="'/modules/'+themaDetails.module_id+'/'+themaDetails.id">Lanjut</nuxt-link> -->
            <!-- <a href="" class="btn btn-white-2 mb-2 ml-3">Menyerah</a> -->
            <nuxt-link class="btn btn-white-2 mb-2 ml-3" :to="'/modules/'+themaDetails.module_slug">Menyerah</nuxt-link>
          </div>
        </div>
      </div>
      
    </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'layout-hasil-test',
  head () {
    return {
      title: this.titleWeb,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'Hasil test ujian' }
      ],
      // bodyAttrs: {
      //   class: 'bg-nilai'
      // },
    }
  },
      data: () => ({
        titleWeb: 'Hasil Test Langganan',
        timeElapsed: '00:12:13',
        scoreboard: 0,
        title: 'Title',
        subTitle: 'subtitle',
        highScore: '9999',
        wrongAnswer: '0/10',
        scoreDetails: null,
        themaDetails: {
          module_id: 0,
          id: 0
        },
        grade: 'C',
        isLastSoal: false
    }),
    computed: {

    },
    beforeMount(){
      this.$store.commit('test/checkPaketSoal')
    },
    mounted() {
      this.getScore()
      this.scoreboard = this.GzeroFill(this.scoreboard)
      this.highScore = this.GzeroFill(this.scoreDetails.totalSoal * 100)
      this.$store.dispatch('test/getSessionThema')
      this.themaDetails = this.$store.getters['test/sessionThema']
      this.isLastSoal = this.$store.getters['test/isLastPaketSoal']
      // console.log(this.$store.getters['auth/isLogin'])
      // if (this.$store.getters['auth/isLogin']){
      //   this.getScore()
      //   this.scoreboard = this.GzeroFill(this.scoreboard)
      //   this.highScore = this.GzeroFill(this.scoreDetails.totalSoal * 100)
      //   this.$store.dispatch('test/getSessionThema')
      //   this.themaDetails = this.$store.getters['test/sessionThema']
      //   this.isLastSoal = this.$store.getters['test/isLastPaketSoal']
      // }else{
      //   this.$nuxt.$router.push('/')
      // }
    },
    updated(){
      // console.log(this.$store.getters['test/score'])
    },
    methods: {
      lanjutSoal(){
        // console.log(this.$route.params.paketSoal)
        this.$store.commit('test/updatePaketSoal', this.$route.params.paketSoal)
        this.$nuxt.$router.push('/modules/'+this.themaDetails.module_id+'/'+this.themaDetails.id)
        // console.log('/modules/'+this.themaDetails.module_id+'/'+this.themaDetails.id)
      },  
      getScore(){
        this.$store.dispatch('test/getScore')
        this.scoreDetails = this.$store.getters['test/score']
        this.scoreboard = this.scoreDetails.scoreboard
        this.title = this.scoreDetails.title
        this.subTitle = this.scoreDetails.subtitle
        this.timeElapsed = this.scoreDetails.time
        this.wrongAnswer = this.scoreDetails.totalSoal - (this.scoreboard / 100) + '/' + this.scoreDetails.totalSoal 
        // console.log(this.scoreDetails)
        // console.log()
        this.gradeCalculation(this.scoreDetails.totalSoal, this.scoreboard / 100)
      },
      gradeCalculation(jmlsoal, jwbnBenar){
        let nilai = (jwbnBenar / jmlsoal) * 100
        if (nilai > 85){
          this.grade = 'A'
        } else if (nilai > 70){
          this.grade = 'B'
        } else if (nilai > 55) {
          this.grade = 'C'
        } else if (nilai < 55) {
          this.grade = 'D'
        }
        // console.log(nilai)
        // console.log(this.grade)
        // return nilai
      },
    }
}
</script>
