<template>
    <div class="container mt-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="koreksi-img">
            <img src="~/assets/img/edu-kereksi.png" class="img-fluid" alt="">
          </div>
          <div class="koreksi-txt">
            <p class="pljran">{{matpel}}</p>
            <hr>
            <p class="kls">Kelas {{kelas}}</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <p> <b>{{thema}}</b> </p>
          <p>{{paket_name}}</p>
          <p class="mb-0">Jumlah Soal</p>
          <p class="mb-4">{{jmlSoal}}</p>

          <p class="mb-0">Tipe Soal</p>
          <p class="mb-5">{{tipeSoal}}</p>

          <p>
            Pengatur Waktu 
            <label class="switch ml-3">
              <input type="checkbox" v-model="checked" v-on:change="checkedTime">
              <span class="slider round"></span>
            </label>
          </p>
          <nuxt-link v-if="loaders && !isTrial && !isLangganan" class="btn btn-primary mt-5" :to="'/tests/'+paketSoalId">Mulai</nuxt-link>
          <nuxt-link v-else-if="loaders && isTrial" class="btn btn-primary mt-5" :to="'/tests/trial/'+paketSoalId">Mulai</nuxt-link>
          <nuxt-link v-else-if="loaders && isLangganan" class="btn btn-primary mt-5" :to="'/tests/langganan/'+paketSoalId">Mulai</nuxt-link>
          <!-- <a v-if="loader" class="btn btn-primary mt-5" href="/tests">Mulai</a> -->
          <p v-else-if="loaders === 'error'" class="mt-5">Something Error!!!</p>
          <!-- <p v-else class="mt-5">Loading Soal...</p> -->
          <div v-else class="text-center">
            <loader :sHeight=100 ></loader>
            <p>Loading...</p>
            </div>
          
          
          <!-- <label v-else @click="go" class="btn btn-warning mt-5">Loading...</label> -->
          <div class="mt-3">
              <a href="javascript:void(0)" @click="batal" class="link-underline">Keluar</a>
              <!-- <nuxt-link class="link-underline" :to="'/modules/'+detailsSoal.module_id">Batal</nuxt-link> -->
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import loader from '~/components/Loading3.vue'

export default {
    layout: 'layout-test',
    // transition: 'page',
    data: () => ({
        loaders: false,
        matpel: 'Mata Pelajaran',
        kelas: 'kelas',
        title: 'title',
        thema: 'thema',
        isPaketSoalTrial: false,
        paket_name: 'loading paket name...',
        jmlSoal: 'Load jumlah soal...',
        tipeSoal: 'Single Choice',
        detailsSoal: {
          module_id: null,
          themaId: null,
          module_slug: null
        },
        paketSoalId: null,
        checked: false,
        isTrial: 'null',
        isLangganan: null
    }),
  head () {
    return {
      title: 'Konfirmasi Test',
      bodyAttrs: {
        class: 'bg-white'
      }
    }
  },
    components: {
      loader
    },
    async asyncData (){
      // let dataCon = 'this is data konfimasi'
        // console.log(dataCon)
      // return 'hello from asyncDATA'
    },
    computed: {
      // checked(){

      //   console.log('hei')
      //   return false
      // }
    },
    mounted () {

        let data = this.$store.getters['test/sessionThema']
        this.isLangganan = data.idSubs !== null;
        if (data.selectedPaketSoal.trial){
          // TRIAL
          this.matpel = data.matkul
          this.kelas = data.kelas
          this.title = data.matkul
          this.thema = data.theme_name

          this.detailsSoal.module_id = data.module_id
          this.detailsSoal.themaId = data.id
          this.detailsSoal.module_slug = data.module_slug

          this.getSoal()
          this.checkedTime()
        }else{

          // console.log(this.$store.getters['auth/isLogin'])
          if (this.$store.getters['auth/isLogin']) {
            switch (data.type) {
              case 'reguler':
                this.isLangganan = false
                break
              case 'langganan':
                break
            }
            // LANGGANAN DAN REGULER
            this.matpel = data.matkul
            this.kelas = data.kelas
            this.title = data.matkul
            this.thema = data.theme_name

            this.detailsSoal.module_id = data.module_id
            this.detailsSoal.themaId = data.id
            this.detailsSoal.module_slug = data.module_slug

            this.getSoal()
            this.checkedTime()
          } else {
            // this.$nuxt.$router.push('/404')
          }
        }
    },
    beforeMount () {
      // console.log(this.$store.getters['test/sessionThema'])
      if (this.$store.getters['test/sessionThema'] === null) {
          this.$store.dispatch('test/getSessionThema')
        }
    },
    methods: {
      batal(){
          this.$nuxt.$router.push('/modules/'+this.detailsSoal.module_slug)
          this.$store.commit('test/clearPaketSoal')
      },
      checkedTime(){
        // if (data){
        //   return false
        // }else{
        //   return true
        // }
        // console.log(this.checked)
        this.$store.commit('edutest/setCheckedTime', this.checked)
      },
      go(){
        // this.$nuxt.$routers.go({path: '/in-game'})
        // console.log('go')
      },
      getSoal(){
        // console.log(this.$store.getters['test/sessionThema'])
        this.$store.dispatch('test/setSoal', this.$store.getters['test/sessionThema'])
        .then(response => {
           // console.log(response)
          if (response.success){
            this.loaders = true
            this.jmlSoal = response.data.count
            this.paketSoalId = response.paketSoalId
            this.paket_name = response.paket_name_now
            this.isTrial = response.isTrial
          }else{
            // console.log(response)
            this.loaders = 'error'
            if (response.data.message === 'Token is Invalid'){
              this.$toast.show('Reconnecting... Please refresh the page.');
              this.reLogin()
              // this.getMyModule()
              // console.log('reloaddded')
            }
          }
            
            // console.log(this.paketSoalId)
            // console.log(this.$store.getters['test/soal'])
            
            })
      }
    }
}
</script>

