<template>
    <div>
<!--      <section class="sec-shop sec-tema">-->
<!--      <div class='container'>-->
<!--          <div class='row'>-->
<!--              <div class="col-md-2">-->
<!--                  <div class="logo-edutest">-->
<!--                          <img src="~/assets/img/test-logo.png" alt="edutest logo">-->
<!--                  </div>-->
<!--              </div>                           -->
<!--              <div class='col-md-10'>                -->
<!--                <ul class="tema-reg">-->
<!--                  <li class="tema-link__active"><nuxt-link to="/edutest">Galeri Tes</nuxt-link></li>-->
<!--                  <li><nuxt-link to="/users/my-modules">Koleksi Saya</nuxt-link></li>-->
<!--                  &lt;!&ndash;<li><a @click="checkMyModule" href="javascript:void(0)"><img src="~/assets/img/history.png" alt="history"></a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash; <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> &ndash;&gt;-->
<!--                  <li>-->
<!--                      <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>-->
<!--                      <div v-if="countOrder !== 0" class="count-notif">{{countOrder}}</div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash;<li>&ndash;&gt;-->
<!--                      &lt;!&ndash;<a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>       &ndash;&gt;-->
<!--                      &lt;!&ndash;&lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;&ndash;&gt;-->
<!--                  &lt;!&ndash;</li>&ndash;&gt;-->
<!--                </ul>            -->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </section>-->
        <section class="sec-content sec-content-tema">
  <div class='container'>
  <div class='row'>
  <div class='col'>
      <div class="wrapper-pilihan-test">
          <h1>Pilih tes yang ingin kamu kerjakan!</h1>
          <!-- <form action="#"> -->
            <div class="row">
              <div class="col-md-3">
                <label for="status">Status</label>
                <div class="test-select">
                    <select v-model="filter.status" v-on:change="categoryStatus(filter.status)" class="form-control" name="status" id="status">
                        <option value="0">Pilih</option>
                        <option value="UMUM">Umum</option>
                        <option value="PELAJAR">Pelajar</option>
                      </select>
                </div>
                <!-- <span>Selected: {{ filter.status }}</span> -->

              </div>
              <div class="col-md-3">
                  <label for="kelas">Kelas/Jenjang</label>
                  <div class="test-select">
                  <select v-model="filter.kelas" class="form-control" name="kelas" id="kelas" v-on:change="categoryKelas(filter.kelas)">
                    <option value="0">Semua</option>
                    <option v-for="(kelas, index) in listKelasAll" :key="index" :value="kelas.id">{{kelas.education.education_name+' '+kelas.name}}</option>
                    <!-- <option value="1">SD Kelas I</option>
                    <option value="2">SD Kelas II</option>
                    <option value="3">SD Kelas III</option>
                    <option value="4">SD Kelas IV</option>
                    <option value="5">SD Kelas V</option>
                    <option value="6">SD Kelas VI</option>
                    <option value="7">SMP Kelas VII</option>
                    <option value="8">SMP Kelas VIII</option>
                    <option value="9">SMP Kelas IX</option>
                    <option value="10">SMA Kelas X</option>
                    <option value="11">SMA Kelas XI</option>
                    <option value="12">SMA Kelas XII</option> -->
                  </select>
                </div>
                 <!-- <span>Selected: {{ filter.kelas }}</span> -->
                </div>
<!--                <div class="col-md-3">-->
<!--                    <label for="mata-pelajaran">Mata pelajaran</label>-->
<!--                    <div class="test-select">-->
<!--                      <select v-model="filter.matPel" class="form-control" name="mata-pelajaran" id="mata-pelajaran">-->
<!--                      <option value="0">Pilih</option>-->

<!--                      <option v-for="(matpel, index) in listMatpel" :key="index" :value="matpel.id">{{matpel.name}}</option>-->
<!--                      &lt;!&ndash; <option value="7">B. Inggris</option>-->
<!--                      <option value="6">Biologi</option>-->
<!--                      <option value="52">Ekonomi</option>-->
<!--                      <option value="2">Fisika</option>-->
<!--                      <option value="51">Geografi</option>-->
<!--                      <option value="20">IPA</option>-->
<!--                      <option value="21">IPS</option>-->
<!--                      <option value="5">Kimia</option>-->
<!--                      <option value="1">Matematika</option>-->
<!--                      <option value="16">Sejarah</option>-->
<!--                      <option value="53">Sosiologi</option>               &ndash;&gt;-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-md-3">
                  <div class="outer-btn-sbumit">
                      <input @click="getModuleEdutest(1)" type="submit" value="Cari Modul" class="btn btn-cari-modul">
                  </div>

                </div>
            </div>
          <!-- </form> -->
      </div>
  </div>
  </div>
  </div>
</section>

<!-- <section class="sec-step">
  <div class='container'>
    <div class='row'>
      <div class='col'>
          <div class="icon-step">
              <img src="~/assets/img/ste-icon.png" alt="icon-step" class="img-fluid">
          </div>
      </div>
    </div>
  </div>
</section> -->

<section class="sec-rekomendasi">
  <div class='container'>
    <div class="row">
      <div v-if="listModules.length !== 0" class="col-12 col-md-12">
        <div class="col col-rekomendasi">
          <div class="row">
            <div class="col-12 col-md-12">
              <h2>Rekomendasi</h2>
            </div>
          </div>

            <!-- row book -->
            <div class='row row-book'>
              <!-- col book -->

              <div v-for="(modules, index) in listModules" :key="index" class='col-6 col-lg-2 col-sm-6'>
                <!-- <nuxt-link :to="'/modules/'+modules.module_slug"> -->
                <div class="books">
                  <!-- book -->
                  <!-- <img src="~/assets/img/new-icon.png" alt="new indicator" class="new-indi"> -->
                  <div class="detail-buku">

                      <a @click="goToModules(modules.module_slug)"><img :src="basepathImg+modules.image" alt="Bank Soal" style="width: 100%; cursor: pointer;"></a>
                      <a class="split-text" @click="goToModules(modules.module_slug)" href="javascript:void(0)">{{modules.name}}</a>

                      <div class="penerbit">{{modules.publisher.name}}</div>
                      <div class="row">
                        <div class="main-crown" v-bind:class="moduleCategory(modules.module_category_id)">
                          <img src="~/assets/img/crown.png" alt="crown">
                        </div>
                        <span class="price">{{currencyFormat2(modules.price, 'Rp ')}} </span>
                      </div>
                      <div class="icon-desc">
                        <!-- <div class="desc-icon love-icon float-left">
                          <div class="row">
                              <img src="~/assets/img/Love.png" alt="love">
                               <h3 v-if="modules.like.length === 0">0</h3>
                              <h3 v-else>{{modules.like[0].likes}}</h3>
                          </div>
                        </div> -->
<!--                        <div class="desc-icon book-icon float-left" style="margin-left: -5px;">-->
<!--                            <div class="row">-->
<!--                                <img src="~/assets/img/book-icon.png" alt="book">-->
<!--                                <h3>0</h3>-->
<!--                            </div>-->
<!--                          </div>-->
                          <div class="clear"></div>
                      </div>
                  </div>
                  <!-- end book -->
                </div>
                <!-- </nuxt-link> -->
              </div>


              <!-- end col book -->
              <!-- col book -->


            </div>
<!--        PAGING-->
          <div class="text-center text-grey mb-4">
                            Menampilkan {{showingFromTo}} dari {{ttlSearch}} hasil
  <!--          Menampilkan 1 dari 20 hasil-->
          </div>
          <nav aria-label="Page navigation">
            <paginate
              v-model="pagePos"
              :page-count="ttlPages"
              :page-range="3"
              :margin-pages="1"
              :click-handler="getModuleEdutest"
              :next-text="nextText"
              :prev-text="prevText"
              :container-class="'pagination justify-content-center mb-4'"
              :page-class="'page-item'"
              :prev-class="'page-item'"
              :next-class="'page-item'"
              :page-link-class="'page-link'"
              :prev-link-class="'page-link'"
              :next-link-class="'page-link'"
              :first-button-text="firstBtnText"
              :last-button-text="lastBtnText"
              :hide-prev-next="true"
              :first-last-button="true"
            >
              <span slot="prevContent">Changed previous button</span>
              <span slot="nextContent">Changed next button</span>
            </paginate>
            <!-- <ul class="pagination justify-content-center mb-4"> -->

            <!-- <li class="page-item"><a class="page-link" href="#"><i class="ico ico-prev-first"></i></a></li>
            <li class="page-item">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="ico ico-page-prev"></i></a>
            </li> -->
            <!-- <li v-for="cntPages in ttlPages" :key="cntPages" :class="{'active': isActivePaging}" class="page-item" @click="pages(cntPages)"><a class="page-link " href="#">{{cntPages}}</a></li> -->
            <!-- <li @click="pages" class="page-item"><a class="page-link active" href="javascript:void(0)">1</a></li>
            <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li @click="pages" class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i class="ico ico-page-next"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#"><i class="ico ico-next-last"></i></a></li> -->
            <!-- </ul> -->
          </nav>
              <!-- end row book -->
        </div>
      </div>
        <div v-else-if="listModules.length === 0 && isEmpty" class="col col-rekomendasi">
          <div class="text-center">

            <div class="label-404"></div>
          </div>

        </div>
      <div v-else class="col col-rekomendasi">
        <div class="text-center">
          <loader></loader>
          <p>Loading...</p>
        </div>

      </div>
    </div>
  </div>
</section>

    </div>
</template>

<script>
import loader from '~/components/Loading3.vue'
export default {
    layout: 'base-layout-4',
    head () {
      return {
        title: 'Galeri Tes',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Galeri tes edutore.com' },
          // Google Meta tags
          { itemprop: 'name', content: 'Edutore by Gramedia | Edutest - Galeri test '},
          { itemprop: 'description', content: 'Halo ini adalah galeri edutest, terima kasih telah mengakses platform Edutore. Edutore adalah sebuah platform yang menyediakan berbagai macam layanan edukasi.'},
          { itemprop: 'image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg'},
          // Facebook Meta tags
          { property: 'og:title', content: 'Galeri Edutore' },
          { property: 'og:url', content: 'https://edutore.com' },
          { property: 'og:description', content: 'modules' },
          { property: 'og:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg' },
          // Twitter Meta tags
          { name: 'twitter:title', content: 'modules' },
          { name: 'twitter:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg' },
          { name: 'twitter:url', content: 'https://edutore.com' },
          { name: 'twitter:card', content: '' },
        ],
        bodyAttrs: {
            class: 'bg-grey'
        },
      }
    },
    components: {
      loader
    },
    data: () => ({
        swiperOption: null,
        listModules: [],
        isEmpty: false,
        basepathImg: null,
        countOrder: 0,
        filter: {
          matPel: '0',
          status: '0',
          kelas: '0'
        },
        listKelasPelajar: [],
        listKelasUmum: [],
        listKelasAll: [],
        listKelas: [],
        listStatus: [],
        listMatpel: [],
        cntReadModule: [], // variable read atau module yang sudah di kerjakan
        // PAGING VARIABLE AREA
        ttlSearch: 0,
        pageNumber: 0,
        ttlPages: 0,
        isActivePaging: false,
        showingFromTo: '0-0',
        valFrom: 1,
        valTo: 30,
        limitShow: 30,
        pagePos: 3
    }),
    computed: {
      firstBtnText(){
        return '<i class="ico ico-prev-first"></i>'
      },
      lastBtnText(){
        return '<i class="ico ico-next-last"></i>'
      },
      nextText(){
        return '<i class="ico ico-page-next"></i>'
      },
      prevText(){
        return '<i class="ico ico-page-prev"></i>'
      },
    },
    mounted(){
      this.getModuleEdutest(this.$route.params.page)
      this.getFilterKelas()
      this.getMatPel()
      this.initialize()
      // this.$nuxt.$router.push('')
      // console.log(this.$store.getters['auth/user'])
    },
    methods: {
      initialize(){
        this.basepathImg = this.$store.getters['setting/cdnBasePathModuleThumb']
      },
      categoryStatus(data){
        if (data === 'UMUM'){
          this.listKelas = this.listKelasUmum
        }else if (data === 'PELAJAR'){
           this.listKelas = this.listKelasPelajar
        }else{
           this.listKelas = this.listKelasAll
        }
        // console.log(data)
      },
      categoryKelas(data){
        // if (data !== 0){
        //   this.listKelas = this.listKelasUmum
        // }else if (data === 'PELAJAR'){
        //    this.listKelas = this.listKelasPelajar
        // }else{
        //    this.listKelas = this.listKelasAll
        // }
        // console.log(data)
      },
      filterJenjang(){
        this.listKelasAll.forEach(element => {
            // console.log(element.education.education_name)
            if (element.education.education_name === 'UMUM'){
                this.listKelasUmum.push(element)
            }else{
                this.listKelasPelajar.push(element)
            }
        });

        // console.log(this.listKelasPelajar)
        // console.log(this.listKelasUmum)
      },
      getMatPel() {
          // console.log('filter')
          this.$store.dispatch('edutest/getMatPel')
           .then(result => {
              if (result.success){
                  this.listMatpel = result.data.rows
                  // console.log(this.listMatpel)
                  // this.filterJenjang()
                  // console.log()
              } else {
                console.log('some error')
              }
            })
      },
      getFilterKelas() {
          // console.log('filter')
          this.$store.dispatch('edutest/getKelas')
           .then(result => {
              if (result.success){

                  this.listKelasAll = result.data.rows

                  // console.log(this.listKelasAll)
                  this.filterJenjang()

                  // console.log()
              } else {

              }
            })
      },
      searchBooks() {
          console.log('filter')
          this.$store.dispatch('edutest/getFilterModule', this.filter)
           .then(result => {
              if (result.success){
                  // console.log(result)
                  this.ttlSearch = result.data.count // Total Module
                  this.ttlPages = Math.ceil(this.ttlSearch/this.limitShow)
                  this.listModules = result.data.rows;
                  if (this.listModules.length === 0){
                      this.isEmpty = true;
                  }
              } else {

              }
            })
      },
       async getModuleEdutest(pageNum) {
        // this.$nuxt.$router.push('?page='+pageNum)
        this.$nuxt.$router.push('/edutest/'+pageNum)
        this.pagePos = parseInt(pageNum)
        // console.log(pageNum)
        // console.log(this.$route.params.page)
         window.scrollTo(0,0);
            this.$store.dispatch('edutest/getFilterModule', {pages: pageNum, filter: this.filter})
            .then(result => {
              // console.log(result)
              if (result.success){
                this.ttlSearch = result.data.count // Total Module
                this.ttlPages = Math.ceil(this.ttlSearch/this.limitShow) // Total Pages dan 4 adalah limit atau total yang di tambpilkan
                // console.log(this.ttlSearch % this.limitShow)
                // console.log(result.data.rows)
                this.listModules = this.shuffleArray(result.data.rows)
                // this.listModules = result.data.rows
                if (this.ttlPages === pageNum){
                  // console.log(this.ttlPages, pageNum)
                  if (this.ttlSearch % this.limitShow !== 0){
                    //console.log('hello')
                    this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-2))+(this.ttlSearch % this.limitShow))
                  }else{
                    this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-1)))
                  }
                }else{
                  // console.log(showingFromTo)
                  this.showingFromTo = this.valFrom+(this.limitShow*(pageNum-1)) +'-'+ (this.valTo+(this.limitShow*(pageNum-1)))
                  // console.log(showingFromTo)
                }

              } else {

              }
            })
            // const modules = await this.$axios.$get('modules/page=1/limit=10/sort_by=DESC')
            // this.modules = modules.data.rows
            // console.log(this.modules)
        },
        goToModules(idx){
          // console.log(this.listModules)
          this.$nuxt.$router.push('/modules/'+idx+'?type=0')
        },
        checkMyModule(){
            // console.log(this.myModule)
            this.myModule.forEach(element => {
              if (element.module_id === this.modules.id){
                this.isBuy = true
              }
              // console.log(this.isBuy)
            });
        }
    }
}
</script>
