<template>

</template>

<script>
import loader from '~/components/Loading3.vue'
export default {
    layout: 'base-layout-4',
    components: {
      loader
    },
    data: () => ({

    }),
    computed: {

    },
    mounted(){
      // this.$nuxt.$router.push('/edutest/1')
    },
    methods: {

    },
    created(){
      // console.log('testttttt')
      this.$nuxt.$router.push('/edutest/1')
    }
}
</script>
