
@font-face {
font-family: 'ElliotSans-Medium';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Medium'), url('../font/ElliotSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Medium Italic'), url('../font/ElliotSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Regular';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Regular'), url('../font/ElliotSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Italic'), url('../font/ElliotSans-RegularItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Light';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Light'), url('../font/ElliotSans-Light.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Light Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Light Italic'), url('../font/ElliotSans-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Bold';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Bold'), url('../font/ElliotSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Bold Italic'), url('../font/ElliotSans-BoldItalic.woff') format('woff');
}

body{
    font-family: 'ElliotSans-Regular';
    font-size: 14px;
    font-weight: normal;
    color: #7F7F7F;
}

.main-content{
    /* height: 100% !important; */
    display: flex
}

.bg-dark-grey{
    background-color: #707070;
}

.bg-grey{
    background-color: #F3F3F3;
}

.bg-white{
    background-color: #fff;
}

.bg-image{
    background: url('../img/edu-owl.png')  #F3F3F3 no-repeat;
    background-position-x: -425px;
    background-position-y: 70px;
}

.text-grey{
    color: #BFBFBF;
}

.login-container{
    background: #fff;
    width: 400px;
    padding: 20px;
    margin: auto;
}

.register-container{
    background: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;

}

.login-container:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-container:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px #dedede solid;
}

.btn-primary {
    color: #fff;
    background-color: #557CBF;
    border-color: #557CBF;
    border-radius: 10px;
}

.form-control{
    border-radius: 10px;
}

.link-underline{
    text-decoration: underline;
}

.container-fl{
    width: 1300px;
}

.title{
    color: #557CBF;
    font-size: 22px;

}

.text-24{
    font-size: 24px;
}

.text-18{
    font-size: 18px;
}

.nav-top-item {
    padding-left: 30px;
    padding-right: 30px;
}

.nav-top-item:last-child {
    padding-right: 0;
}

.navbar-light .navbar-nav .active > .nav-link{
    color: #FEC810;
}

.swiper-button-next, .swiper-button-prev {
    width: 47px;
    height: 47px;
}
.swiper-button-next{
    background:url('../img/arrow-next.png') no-repeat !important;
    right: 100px;
}

.swiper-button-prev{
    background:url('../img/arrow-prev.png') no-repeat !important;
    left: 97px;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 21px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fec810;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;

}

.title-block{
    background-color: #009FE3;
    color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.content-box{
    border-radius: 10px;
    background-color: #fff;
    color: #7F7F7F;
}

.p-99{
    padding: 35px 53px;
}

.prod-title{
    color: #424242;
}

.ket-pr{
    color: #808080;
    font-size: 12px;
}

.heart-ico{
    color: #E50064;
}

.bg-blue{
    background: #557CBF;
    color: #fff;
}

.btn-warning{
    background-color: #FEC810;
    border-radius: 10px;
    color: #fff;
}

.logo-sponsor{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.text-3812{
    font-size: 38px;
    font-family: "ElliotSans-Bold";
}

.p-01293{
    padding: 40px 20px;
}

.foo-lists{
    border-right: 1px #CCCCCC solid;
}
.foo-lists:last-child{
    border-right: 0;
}

.footer .nav-link{
    color: #404040;
}

.language{
    color: #557CBF !important;
}

.nav-product{
    position: relative;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FEC810;
}

.product-menu {
    display: none;
    position: absolute;
    width: 782px;
    right: -240px;
    background: #fff;
    padding: 83px;
    border-radius: 10px;
    top: 50px;
    padding-top: 55px;
    text-align: center;
    font-size: 12px;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    padding-bottom: 55px;
}

.produk-drop{
    width: 782px;
    left: -441px;
}

.product-menu.show {
    display: inline;
}

.close-product {
    right: 18px;
    position: absolute;
    top: 11px;
    cursor: pointer;
}

.is-mobile{
    display: none;
}

.dropdown-menu .nav-akun {
    position: relative;
    width: 52px;
    height: 52px;
    margin: auto;
    border-radius: 50%;
    border: 3px #577CBD solid;
}

.dropdown-menu .nav-akun:before {
    position: absolute;
    content: "";
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 1px #577CBD solid;
    top: -9.5px;
    left: -8.5px;
}

.dropdown-menu small{
    color: #CFCFCF;
}

.dropdown-menu p{
    color: #797979;
    font-family: 'ElliotSans-Bold';
}

.input-group.search {
    border: 1px #ced4da solid;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.input-group.search .form-control{
    border: 0;
    height: calc(1.3rem + 2px);
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-group.search .btn{
    padding: 2rem .75rem;
    font-size: 1rem;
    padding: .3rem .75rem;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px #CCCCCC solid;
    padding-bottom: 0;
    padding-top: 0;
}

.input-group.search .btn-cate{
    color: #404040;
}

.form-control:focus, .btn:focus {
    box-shadow: none;
}

.btn-search {
    border: 0;
    border-radius: 50%;
    height: 23px;
    width: 24px;
    font-size: 12px;
    background: #FEC810;
    color: #fff;
    margin-right: 5px;
}

.search-icos{
    margin-left: 14px;
    font-size: 15px;
    cursor: pointer;
}

.search-item {
    width: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.search-item.show {
    width: 300px;
    padding: 0;
    position: relative;
    overflow: initial;

}

.item-search.show {
    display: none;
}


.is-desktop .dropdown-menu {
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #CCCCCC;
    top: 46px;
}


.search .dropdown-menu {
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #CCCCCC;
    top: 30px;
}

.search .dropdown-menu .dropdown-item:hover {
    background-color: #CCCCCC;
    color: #fff;
}

.ico-shopping{
    background: url('../img/shoppingbag@3x.png') no-repeat center center;
    background-size: contain;
}

.ico-notif{
    background: url('../img/notifikasi@3x.png') no-repeat center center;
    background-size: contain;
}

.ico-history{
    background: url('../img/history@3x.png') no-repeat center center;
    background-size: contain;
}

.ico-heart{
    background: url('../img/VectorHeart@3x.png') no-repeat center center;
    background-size: contain;
    width: 23px;
    height: 25px;
    margin-right: 5px;
}

.ico-todo{
    background: url('../img/ico-todo.png') no-repeat center center;
    background-size: contain;
    width: 23px;
    height: 25px;
    margin-right: 5px;
}

.ico-edutest{
    background: url('../img/edutest-ico.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 24px;

}

.ico-eduplace{
    background: url('../img/eduplace-ico.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 24px;

}

.ico-label-new{
    background: url('../img/label-new.png') no-repeat center center;
    background-size: contain;
    width: 68px;
    height: 35px;
}

.ico-label-best{
    background: url('../img/label-best.png') no-repeat center center;
    background-size: contain;
    width: 58px;
    height: 35px;
}

.ico-prev-first{
    background: url('../img/prev-first.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-next-last{
    background: url('../img/next-last.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-page-next{
    background: url('../img/nexts.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-page-prev{
    background: url('../img/prevs.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.label-crown-1{
    background: url('../img/label-crown-1.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.label-crown-2{
    background: url('../img/label-crown-3.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.label-crown-3{
    background: url('../img/label-crown-2.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.ico9019{
    width: 18px;
    height: 21px;
}

.ico{
    display: inline-block;
    vertical-align: middle;
}

.card-header{
    padding: 0;
}

.tab-da{
    border-radius: 10px;
    background: #fff;

}

.tab-da .nav-link {
    border-radius: 0;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'ElliotSans-Bold';
    color: #CCCCCC;
}

.tab-da .nav-link.active, .tab-da .nav-link:hover {
    background-color: transparent;
    color: #FEC810;
    border-bottom: 4px #FEC810 solid;
}

.tab-das{
    border-radius: 10px;
    background: #fff;
    padding: 17px 30px;
    margin-top: 20px;
}

.selection .selection-list {
    border: 1px #CCC solid;
    border-radius: 10px;
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 12px;
}

.selection .del-all {
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.close-selection {
    font-size: 7px;
    background: #F2F2F2;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 4px;
    cursor: pointer;
}

.product-content{
    position: relative;
}

.product-content .title-prod{
    font-family: 'ElliotSans-Bold';
    color: #404040;
    font-size: 13px;
    margin-top: 15px;
}

.price{
    font-size: 14px;
    color: #557CBF;
}


.label-edutest{
    background: #1C9BD6;
    position: absolute;
    text-align: center;
    height: 53px;
    padding: 7px 15px;
    border-radius: 10px;
    top: 0;
}

.label-eduplace{
    background: #802C82;
    position: absolute;
    text-align: center;
    height: 53px;
    padding: 7px 15px;
    border-radius: 10px;
    top: 0;
}

.img-content {
    position: relative;
    padding-top: 33px;
}

.img-content img {
    border-radius: 10px;
}

.label-new {
    position: absolute;
    right: 0;
}

.radius-10{
    border-radius: 10px;
}

.page-link{
    color: #CDCDCD;
    font-family: 'ElliotSans-Bold';
    font-size: 16px;
    padding: .5rem 1.5rem;
}

.page-link:hover, .page-link.active  {
    z-index: 2;
    color: #fec810;
    background-color: transparent;
    text-decoration: underline;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter-menu {
    background: #fff;
    border-radius: 10px;
}

.cat-title{
    font-family: 'ElliotSans-Bold';
    margin-bottom: 0;
    color: #404040;
    padding-top: 20px;
    padding-bottom: 15px;
}

.left-menu-link {
    color: #404040;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px #CCC solid;
    position: relative;
}


.left-menu-link[data-toggle].collapsed:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.3;
    font-weight: 900;
    color: #707070;
}
.left-menu-link[data-toggle]:not(.collapsed):after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.3;
    font-weight: 900;
    color: #707070;
}

.submenu-cat .left-menu-link{
    padding-top:15px;
    padding-bottom:15px;
    text-align: left !important;
    font-size: 13px;
}

.custom-control-label::before, .custom-control-label::after{
    top: 0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FEC810;
}

.danger-link{
    color: #FEC810;
    text-decoration: underline;
}

.danger-link:hover{
    color: rgb(199, 155, 9);
    text-decoration: underline;
}

.form-control.form-filter {
    border-radius: 0;
    border: 0;
    border-bottom: 1px #CCCCCC solid;
    font-size: 14px;
    padding-left: 0;
    font-size: 13px;

}

.form-control.form-filter::placeholder {
    color: #CCCCCC;
}

.lbl-big{
    color: #404040;
    font-family: 'ElliotSans-Bold';
}

.label-404 {
    background: url('../img/not-found.png') no-repeat center center;
    height: 312px;
    width: 377px;
    background-size: contain;
    margin: auto;
    margin-bottom: 93px;
    margin-top: 50px;

}

.history-404 {
    background: url('../img/history-404-.png') no-repeat center center;
    height: 312px;
    width: 377px;
    background-size: contain;
    margin: auto;
    margin-bottom: 93px;
    margin-top: 50px;
}

.sub-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-nav .nav-link:hover, .sub-nav .nav-link.active {
    background: #00000016
}

.sub-nav .dropdown-menu{
    border-radius: 10px;
    width: 322px;
}

.notif-head{
    padding: 15px;
    padding-top: 5px;
}

.notif-tt{
    color: #707070;
    font-size: 13px;
}
.notif-read{
    font-size: 11px;
}

.form-dark {
    border-radius: 70px;
    font-size: 14px;
    background: #E3E3E3;
    border-color: #E3E3E3;
}

.history-container{
    padding: 20px 30px;

}

.history-date{
    color:#808080;
}


.history-list{
    border-bottom: 1px #E1E1E1 solid;
    padding: 15px 0;
}

.progress-rounded {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: none;
    box-shadow: none;
    position: relative;
  }
  .progress-rounded:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #CCCCCC;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress-rounded > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-rounded .progress-left {
    left: 0;
  }
  .progress-rounded .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #D0FF7E;
  }
  .progress-rounded .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress-rounded .progress-right {
    right: 0;
  }
  .progress-rounded .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  .progress-rounded .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: normal;
    font-family: 'ElliotSans-Bold';
    color: #000000;

  }

  /* This for loop creates the 	necessary css animation names
   Due to the split circle of progress-left and progress right, we must use the animations on each side.
   */
  .progress-rounded[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180);
      transform: rotate(180deg);
    }
  }
  .progress-rounded {
    margin-bottom: 1em;
  }


.progess-mg {
    max-width: 114px;
    margin-left: auto
}

.time-mg {
    max-width: 114px;
}

.prmoas {
    max-width: 114px;
    flex: 114px;
}

.text-20{
    font-size: 18px;
}

.notif-ttl{
    font-size: 17px;
    color: #404040;
}

.notif-list{
    padding: 1.5rem;
    border-bottom: 1px #BFBFBF solid;
}

.notif-we{
    background: #E9EEF7;
}

.notif-fe{
    background: rgba(0, 0, 0, 0.11);
}

.bg-game{
    background: url('../img/bg-game.png') center center no-repeat;
    background-size: 2799px;
}
