
@font-face {
font-family: 'ElliotSans-Medium';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Medium'), url('../font/ElliotSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Medium Italic'), url('../font/ElliotSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Regular';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Regular'), url('../font/ElliotSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Italic'), url('../font/ElliotSans-RegularItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Light';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Light'), url('../font/ElliotSans-Light.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Light Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Light Italic'), url('../font/ElliotSans-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'ElliotSans-Bold';
font-style: normal;
font-weight: normal;
src: local('ElliotSans-Bold'), url('../font/ElliotSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'Elliot Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Elliot Sans Bold Italic'), url('../font/ElliotSans-BoldItalic.woff') format('woff');
}

body{
    font-family: 'ElliotSans-Regular';
    font-size: 14px;
    font-weight: normal;
    color: #7F7F7F;
    height: 100%;
}

.bg-gold{
    background-color: #D5A714;
}

.bg-green{
  background-color: #7CFC00;
}

.bg-brown{
    background-color: #944F30;
}

.bg-blue{
    background-color: #557CBF;
}

.bg-dark-grey{
    background-color: #707070;
}

.bg-grey{
    background-color: #F3F3F3;
}

.bg-white{
    background-color: #fff;
}

.bg-image{
    background: url('../img/edu-owl.png')  #F3F3F3 no-repeat;
    background-position-x: -425px;
    background-position-y: 70px;
}

.text-grey{
    color: #BFBFBF;
}

.text-green{
  color: #008000;
}

.login-container{
    background: #fff;
    padding: 20px;
    margin: auto;
}

.register-container{
    background: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}

.login-container:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login-container:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px #dedede solid;
}

.btn-primary {
    color: #fff;
    background-color: #557CBF;
    border-color: #557CBF;
    border-radius: 10px;
}

.btn-grey {
  color: #fff;
  background-color: #808080;
  border-color: #808080;
}

.btn-grey:hover {
  color: #fff;
  background-color: #707070;
}

.form-control{
    border-radius: 10px;
}

.link-underline{
    text-decoration: underline;
}

.container-fl{
    width: 1300px;
}

.title{
    color: #557CBF;
    font-size: 22px;

}

.text-24{
    font-size: 24px;
}

.text-18{
    font-size: 18px;
}

.nav-top-item {
    padding-left: 30px;
    padding-right: 30px;
}

.tema-paket-soals{
  cursor: pointer;
}

.nav-top-item:last-child {
    padding-right: 0;
}

.navbar-light .navbar-nav .active > .nav-link{
    color: #FEC810;
}

.swiper-button-next, .swiper-button-prev {
    width: 47px;
    height: 47px;
}
.swiper-button-next{
    background:url('../img/arrow-next.png') no-repeat !important;
    right: 100px;
}

.swiper-button-prev{
    background:url('../img/arrow-prev.png') no-repeat !important;
    left: 97px;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 21px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fec810;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;

}


.title-block{
    background-color: #009FE3;
    color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.content-box{
    border-radius: 10px;
    background-color: #fff;
    color: #7F7F7F;
}

.p-99{
    padding: 35px 53px;
}

.prod-title{
    color: #424242;
}

.ket-pr{
    color: #808080;
    font-size: 12px;
}

.heart-ico{
    color: #E50064;
}
.heart-ico-empty{
    color: white;
}

.bg-blue{
    background: #557CBF;
    color: #fff;
}

.btn-warning{
    background-color: #FEC810;
    border-radius: 10px;
    color: #fff;
}

.logo-sponsor{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.text-3812{
    font-size: 38px;
    font-family: "ElliotSans-Bold";
}

.p-01293{
    padding: 40px 20px;
}

.foo-lists{
    border-right: 1px #CCCCCC solid;
}
.foo-lists:last-child{
    border-right: 0;
}

.footer .nav-link{
    color: #404040;
}

.language{
    color: #557CBF !important;
}

.nav-product{
    position: relative;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FEC810;
}

.product-menu {
    display: none;
    position: absolute;
    width: 782px;
    right: -240px;
    background: #fff;
    padding: 83px;
    border-radius: 10px;
    top: 50px;
    padding-top: 55px;
    text-align: center;
    font-size: 12px;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.19);
    padding-bottom: 55px;
}

.produk-drop{
    width: 782px;
    left: -441px;
}

.product-menu.show {
    display: inline;
}

.close-product {
    right: 18px;
    position: absolute;
    top: 11px;
    cursor: pointer;
}

.is-mobile{
    display: none;
}

.dropdown-menu .nav-akun {
    position: relative;
    width: 52px;
    height: 52px;
    margin: auto;
    border-radius: 50%;
    border: 3px #577CBD solid;
    overflow: hidden;
}

.dropdown-menu .nav-akun:before {
    position: absolute;
    content: "";
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 1px #577CBD solid;
    top: -9.5px;
    left: -8.5px;
}

.dropdown-menu small{
    color: #CFCFCF;
}

.dropdown-menu p{
    color: #797979;
    font-family: 'ElliotSans-Regular';
}

.input-group.search {
    border: 1px #ced4da solid;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.input-group.search .form-control{
    border: 0;
    height: calc(1.3rem + 2px);
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.input-group.search .btn{
    padding: 2rem .75rem;
    font-size: 1rem;
    padding: .3rem .75rem;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px #CCCCCC solid;
    padding-bottom: 0;
    padding-top: 0;
}

.input-group.search .btn-cate{
    color: #404040;
}

.form-control:focus, .btn:focus {
    box-shadow: none;
}

.btn-search {
    border: 0;
    border-radius: 50%;
    height: 23px;
    width: 24px;
    font-size: 12px;
    background: #FEC810;
    color: #fff;
    margin-right: 5px;
}
.search-icos{
    margin-left: 14px;
    font-size: 15px;
    cursor: pointer;
}

.search-item {
    width: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.search-item.show {
    width: 300px;
    padding: 0;
    position: relative;
    overflow: initial;

}

.item-search.show {
    display: none;
}


.is-desktop .dropdown-menu {
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    border-color: #CCCCCC;
    top: 46px;
}


.search .dropdown-menu {
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #CCCCCC;
    top: 30px;
}

.search .dropdown-menu .dropdown-item:hover {
    background-color: #CCCCCC;
    color: #fff;
}

.ico-shopping{
    background: url('../img/shoppingbag@3x.png') no-repeat center center;
    background-size: contain;
}
.ico-notif{
    background: url('../img/notifikasi@3x.png') no-repeat center center;
    background-size: contain;
}

.ico-history{
    background: url('../img/history@3x.png') no-repeat center center;
    background-size: contain;
}

.ico-heart{
    background: url('../img/VectorHeart@3x.png') no-repeat center center;
    background-size: contain;
    width: 23px;
    height: 25px;
    margin-right: 5px;
}

.ico-star{
    background: url('../img/icon-star.png') no-repeat center center;
    background-size: contain;
    width: 31px;
    height: 31px;
    margin-right: 5px;
}

.ico-timer{
    background: url('../img/pause.png') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.ico-report-soal{
  background: url('../img/report-soal.png') no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.ico-twitter{
    background: url('../img/ico-twitter.png') no-repeat center center;
    background-size: contain;
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.ico-facebook{
    background: url('../img/ico-facebook.png') no-repeat center center;
    background-size: contain;
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.ico-gplus{
    background: url('../img/ico-gplus.png') no-repeat center center;
    background-size: contain;
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.nilai-a{
    background: url('../img/nilai-a.png') no-repeat center center;
    background-size: contain;
    width: 449px;
    height: 329px;
}

.nilai-b{
    background: url('../img/nilai-b.png') no-repeat center center;
    background-size: contain;
    width: 449px;
    height: 329px;
}

.nilai-c{
    background: url('../img/nilai-c.png') no-repeat center center;
    background-size: contain;
    width: 449px;
    height: 329px;
}

.nilai-d{
    background: url('../img/nilai-d.png') no-repeat center center;
    background-size: contain;
    width: 449px;
    height: 329px;
}

.salah{
    background: url('../img/salah.png') no-repeat center center;
    background-size: contain;
    width: 21px;
    height: 21px;
    margin-right: 5px;
    position: absolute;
    right: -9px;
    top: -7px;
}

.benar{
    background: url('../img/benar.png') no-repeat center center;
    background-size: contain;
    width: 21px;
    height: 21px;
    margin-right: 5px;
    position: absolute;
    right: -9px;
    top: -7px;
}

.ico-todo{
    background: url('../img/ico-todo.png') no-repeat center center;
    background-size: contain;
    width: 23px;
    height: 25px;
    margin-right: 5px;
}

.quiz-next{
    background: url('../img/quiz-next.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 46px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -91px;
    z-index: 99;
}

.quiz-prev{
    background: url('../img/quiz-prev.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 46px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -91px;
    z-index: 99;
}

.ico-edutest{
    background: url('../img/edutest-ico.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 24px;

}

.ico-eduplace{
    background: url('../img/eduplace-ico.png') no-repeat center center;
    background-size: contain;
    width: 46px;
    height: 24px;

}

.ico-label-new{
    background: url('../img/label-new.png') no-repeat center center;
    background-size: contain;
    width: 68px;
    height: 35px;
}

.ico-label-best{
    background: url('../img/label-best.png') no-repeat center center;
    background-size: contain;
    width: 58px;
    height: 35px;
}

.ico-prev-first{
    background: url('../img/prev-first.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-next-last{
    background: url('../img/next-last.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-page-next{
    background: url('../img/nexts.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.ico-page-prev{
    background: url('../img/prevs.png') no-repeat center center;
    background-size: contain;
    width: 9px;
    height: 15px;
}

.label-crown-1{
    background: url('../img/label-crown-1.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.label-crown-2{
    background: url('../img/label-crown-3.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.label-crown-3{
    background: url('../img/label-crown-2.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.ico9019{
    width: 18px;
    height: 21px;
}

.ico{
    display: inline-block;
    vertical-align: middle;
}

.card-header{
    padding: 0;
}

.tab-da{
    border-radius: 10px;
    background: #fff;

}

.tab-da .nav-link {
    border-radius: 0;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-family: 'ElliotSans-Bold';
    color: #CCCCCC;
}

.tab-da .nav-link.active, .tab-da .nav-link:hover {
    background-color: transparent;
    color: #FEC810;
    border-bottom: 4px #FEC810 solid;
}

.tab-das{
    border-radius: 10px;
    background: #fff;
    padding: 17px 30px;
    margin-top: 20px;
}

.selection .selection-list {
    border: 1px #CCC solid;
    border-radius: 10px;
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #808080;
    font-size: 12px;
}

.selection .del-all {
    padding-left: 11px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.close-selection {
    font-size: 7px;
    background: #F2F2F2;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 4px;
    cursor: pointer;
}

.product-content{
    position: relative;
}

.product-content .title-prod{
    font-family: 'ElliotSans-Bold';
    color: #404040;
    font-size: 13px;
    margin-top: 15px;
}

.price{
    font-size: 14px;
    color: #557CBF;
}

.expired-date{
  font-size: 12px;
  color: #bf221e;
}


.label-edutest{
    background: #1C9BD6;
    position: absolute;
    text-align: center;
    height: 53px;
    padding: 7px 15px;
    border-radius: 10px;
    top: 0;
}

.label-eduplace{
    background: #802C82;
    position: absolute;
    text-align: center;
    height: 53px;
    padding: 7px 15px;
    border-radius: 10px;
    top: 0;
}

.img-content {
    position: relative;
    padding-top: 33px;
}

.img-content img {
    border-radius: 10px;
}

.label-new {
    position: absolute;
    right: 0;
}

.radius-10{
    border-radius: 10px;
}

.pagination .page-item{
  width: 10%;
}
.page-link{
    color: #CDCDCD;
    font-family: 'ElliotSans-Bold';
    font-size: 10px;
    padding: .5rem 0;
  line-height: 1.50 !important;
  text-align: center;
}

.page-link:hover, .page-link.active  {
    z-index: 2;
    color: #fec810;
    background-color: transparent;
    text-decoration: underline;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filter-menu {
    background: #fff;
    border-radius: 10px;
}

.cat-title{
    font-family: 'ElliotSans-Bold';
    margin-bottom: 0;
    color: #404040;
    padding-top: 20px;
    padding-bottom: 15px;
}

.left-menu-link {
    color: #404040;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px #CCC solid;
    position: relative;
}


.left-menu-link[data-toggle].collapsed:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.3;
    font-weight: 900;
    color: #707070;
}
.left-menu-link[data-toggle]:not(.collapsed):after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.3;
    font-weight: 900;
    color: #707070;
}

.submenu-cat .left-menu-link{
    padding-top:15px;
    padding-bottom:15px;
    text-align: left !important;
    font-size: 13px;
}

.custom-control-label::before, .custom-control-label::after{
    top: 0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FEC810;
}

.danger-link{
    color: #FEC810;
    text-decoration: underline;
}

.danger-link:hover{
    color: rgb(199, 155, 9);
    text-decoration: underline;
}

.form-control.form-filter {
    border-radius: 0;
    border: 0;
    border-bottom: 1px #CCCCCC solid;
    font-size: 14px;
    padding-left: 0;
    font-size: 13px;

}

.form-control.form-filter::placeholder {
    color: #CCCCCC;
}

.lbl-big{
    color: #404040;
    font-family: 'ElliotSans-Bold';
}

.label-404 {
    background: url('../img/not-found.png') no-repeat center center;
    height: 312px;
    width: 377px;
    background-size: contain;
    margin: auto;
    margin-bottom: 93px;
    margin-top: 50px;

}

.history-404 {
    background: url('../img/history-404-.png') no-repeat center center;
    height: 312px;
    width: 377px;
    background-size: contain;
    margin: auto;
    margin-bottom: 93px;
    margin-top: 50px;
}

.sub-nav .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sub-nav .nav-link:hover, .sub-nav .nav-link.active {
    background: #00000016
}

.sub-nav .dropdown-menu{
    border-radius: 10px;
    width: 322px;
}

.notif-head{
    padding: 15px;
    padding-top: 5px;
}

.notif-tt{
    color: #707070;
    font-size: 13px;
}
.notif-read{
    font-size: 11px;
}

.form-dark {
    border-radius: 70px;
    font-size: 14px;
    background: #E3E3E3;
    border-color: #E3E3E3;
}

.history-container{
    padding: 20px 30px;
    /* margin-b */
}

.history-date{
    color:#808080;
}


.history-list{
    border-bottom: 1px #E1E1E1 solid;
    padding: 15px 0;
}



.progress-rounded {
    width: 90px;
    height: 90px;
    line-height: 90px;
    background: none;
    box-shadow: none;
    position: relative;
  }
  .progress-rounded:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid #CCCCCC;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress-rounded > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-rounded .progress-left {
    left: 0;
  }
  .progress-rounded .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #D0FF7E;
  }
  .progress-rounded .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress-rounded .progress-right {
    right: 0;
  }
  .progress-rounded .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  .progress-rounded .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: normal;
    font-family: 'ElliotSans-Bold';
    color: #000000;

  }

  /* This for loop creates the 	necessary css animation names
   Due to the split circle of progress-left and progress right, we must use the animations on each side.
   */
  .progress-rounded[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress-rounded[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
  }
  .progress-rounded[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress-rounded[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
  }
  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180);
      transform: rotate(180deg);
    }
  }
  .progress {
    margin-bottom: 1em;
  }


.progess-mg {
    max-width: 114px;
    margin-left: auto
}

.time-mg {
    max-width: 114px;
}

.prmoas {
    max-width: 114px;
    flex: 114px;
}

.text-20{
    font-size: 18px;
}

.notif-ttl{
    font-size: 17px;
    color: #404040;
}

.notif-list{
    padding: 1.5rem;
    border-bottom: 1px #BFBFBF solid;
}

.notif-we{
    background: #E9EEF7;
}

.notif-fe{
    background: rgba(0, 0, 0, 0.11);
}

.bg-game{
    background: url('../img/bg-game.png') repeat;
    width: 100%;


}

/*.bg-nilai{*/
/*    background: url('../img/bg-nilai.png') center center no-repeat;*/
/*    !* background-size: cover; *!*/
/*    !* height: 100vh; *!*/
/*    color:#fff;*/
/*}*/

.bg-nilai{
    background: url('../img/pattern-hasil.jpg') repeat;
    color:#fff;
    width: 100%;
}

.bg-tests{
    background: #1D9CD7;
}

.text-blue{
    color: #1D9CD7;
}

.text-tosca-green{
  color: #2ED1A2 !important;
}

.progress-grad .progress-bar{
    background: rgb(255,202,20);
    background: linear-gradient(90deg, rgba(255,202,20,1) 0%, rgba(0,234,121,1) 100%);
}

.progress-grad{
    border-radius: 20px;
    width: 93%;
    margin: auto;
    height: .8rem;
}
.soal-contain{
    position: relative;
    /* position: fixed; */
    margin-top: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: -1px 2px 22px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 2px 22px -1px rgba(0,0,0,0.20);
    box-shadow: -1px 2px 22px -1px rgba(0,0,0,0.20);
    padding: 30px 20px;
    font-size: 17px;
    height: 550px;
    margin-bottom: 80px;
    /* margin-right: 300px; */
    /* width: 800px; */
    /* left: 23%; */

}

.answer{
    position: relative;
    margin-left: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
    clear: both;
    min-height: 5px;
}

.lst-ans{
    position: relative;
    border-radius: 20px;
    -webkit-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    padding: 5px 15px;
    margin-right: 15px;
    margin-left: 10px;
    background: #fff;
}

.user-prop{
    position: fixed;
    bottom: 16px;
    left: 19px;
    width: 55px;
}

.user-prop:before{
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #7ad7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%,#7ad7ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#7ad7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7ad7ff',GradientType=1 ); /* IE6-9 */
    border-radius: 50%;
    left: -39px;
    bottom: -51px;
    z-index: -1;
}

.modal-benar{
    border-radius: 30px;
    background: #C1FF56;
    text-align: center;
}

.modal-salah{
    border-radius: 30px;
    background: #D2202C;
    text-align: center;
}

.form-quiz{
    border-radius: 30px;
    background: #F7F7F7;
}


.btn-white{
    border-radius: 30px;
    background: #fff;
    -webkit-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    padding-left: 40px;
    padding-right: 40px;
}

.btn-white-2{
    background: #fff;
    color: #808080;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.btn-white:disabled{
    border-radius: 30px;
    background: #D9D9D9;
    -webkit-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    -moz-box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    box-shadow: -1px 2px 13px 2px rgba(0,0,0,0.20);
    padding-left: 40px;
    padding-right: 40px;
}

.koreksi-img{
    width: 400px;
    margin: auto;
}

.pljran{
    font-size: 33px;
    margin-bottom: 0;
    font-family: 'ElliotSans-Bold';
    color: #404040;
}

.kls{
    font-size: 23px;
}

.koreksi-txt hr{
    border-bottom: 4px solid #1D9CD7;
    margin: 0;
}

.koreksi-txt{
    text-align: right;
    width: 390px;
    margin-top: 25px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    margin-top: 7px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -8px;
    bottom: -5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.38);
    box-shadow: 0px 5px 14px -2px rgba(0,0,0,0.38);
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .finish{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000d8;
    z-index: 999;
    text-align: center;
  }

  .finish-contnet{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .finish-contnet h3{
      font-size: 33px;
      color: #24E569;
      margin-bottom: 60px;
  }

  .text-33{
    font-size: 30px;
    font-family: 'ElliotSans-Bold';
  }

  .score{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+79,ffffff+100&0.7+0,0.7+79,0+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 79%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 79%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 79%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    color: #fff;
    font-family: 'ElliotSans-Bold';
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 217px;
    margin-top: 80px;
}
.adasd{
    padding-left: 120px;
}

.score-lst{
    margin-left: 140px;
    margin-right: 120px;
    border-top: 1px #fff solid;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.score-lst:last-child{
    border-bottom: 1px #fff solid;
}

.nilai{
    font-size: 450px;
    line-height: 450px;
    text-align: center;
}

.msjj{
    padding-right: 120px;
}

.text-yellow{
    color: #FEC601;
}

.score-center{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+19,ffffff+79,ffffff+100&0+0,0.7+19,0.7+79,0+100 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 19%, rgba(255,255,255,0.7) 79%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 19%,rgba(255,255,255,0.7) 79%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 19%,rgba(255,255,255,0.7) 79%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

/* css yos */
.merah{
    color: red;
}
.overlay__laporkan-masalah {
    margin: 0 auto;
    background-color: rgba(0,0,0, .4);
    position: absolute;
    z-index: 999;
    top: 86px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 45px;
    overflow: auto;
}
.laporkan-masalah {
    width: 100%;
    background-color: #fff;
    padding: 58px;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
form.frm-masalah textarea {
    max-height: 130px;
}
#upload-masalah{
    visibility: hidden;
}
.modal-content__masalah {
    border-radius: 15px;
    border: none;
}
.modal-content__masalah h5 {
    font-size: 16px;
    font-weight: 600;
}
.modal-header .close {
    padding: 1rem;
    margin: 0;
    position: absolute !important;
    right: 10px;
    top: 0;
}
.modal-content.modal-content__masalah .modal-header {
    padding: 20px 0 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 1rem;
    border-bottom: none;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-content__masalah .modal-body {
    font-size: 15px;
    font-weight: 600;
    color: #557CBE;
}
.modal-content__masalah .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 0 15px;
}
.frm-masalah .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    margin: 0 auto;
}
.edu-overlay{
    background-color: rgba(0,0,0,.75) !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    padding-left: 17px;
    background-color: rgba(0,0,0, .09);
}
ul.nav-cart li:nth-child(2) {
    background-color: rgba(0,0,0,.25);
}
.custom-control-label::before {
    position: absolute;
    top: 0;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0, .6);
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    padding-left: 12px;
}
.shop-fixed{
    position: fixed;
    margin-top: 85px;
    width: 100%;
    z-index: 9999;
}
.ringkasan-belanja {
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0, .25);
}

.logo-edutest {
    display: flex;
    align-items: center;
    height: 100%;
}
.tema-reg {
    margin: 0;
}
.tema-reg li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.tema-reg li a:hover {
    color: #ccc;
}
.tema-link__active {
    color: #fff;
    background-color: rgba(0,0,0,.25);
}
.breadcumb ul {
    padding: 0;
}

.clear{
    clear: both;
}
.tema-reg__solid {
    background-color: #d42173;
}
/* .tema-reg__solid h2, .sub-tema-reg, p {
    color: #fff;
} */
.wrapper-pilihan-test .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.icon-search {
    float: right;
    position: relative;
}
input:focus {
    outline: none;
}
.detail-buku img {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
footer {
    margin-top: 10px;
}

/* css didi  */

.field-icon {
  margin-right: 10px;
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.price-carret{
  /*font-size: 14.5px;*/
  text-decoration: line-through;
  color: #999;
  /*font-weight: bold;*/
  font: bold 16pt ElliotSans-Regular;
  text-align: center;
}

.no-price-carret{
  /*font-size: 14.5px;*/
  /*text-decoration: line-through;*/
  color: #999;
  /*font-weight: bold;*/
  font: bold 16pt ElliotSans-Regular;
  text-align: center;
}

.req-login{
  border: 2px solid red;
}
.text-red{
  color: red;
}

.login-full-container{
    margin-top: 175px
}

.quiz-end{
    /* background: url('../img/quiz-prev.png') no-repeat center center; */
    background-color: orange;
    background-size: contain;
    /* width: 46px;
    height: 46px; */
    /* margin-right: 5px; */
    position: absolute;
    top: 93%;
    /* transform: translateY(-50%); */
    left: 102%;
    z-index: 99;

}
.back-to-notyet-answered-quest{
    background-size: contain;
    position: absolute;
    top: 76%;
    left: 102%;
    z-index: 99;
    width: 100px;
    white-space: normal;

}
.div-test-question {
    overflow-y: auto;
    max-height: 100%;
    top: 0;
    left: 0;
}

.img-thumb-10px-radius {
    border-radius: 10px;
    cursor: pointer;
}

.user-img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  margin: 0 auto;
}

.user-img img{
  width: 100%;
}
.modal-pause{
  text-align: center;
}
.btn-pause{
  width: 200px;
  margin: 0 10px;
}
.keranjang-kosong{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.keranjang-kosong img{
  width: 300px;
}
.choices{
  width: 10%;
  float: left;
}

.choices-text{
  width: 90%;
  float: left;
}
.score-show-mobile{
  display: none;
}
.score-hide-mobile{
  display: block;
}
.banner-side{
  border-radius: 10px;
  overflow: hidden;
}

.split-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 20px;        /* fallback */
    max-height: 40px;
}

/* LOADING CSS CLASS */
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #557CBF;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  .ico-heart-module{
    font-size: 20px !important;
    cursor: pointer;
  }

.req-validate{
  border: 2px solid red;
}
/* end css didi */

.profile-edit{
  margin-top: 150px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
}
.img-circle{
  border-radius: 50%;
}
.text-xs-center{
  text-align: center;
}
.custom-file-input .custom-file-control{
  border: 1px solid;
  padding: 10px 82px;
}


/*** Nope **/
.box-langganan{
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #dadada;
  margin-top: 15px;
  border-radius: 10px;
  min-height: 300px;
  padding: 10px;
}
.box-langganan h6{
  text-align: center;
  font-weight: 700;
}
.box-langganan h3{
  text-align: center;
  color: #1B9BD7;
  font-weight: 700;
}
.box-langganan ul{
  margin: 0;
  padding-left: 25px;
}
.box-langganan .content{
  margin: 0;
  text-align: center;
  height: 320px;
  overflow: hidden;
}
.box-langganan .content p{
  margin: 5px;
  line-height: 20px;
}
.box-langganan .price{
  text-align: center;
  color: #FECA12;
  font-weight: bold;
  font: bold 18pt ElliotSans-Regular;
  margin-bottom: 15px;
}

.box-langganan .expired-date{
  text-align: center;
  /*font-weight: bold;*/
  font: bold 14pt ElliotSans-Regular;
  margin-bottom: 15px;
}

.box-langganan .btn-buy-langganan{
  text-align: center;
  background-color: #1B9BD7;
  color: #ffffff;
  border-radius: 15px;
  width: 100%;
}
button.btn-buy-langganan{
  text-align: center;
  background-color: #557CBE;
  color: #ffffff;
  border-radius: 15px;
  width: 100%;
}

.btn-buy-langganan:hover{
  background-color: #3950C1;
}

button.btn-buy-langganan-toko{
  text-align: center;
  background-color: #FEC810;
  color: #ffffff;
  border-radius: 15px;
  width: 100%;
}

.btn-buy-langganan-toko:hover{
  background-color: #e4b40e;
}

.box-langganan-detail{
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #dadada;
  margin-top: 15px;
  border-radius: 10px;
  min-height: auto;
  padding: 20px;
}
.box-langganan-detail .detail-duration{
  text-align: center;
  font-weight: bold;
  font: bold 18pt ElliotSans-Regular;
  margin-bottom: 15px;
}
.box-langganan-detail .detail-price-basic{
  text-align: center;
  color: #dadada;
  font-weight: bold;
  font: bold 14pt ElliotSans-Regular;
  margin-bottom: 15px;
}
.box-langganan-detail .detail-price-sale{
  text-align: center;
  color: #1B9BD7;
  font-weight: bold;
  font: bold 18pt ElliotSans-Regular;
  margin-bottom: 15px;
}


