<template>
  <div class="mobile-view">
    <div class="container mt-4">
      <div v-if="isLoading" class="row">
        <div class="col-12 col-md-12">
          <loader class="text-center"></loader>
        </div>
      </div>
      <div v-else class="row">
        <div class="col-12 col-md-12">

          <div v-if="!expired" class="box-langganan-detail">
            <h5 style="font-weight: bold">{{namaModule}}</h5>
            <div v-html="description" class="content"></div>
            <br/>
            <div>Buku yang termasuk dalam paket ini adalah sebagai berikut: </div>
            <ul>

              <li v-for="(detailsBuku, index) in myListModuleSubs" :key="index"><nuxt-link :to="'/modules/'+detailsBuku.modules.module_slug+'?type=2'">{{detailsBuku.modules.name}}</nuxt-link></li>
<!--              <li>Buku 1</li>-->
<!--              <li>Buku 1</li>-->
<!--              <li>Buku 1</li>-->
<!--              <li>Buku 1</li>-->
<!--              <li>Buku 1</li>-->
<!--              <li>Buku 1</li>-->
            </ul>
          </div>
          <div v-else class="box-langganan-detail">
            <h2 style="font-weight: bold">Langganan ini telah kedaluarsa</h2>
<!--            <div v-html="description" class="content"></div>-->
<!--            <br/>-->
<!--            <div>Buku yang termasuk dalam paket ini adalah sebagai berikut: </div>-->
          </div>
        </div>
<!--        <div class="col-12 col-md-4">-->
<!--          <div class="box-langganan-detail">-->
<!--            <div class="detail-duration">Durasi {{listLangganan.duration}} Bulan</div>-->
<!--            <div class="detail-price-basic price-carret">{{basicPrice}}</div>-->
<!--            <div class="detail-price-sale">Rp{{salePrice}}</div>-->
<!--            <button @click="beliLangganan" class="btn btn-buy-langganan">BAYAR ONLINE</button>-->
<!--            <br/>-->
<!--            <br/>-->
<!--            <h6>Bayar lebih murah di Toko Gramedia</h6>-->
<!--            <div class="detail-price-sale">Rp{{storePrice}}</div>-->
<!--            <button @click="beliLanggananViaToko" class="btn btn-buy-langganan-toko">BAYAR DI TOKO</button>-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
  </div>
</template>

<script>
  import loader from '~/components/Loading3.vue'

  export default {
    layout: 'base-layout-4',
    components: {
      loader
    },
    head () {
      return {
        title: 'Detail Langganan Saya',
      }
    },
    data: () => ({
      namaModule: 'Title',
      description: 'Description of Subscriptions',
      myListModuleSubs: [],
      basicPrice: 0,
      salePrice: 0,
      storePrice: 0,
      expired: false,
      isLoading: true
    }),
    mounted(){
      this.loadDetailModuleLangganan()
      // console.log(this.$store.getters['cart/cartLangganan'])
    },
    computed:{

    },
    methods: {
      loadDetailModuleLangganan(){
        this.$store.dispatch('langganan/getMyModuleSubscriptions', this.$route.params.id)
          .then(result => {
            this.isLoading = false
            // console.log(result)
            if (result.status_expire){
              this.expired = true
              console.log(this.myListModuleSubs.length)
            }else{
              if (result.success){
                this.myListModuleSubs = result.data.paket_langganan.modules_langganan
                this.namaModule = result.data.paket_langganan.package_name
                this.description = result.data.paket_langganan.descriptions
                console.log(this.myListModuleSubs.length)
                // console.log(this.myListModuleSubs.paket_langganan.modules_langganan)
              }else{
                // console.log(response)
                if (response.data.message === 'Token is Invalid'){
                  this.$toast.show('Reconnecting. Please reload the page.');
                  this.reLogin()
                  // this.getMyModule()
                  // console.log('reloaddded')
                }else if (response.data.message.includes('token has expired')){
                  this.userSessionExpired()
                }
              }
            }
          })
      },
    }
  }
</script>
