<template>
  <div class="my-modules">
<!--    <section class="sec-shop sec-tema">-->
<!--      <div class='container'>-->
<!--          <div class='row'>-->
<!--              <div class="col-md-2">-->
<!--                  <div class="logo-edutest">-->
<!--                          <img src="~/assets/img/test-logo.png" alt="edutest logo">-->
<!--                  </div>-->
<!--              </div>                           -->
<!--              <div class='col-md-10'>                -->
<!--                <ul class="tema-reg">-->
<!--                  <li><nuxt-link to="/edutest">Galeri Tes</nuxt-link></li>-->
<!--                  <li class="tema-link__active"><a href="#">Koleksi Saya</a></li>-->
<!--                  &lt;!&ndash;<li><a @click="checkMyModule" href="javascript:void(0)"><img src="~/assets/img/history.png" alt="history"></a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash; <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> &ndash;&gt;-->
<!--                  <li>-->
<!--                      <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>-->
<!--                      <div v-if="countOrder !== 0" class="count-notif">{{countOrder}}</div>-->

<!--                  </li>-->
<!--                  &lt;!&ndash;<li>&ndash;&gt;-->
<!--                      &lt;!&ndash;<a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>&ndash;&gt;-->
<!--                      &lt;!&ndash;&lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;&ndash;&gt;-->
<!--                  &lt;!&ndash;</li>&ndash;&gt;-->
<!--                </ul>            -->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--  </section>-->
    <section class="sec-rekomendasi">
      <div class='container con-rekomendasi'>
        <div class="row">
          <div class="col col-rekomendasi">
            <div class="row">
              <h2>Koleksi Buku Saya</h2>
            </div>

            <!-- row book -->
            <div v-if="myModule.length !== 0" class='row row-book'>
              <!-- col book -->
              
              <div v-for="(myBooks, index) in myModule" :key="index" class='col-6 col-lg-2 col-sm-4'>
<!--                <a :href="'/modules/'+myBooks.module.module_slug">-->
                <a @click="myBooksClick(index)" href="javascript:void(0)">
                <div class="books">
                  <!-- book -->
                  <!-- <img src="~/assets/img/new-icon.png" alt="new indicator" class="new-indi"> -->
                  <div class="detail-buku">
                    <img :src="basepathImg+myBooks.module.image" alt="Bank Soal" style="width: 100%">
                    <a href="#">{{myBooks.module.name}}</a>
                  </div>
                  <!-- end book -->
                </div>
                </a>
              </div>
              
              
              
              <!-- end col book -->
            </div>
            <div v-else-if="sLoading" class="keranjang-kosong">
              <!-- <img src="~/assets/img/keranjang-belanja.png" style="width: 30%"> -->
              <loader></loader>
              <h6 class="mt-3">Loading...</h6>
              <!-- <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link> -->
            </div>
            <div v-else class="keranjang-kosong">
              <img src="~/assets/img/keranjang-belanja.png" style="width: 30%">

              <h6 class="mt-3">Anda belum memikili koleksi buku. Silahkan pilih Buku yang ingin anda beli.</h6>
              <nuxt-link to="/edutest"><h6>Beli Buku Sekarang</h6></nuxt-link>
              
            </div>
            <!-- end row book -->


          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
import loader from '~/components/Loading3.vue'
  export default {
    layout: 'base-layout-4',
    // transition: 'page',
    // Returns String
    head () {
      return {
        title: 'Koleksi Saya',
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    data: () => ({
      countOrder: 0,
      myModule: [],
      swiperOption: null,
      listModules: [],
      basepathImg: null,
      sLoading: true
    }),
    components: {
      loader
    },
    mounted () {
      // console.log(this.$store.getters['auth/user'])
      // this.getMyModule()
      // this.$store.dispatch('auth/reLogin')
      this.initialize()
    },
    beforeMount() {
      if (this.$store.getters['auth/isLogin']){
        this.getMyModule()
      }else{
        this.sLoading = false
      }
      // console.log(this.$store.getters['auth/isLogin'])
      
    },
    updated(){
      // console.log('test')
    },
    methods: {
      myBooksClick(idx){
        this.$nuxt.$router.push('/modules/'+this.myModule[idx].module.module_slug+'?type=1')
      },
      initialize(){
        this.basepathImg = this.$store.getters['setting/cdnBasePathModuleThumb']
      },
      async getMyModule() {
        // this.reLogin()
        // console.log('hello')
          this.$store.dispatch('edutest/setMyModule')
          .then((response) => {
            this.sLoading = false
            // console.log(response)
                if (response.success){
                  this.myModule = response.data.rows
                  // this.checkMyModule()
                }else{
                  // console.log(response)
                  if (response.data.message === 'Token is Invalid'){
                    this.$toast.show('Reconnecting. Please reload the page.');
                    this.reLogin()
                    // this.getMyModule()
                    // console.log('reloaddded')
                  }else if (response.data.message.includes('token has expired')){
                    this.userSessionExpired()
                  }
                }
                
            })
        
      },
      checkMyModule(){
            // console.log(this.myModule)
            this.myModule.forEach(element => {
              if (element.module_id === this.modules.id){
                this.isBuy = true
              }
              // console.log(this.isBuy)
            });
        }
    }
  }
</script>
<style>
  .my-modules{
    margin-top: 150px;
  }
</style>
