<template>
  <div>
    <div class="container profile-edit">
      <div class="row m-y-2">
        <!-- edit form column -->
        <div class="col-lg-4 text-lg-center">
          <h2>Edit Profile</h2>
        </div>
        <div class="col-lg-8">
<!--          <div class="alert alert-success alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>-->
<!--            This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
<!--          </div>-->
        </div>
        <div class="col-lg-4 pull-lg-8 text-xs-center">
          <img :src="photo" class="m-x-auto img-fluid img-circle" alt="avatar" />
          <h6 class="m-t-2">Upload a different photo</h6>
          <label class="custom-file">
            <input type="file" id="file" class="custom-file-input">
            <span class="custom-file-control">Choose file</span>
          </label>
        </div>
        <div class="col-lg-8 push-lg-4 personal-info">
          <form role="form">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" v-model="email" type="email" disabled />
              </div>
            </div>
<!--            <div class="form-group row">-->
<!--              <label class="col-lg-3 col-form-label form-control-label">Username</label>-->
<!--              <div class="col-lg-9">-->
<!--                <input class="form-control" v-model="username" type="text" value="" placeholder="username" />-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Nama Lengkap</label>
              <div class="col-lg-9">
                <input name="fullname" v-model="username" type="text" value="Jane" placeholder="fullname" :class="{'form-control': true, 'req-validate': errors.has('fullname')}" v-validate="'required|min:5'"/>
                <span v-show="errors.has('full-name')" class="merah">{{ errors.first('fullname') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Jenis Kelamin</label>
              <div class="col-lg-9">
                <select id="gender" v-model="gender" class="form-control">
                  <option value="">Pilih Jenis Kelamin</option>
                  <option value="LAKI-LAKI">LAKI-LAKI</option>
                  <option value="PEREMPUAN">PEREMPUAN</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Address</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" v-model="address" placeholder="Nama Jalan" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-5">
                <select name="provinsi" @click="getListProvince" id="provinsi" v-model="provinsi" :class="{'form-control': true, 'req-validate': errors.has('provinsi')}" v-validate="'required'">
                  <option value="">Pilih Provinsi</option>
                  <option v-for="(provinsi, index) in listProvince" :key="index" :value="provinsi.id">{{provinsi.name}}</option>
                </select>
                <span v-show="errors.has('provinsi')" class="merah">{{ errors.first('provinsi') }}</span>
              </div>
              <div class="col-lg-4">
                <select name="kota" @click="getListCity(provinsi)" id="city" v-model="kota" :class="{'form-control': true, 'req-validate': errors.has('kota')}" v-validate="'required'">
                  <option value="">Pilih Kota</option>
                  <option v-for="(city, index) in listCity" :key="index" :value="city.id">{{city.name}}</option>
                </select>
                <span v-show="errors.has('kota')" class="merah">{{ errors.first('kota') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-6">
                <select name="wilayah" @click="getListDistrict(kota)" id="wilayah" v-model="wilayah" :class="{'form-control': true, 'req-validate': errors.has('wilayah')}" v-validate="'required'">
                  <option value="">Pilih Wilayah</option>
                  <option v-for="(district, index) in listDistrict" :key="index" :value="district.id">{{district.name}}</option>
                </select>
                <span v-show="errors.has('wilayah')" class="merah">{{ errors.first('wilayah') }}</span>
              </div>
              <div class="col-lg-3">
                <input class="form-control" type="text" v-model="kodepos" placeholder="Zipcode" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Tanggal lahir</label>
              <div class="col-lg-3">
                <select name="tanggal" v-model="tanggal" :class="{'form-control': true, 'req-validate': errors.has('tanggal')}" v-validate="'required'">
                  <option value="">Pilih Tanggal</option>
                  <option v-for="(tgl, index) in getTgl()" :key="index" :value="tgl">{{tgl}}</option>
                </select>
                <span v-show="errors.has('tanggal')" class="merah">{{ errors.first('tanggal') }}</span>
            </div>
              <div class="col-lg-3">
                <select name="bulan" v-model="bulan" :class="{'form-control': true, 'req-validate': errors.has('bulan')}" v-validate="'required'">
                  <option value="">Pilih Bulan</option>
                  <option v-for="(bln, index) in getBulan()" :key="index" :value="bln">{{bln}}</option>
                </select>
                <span v-show="errors.has('bulan')" class="merah">{{ errors.first('bulan') }}</span>
              </div>
              <div class="col-lg-3">
                <select name="tahun" v-model="tahun" :class="{'form-control': true, 'req-validate': errors.has('tahun')}" v-validate="'required'">
                  <option value="">Pilih Tahun</option>
                  <option v-for="(thn, index) in getTahun()" :key="index" :value="thn">{{thn}}</option>
                </select>
                <span v-show="errors.has('tahun')" class="merah">{{ errors.first('tahun') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Status</label>
              <div class="col-lg-9">
                <input class="form-control" v-model="status" type="text" value="Jane" placeholder="Pelajar, Umum, etc."/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Kelas</label>
                <div class="col-lg-9">
                  <input class="form-control" v-model="kelas" type="text" value="Jane" placeholder="1,2,3...9,10,11"/>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Nama Sekolah</label>
              <div class="col-lg-9">
                <input class="form-control" v-model="namaSekolah" type="text" value="Jane" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Nama Orang Tua</label>
              <div class="col-lg-9">
                <input class="form-control" v-model="namaOrtu" type="text" value="Jane" placeholder=""/>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Cancel" />
                <input type="button" @click="saveChanges" class="btn btn-primary" value="Save Changes" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
  </div>
</template>
<script>
  // import loader from '~/components/Loading3.vue'
  export default {
    layout: 'base-layout-4',
    data: () => ({
      email: 'example@mail.com',
      username: '',
      fullname: '',
      gender: '',
      address: '',
      kota: '',
      provinsi: '',
      wilayah: '',
      tingkatPend: '',
      kodepos: '',
      photo: '//placehold.it/150',
      listProvince: [],
      listCity: [],
      listDistrict: [],
      status: '',
      kelas: '',
      namaSekolah: '',
      tanggal: '',
      bulan: '',
      tahun: '',
      namaOrtu: ''
    }),
    // transition: 'page',
    head () {
      return {
        title: 'Profile Saya',
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    mounted() {
      // console.log(this.$store.getters['auth/user'])
      if (this.$store.getters['auth/isLogin']){
        let userD = this.$store.getters['auth/user']
        this.email = userD.email
        this.username = userD.name
        this.photo = userD.photo
      }else{
        this.$nuxt.$router.push('/404')
      }
      // console.log(this.$store.getters['auth/isLogin'])
      // console.log(this.$cookies.get('user'))
      this.getUserProfile(this.$store.getters['auth/user'].uid)
      // console.log(this.$store.getters['auth/user'].uid)
    },
    // updated() {
    //   if (!this.$store.getters['auth/isLogin']){
    //     this.$nuxt.$router.push('/404')
    //   }
    // },
    methods:{
      saveChanges(){
        this.$validator.validateAll().then(x => {
          if (x){
            let data = {
              address: this.address,
              province_id: this.provinsi,
              city_id: this.kota,
              district_id: this.wilayah,
              jenis_kelamin : this.gender,
              zip_code: this.kodepos,
              fullname: this.username,
              status: this.status,
              kelas: this.kelas,
              nama_sekolah: this.namaSekolah,
              tanggal_lahir: this.tanggal,
              bulan_lahir: this.bulan,
              tahun_lahir: this.tahun,
              nama_orangtua: this.namaOrtu
            }
            // console.log(data)
            this.$store.dispatch('user/updateUserProfile', data)
              .then(result => {
                if (result.success){
                  // console.log(result)
                  this.$toast.success('Akun berhasil di ubah.')
                }else{
                  this.$toast.error('Akun gagal di ubah.')
                }
              })
          }else{
            this.$toast.show('Mohon isi field yang masih kosong.')
          }
        }).catch(e => {
          console.log(e)
        })


      },
      getListProvince(){
          // console.log('clicked')
          this.$store.dispatch('user/getListProvince')
            .then(result => {
              if (result.success){
                this.listProvince = result.data.rows
                // console.log(this.$store.getters['user/listProvince'])
              }
            })
      },
      getListCity(idProv){
        // console.log(idProv)
        if (idProv === ''){
          this.$toast.show('Silahkan pilih provinsi dahulu')
        }else{
          this.$store.dispatch('user/getListCity', idProv)
            .then(result => {
              if (result.success){
                this.listCity = result.data.rows
                // console.log(this.$store.getters['user/listProvince'])
              }
            })
        }

      },
      getListDistrict(idCity){
        // console.log(idCity)
        if (idCity === ''){
          this.$toast.show('Silahkan pilih kota dahulu')
        }else{
          this.$store.dispatch('user/getListDistrict', idCity)
            .then(result => {
              if (result.success){
                this.listDistrict = result.data.rows
                // console.log(this.$store.getters['user/listProvince'])
              }
            })
        }
      },
      getUserProfile(uid){
        this.$store.dispatch('user/getUserProfile', uid)
          .then(result => {
            if (result.success){
              if (result.data !== null){
                let user = result.data
                this.username = user.fullname
                this.address = user.address
                this.kodepos = user.zip_code
                this.gender  = user.gender
                this.getListProvince()
                this.provinsi = user.province_id
                this.getListCity(user.province_id)
                this.kota = user.city_id
                this.getListDistrict(user.city_id)
                this.wilayah = user.district_id
                this.gender = user.jenis_kelamin
                this.tanggal = user.tanggal_lahir
                this.bulan = user.bulan_lahir
                this.tahun = user.tahun_lahir
                this.status = user.status
                this.namaSekolah = user.nama_sekolah
                this.kelas = user.kelas
                this.namaOrtu = user.nama_orangtua
                // console.log(user)
              }
            }
          })
      }
    }
  }

</script>
