<template>
<div>
    <div class="history-404"></div>
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout-3',
    data: () => ({
        // loading: false,
        title: 'Edutore - Riwayat 404'
    }),
      head () {
      return {
        title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'ini adalah page riwayat 404 yang dimana bermaanfaat jika kita mancari page yang tidak terdaftar' },
          { hid: 'og:image', property: 'og:image', content: "http://cdn.rimember.net/promo-merchant/tiket-masuk-untuk-1-orang.jpg"}
        ]
      }
  }
}
</script>