<template>
<div>
<section class="sec-conten-cart p-99"  >
  <div class='container'>
<div class="row">
  <div class="col">
    <h2 class="h2 text-left"> Tinjauan Pembelian </h2>
  </div>
</div>
</div>
<div v-if="listOrderCart !== null" class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header primaryColor">
          <strong class="text-left text-white p-2"> RINCIAN PEMBELIAN ({{totalCart}} Produk)</strong>
          </div>
          <div v-for="(listCart, index) in listOrderCart" :key="index" class="card-body">
            <div>
            <div class="row mt-3 pt-2 border-light">
            <div class="col-md-3">
            <div class="custom-control custom-checkbox"><img :src="'https://storage.googleapis.com/edutore-cdn/public/module/thumb/'+listCart.image" alt="[object Object]" style="width: 70%;"></div>
              </div>
            <div class="col-md-6 desc-cart"><img src="~/assets/img/edutest.png" alt="edu test" class="img-edutest">
            <h4>
                {{listCart.name}}
            </h4>
            <small>  {{listCart.description}} </small>
            </div>
            <div class="col-md-3"><div class="cart-price price">
              <img :src="require('~/assets/img/label-crown-'+listCart.catId+'.png')" alt="crown" class="icon-crown">
                {{currencyFormat(listCart.price, 'Rp ')}}
                </div>
                <div class="hapusitem">
                  </div>
                  </div>
                  </div>
                  <hr>
                  </div>
                  <div class="cart-price price text-right">
                 <!-- Rp {{totalHarga}} -->
              </div>
              </div>

    </div>
  </div>
               <div class="col-lg-4">
                 <div class="card">
                   <div class="card-header primaryColor">
                     <strong class="text-left text-white p-2">RINGKASAN BELANJA </strong>
                   </div>
                   <div class="card-body">
                     <div class="form-group row">
                       <label for="" class="col-md-12">Masukan Kode Voucher <i>(Jika Ada)</i> </label>
                       <div class="col-md-8">
                           <input type="text" @input="voucherOnChange" name="voucher" v-model="voucherCode" :class="{'form-control': true, 'req-validate': errors.has('voucher')}" v-validate="'required'" placeholder="Kode voucher">
                           <span v-show="errors.has('voucher')" class="merah">{{ errors.first('voucher') }}</span>
                           <span v-if="voucherNotif === 'V'" class="text-green">Voucher berhasil diterapkan.</span>
                           <span v-if="voucherNotif === 'I'" class="merah">Voucher tidak bisa digunakan.</span>
                       </div>
                       <div class="col-md-4">
                         <button :disabled="checkBtnClick" @click="checkVoucher" class="btn btn-buy-langganan">Check</button>
                       </div>
                     </div>


                     <div class="form-group row">
                       <label for="" class="text-left col-md-6">Total Harga </label>
                       <div class="col-md-6">
                        <h5 class="text-right text-primaryColor">{{currencyFormat2(countTotalPrice, 'Rp ')}} </h5>
                      </div>
                       <label for="" class="text-left col-md-6">Potongan </label>
                       <div class="col-md-6">
                         <h5 class="text-right text-primaryColor">{{currencyFormat2(potongan, 'Rp ')}} </h5>
                       </div>
                     </div>
                     <div class="form-group row">
                       <div v-if="isValidVoucher">
                         <div class="col-12">
                           <hr />
                         </div>
                         <div v-if="totalHarga < minTransaction" ><label for="" class="text-left col-md-12 "><b>Pembelian tidak mencapai minimum transaksi</b> </label></div>
                         <div v-else-if="moduleNamePotongan.length === 0"><label for="" class="text-left col-md-12 "><b>Tidak ada module yang mendapatkan potongan</b> </label></div>
                         <div v-else>
                           <div v-if="moduleNamePotongan[0] === 'ALL'" >
                             <label for="" class="text-left col-md-12 "><b>Semua module mendapatkan potongan {{persentasePotongan}} %</b> </label>
                           </div>
                           <div v-else>
                             <label for="" class="text-left col-md-12 "><b>Module yg mendapatkan potongan {{persentasePotongan}} %</b> </label>
                             <label v-for="(name, index) in moduleNamePotongan" :key="index" for="" class="text-left col-md-12 "><b>- {{name}}</b> </label>
                           </div>
                        </div>
                         <label v-if="maxPotongan !== 0" for="" class="text-left col-md-12 "><b>Maksimum potongan {{currencyFormat2(maxPotongan, 'Rp ')}}</b> </label>
                       </div>
                       <div class="col-12">
                         <hr />
                       </div>
                       <label for="" class="text-left col-md-6 "><b>Total Bayar</b> </label>
                       <div class="col-md-6">
                         <h5 class="text-right text-primaryColor"><b>{{currencyFormat2(totalBayar, 'Rp ')}} </b></h5>
                       </div>
                     </div>
                     <div class="form-group row">
                       <div class="col-12">
                         <hr />
                       </div>
                       <div class="col-md-4">
                         <label for="" class="text-left" style="margin-top: 10px;">Cara bayar </label>
                       </div>
                       <div class="col-md-8">
                         <select v-model="payMethode" v-on:change="caraBayar()" class="form-control" name="status" id="status">
                           <!--                      <option value="0">Pilih</option>-->
                           <option value="ONLINE">Online</option>
                           <option value="GRAMEDIA">Toko Gramedia</option>
                         </select>
                       </div>
                       <div class="mt-2 col-12">
                         <button :disabled="isBtnBayar" @click="submitBeli" class="btn btn-buy-langganan">{{btnBayar}}</button>
                       </div>
<!--                       <div class="mt-2 col-12">-->
<!--                         <button @click="bayar" class="btn btn-buy-langganan">Bayar ONLINE</button>-->
<!--                       </div>-->
<!--                       <div class="mt-2 col-12">-->
<!--                         <button :hidden="isZeroPay" @click="bayarViaToko" class="btn btn-buy-langganan-toko">Bayar di GRAMEDIA</button>-->
<!--                       </div>-->
                     </div>
                   </div>

                  </div>
               </div>
    </div>
  </div>
  <!-- </div> -->
</section>
  <!-- Modal Keluar-->
  <div class="modal" id="modal-info-beta-payment">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body modal-pause">
          <div>
            <h6>Pemberitahuan!</h6>
            <p>Dapatkan GRATIS voucher Edutore di <a href="https://news.edutore.com">news.edutore.com</a> atau Toko Gramedia terdekat</p>
            <button type="submit" data-dismiss="modal" class="btn btn-info">Keluar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Modal Pause-->
</div>
<!-- end content -->
</template>

<script>
export default {
    layout: 'base-layout-4',
    head () {
      return {
        title: 'Checkout',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Tes Ujian | Nama Module | Nama Tema' }
        ],
        bodyAttrs: {
            class: 'bg-grey'
        },
      }
    },
    data: () => ({
      maxPotongan: 0,
      isBtnBayar: false,
        btnBayar: 'Bayar',
        payMethode: 'ONLINE',
        checkBtnClick: false  ,
        isValidVoucher: false,
        moduleNamePotongan: [],
        persentasePotongan: 0,
        potongan: 0,
        voucherNotif: null,
        listOrderCart: null,
        empty: true,
        totalCart: 0,
        totalHarga: 0,
        voucherCode: '',
        isZeroPay: false,
        totalBayar: 0,
        minTransaction: 0

    }),
    mounted() {
        this.listOrderCart = this.$store.getters['cart/cart']
        // console.log(this.listOrderCart)
        this.totalCart = this.listOrderCart.length
        // console.log(this.$cookies.get('user'))
        // console.log(this.currencyFormat(200000, ''))
    },
    beforeMount() {
        this.$store.dispatch('cart/getOrderModule')
        // console.log(this.$cookies.get('module-order'))

    },
    computed: {
        checkedPilihSemua(){

        },
        checkedSatuan(){

        },
        countTotalPrice(){
            this.listOrderCart.forEach(element => {
                this.totalHarga += element.price
                // console.log(element.price)
            });
          // console.log(this.listOrderCart)
            if (this.totalHarga === 0){
              this.isZeroPay = true
            }
            this.totalBayar = this.totalHarga
            // console.log(this.totalHarga)
            return this.totalHarga
        }
    },
    methods: {
      submitBeli(){
        if(this.totalBayar === 0){
          this.bayar()
        }else{
          if (this.payMethode === 'ONLINE'){

            // console.log(this.payMethode)
            this.bayar()
          }else{
            // console.log(this.payMethode)
            this.bayarViaToko()
          }
        }

        this.isBtnBayar = true
        this.btnBayar = 'Waiting payment...'
      },
      caraBayar(){
        // this.checkBtnClick = true
        this.isValidVoucher = false
        this.minTransaction = 0
        this.totalBayar = this.totalHarga
        this.moduleNamePotongan = []
        this.potongan = 0
        this.voucherCode = null
        this.voucherNotif = null
        // this.totalBayar = this.totalHarga
        this.$validator.reset();
        // console.log()
        // if (this.payMethode === 'ONLINE'){
        //   this.totalHarga = this.listLangganan.sale_price
        //   this.totalBayar = this.listLangganan.sale_price
        // }else{
        //   this.totalHarga = this.listLangganan.offline_price
        //   this.totalBayar = this.listLangganan.offline_price
        // }
        // console.log(this.totalBayar)
      },
        voucherOnChange(){
            // if (this.voucherCode.length === 0){
            //   this.voucherNotif = null
            // }
            this.voucherNotif = ''
            this.checkBtnClick = false
            // console.log(this.voucherCode.length)
        },
        checkVoucher(){
          this.checkBtnClick = true
          this.isValidVoucher = false
          this.potongan = 0
          this.maxPotongan = 0
          this.minTransaction = 0
          this.totalBayar = this.totalHarga
          this.moduleNamePotongan = []
          this.$validator.validateAll().then(x => {
            // console.log(x)
            if (x){
              // console.log(this.voucherCode)
              this.$store.dispatch('cart/checkVoucher2', this.voucherCode)
                .then((result) => {
                  this.minTransaction = result.data.min_transaction
                  if (result.status_voucher){
                    if (result.data.category === 'MODULE'){
                      this.isValidVoucher = true
                      if (this.totalHarga >= result.data.min_transaction) {
                        // console.log('dapat diskon')
                        // console.log(result.data)
                        // console.log(result)
                        this.persentasePotongan = result.data.voucher_value
                        if (result.data.spesific_used){
                          result.for_module.rows.forEach((element) => {
                            this.listOrderCart.forEach((element2, index) => {
                              if (element.module_id === element2.moduleId) {
                                this.moduleNamePotongan.push(this.listOrderCart[index].name)
                                // console.log(this.listOrderCart[index])
                                this.potongan += this.listOrderCart[index].price * (result.data.voucher_value / 100)
                                // console.log(element2.moduleId)
                              }
                            })
                            // console.log(element.module_id)
                          })
                        }else{
                          this.moduleNamePotongan.push('ALL')
                          this.potongan = this.totalHarga * (result.data.voucher_value / 100)
                        }

                        if (result.data.max_value !== null){
                          this.maxPotongan = result.data.max_value
                          if (this.potongan < result.data.max_value){
                            this.totalBayar = this.totalBayar -  this.potongan
                          }else{
                            this.potongan = result.data.max_value
                            this.totalBayar = this.totalBayar -  this.potongan
                          }
                        }else{
                          this.totalBayar = this.totalHarga - this.potongan
                          // console.log(this.totalBayar)
                        }
                      }
                      this.voucherNotif = 'V'
                    }else if(result.data.category === 'ALL'){
                      this.isValidVoucher = true
                      if (this.totalHarga >= result.data.min_transaction) {
                        // console.log('dapat diskon')
                        // console.log(result.data)
                        this.persentasePotongan = result.data.voucher_value
                        this.moduleNamePotongan.push('ALL')
                          // console.log(this.listOrderCart[index])
                        this.potongan = this.totalHarga * (result.data.voucher_value / 100)
                          // console.log(element2.moduleId)
                          // console.log(element.module_id)
                        if (result.data.max_value !== null){
                          this.maxPotongan = result.data.max_value
                          if (this.potongan < result.data.max_value){
                            this.totalBayar = this.totalBayar -  this.potongan
                          }else{
                            this.potongan = result.data.max_value
                            this.totalBayar = this.totalBayar -  this.potongan
                          }
                        }else{
                          this.totalBayar = this.totalHarga - this.potongan
                          // console.log(this.totalBayar)
                        }
                      }
                      this.voucherNotif = 'V'
                    }else{
                      this.isValidVoucher = false
                      this.voucherNotif = 'I'
                    }
                  }else{
                    this.totalBayar = this.totalHarga
                    this.potongan = 0
                    this.isValidVoucher = false
                    this.voucherNotif = 'I'
                  }
                  // console.log(result)
                })
            }
          })
        },
        selectedChecked(idx){
            // console.log(idx)
            // return false
        },
        bayar() {
          // console.log(this.$store.getters['auth/isLogin'])
          if (this.$store.getters['auth/isLogin']){
            let modules = []
            let data = {}
            this.listOrderCart.forEach(element => {
                // console.log(element.moduleId)
                data.module_id = element.moduleId
                data.qty = 1
                modules.push(data)
                data = {}
            });
            this.$store.dispatch('cart/addModuleToDb', {modules: modules, voucherCode: this.voucherCode})
              .then(result => {
                // console.log(result)
                // console.log(this.totalBayar)
                if (result.success){
                  if (this.totalBayar === 0){
                    this.$nuxt.$router.push(`/c/payment/finish/?order_id=${result.data[0].order_id}&status_code=200&transaction_status=success`)
                  }else{
                    window.location.href = result.midtrans.redirect_url
                  }
                  // console.log(result)

                  // this.$toast.error('Maaf voucher salah, mohon masukan voucher yang benar');
                }else{
                  // console.log(result)
                  // console.log('result error, check your code')
                  this.$toast.error('Terjadi Kesalahan, Mohon Hubungi Pihak Edutore');
                }
              })
            if (this.voucherCode === ''){
              // this.$store.dispatch('cart/checkVoucher', this.voucherCode)
              //   .then(result => {
              //     if (result.success){
              //       this.$toast.success('Pembelian dengan voucher berhasil!');
              //       this.$nuxt.$router.push('/pembelian-berhasil')
              //       this.$store.dispatch('cart/addModuleToDb', {modules: modules, voucherCode: this.voucherCode})
              //     }else{
              //       this.$toast.error('Maaf voucher salah, mohon masukan voucher yang benar');
              //     }
              //     // console.log(result)
              //   })
              }else{
                // console.log('ahem')
                // this.$toast.show('Maaf voucher salah, mohon masukan voucher yang benar');
                // #BETA MODE
                // $('#modal-info-beta-payment').modal('show')
                // #BELI DENGAN MIDTRANS
                // this.$store.dispatch('cart/addModuleToDb', {modules: modules, voucherCode: this.voucherCode})
                // .then(result => {
                //   if (result.success){
                //     console.log(this.totalHarga)
                //     if (this.totalHarga === 0){
                //       this.$nuxt.$router.push('/pembelian-berhasil')
                //     }else{
                //       window.location.href = result.midtrans.redirect_url
                //     }
                //     // console.log(result)
                //
                //     // this.$toast.error('Maaf voucher salah, mohon masukan voucher yang benar');
                //   }else{
                //     console.log('result error, check your code')
                //     this.$toast.error('Maaf voucher salah, mohon masukan voucher yang benar');
                //   }
                // })
              }
          }else{
            // console.log('not login')
            this.$toast.show('Anda harus login dulu sebelum membeli module.');
            $('#login-popup').modal('show');
          }
        },
      bayarViaToko() {
        // console.log(this.$store.getters['auth/isLogin'])
        if (this.$store.getters['auth/isLogin']){
          let modules = []
          let data = {}
          this.listOrderCart.forEach(element => {
            // console.log(element.moduleId)
            data.module_id = element.moduleId
            data.qty = 1
            modules.push(data)
            data = {}
          });
          this.$store.dispatch('cart/orderViaToko', {modules: modules, voucherCode: this.voucherCode, totalPrice: this.totalBayar})
            .then(result => {
              // console.log(result)
              if (result.success){
                if (this.totalBayar === 0){
                  this.$nuxt.$router.push(`/c/payment/finish/?order_id=${result.data[0].order_id}&status_code=200&transaction_status=success`)
                }else{
                  this.$toast.success('Pembelian dengan via toko berhasil!');
                  this.$nuxt.$router.push('/pembelian-berhasil-via-toko')
                }
              }
              else{
                if (result.data.message.includes('Firebase ID token has expired')){
                  // this.$toast.show('Reconnecting... Please reload the page.');
                  // this.reLogin()
                  this.userSessionExpired()
                }else{
                  this.$toast.show('Pembelian dengan via toko gagal!');
                }


              }
            })
          // if (this.voucherCode !== ''){
          //   this.$store.dispatch('cart/checkVoucher', this.voucherCode)
          //     .then(result => {
          //       if (result.success){
          //         this.$toast.success('Pembelian dengan voucher berhasil!');
          //         this.$nuxt.$router.push('/pembelian-berhasil')
          //         this.$store.dispatch('cart/orderViaToko', {modules: modules, voucherCode: this.voucherCode})
          //       }else{
          //         this.$toast.error('Maaf voucher salah, mohon masukan voucher yang benar');
          //       }
          //       // console.log(result)
          //     })
          // }else{
          //   // this.$toast.show('Maaf voucher salah, mohon masukan voucher yang benar');
          //   $('#modal-info-beta-payment').modal('show')
          //
          // }
        }else{
          // console.log('not login')
          this.$toast.show('Anda harus login dulu sebelum membeli module.');
          $('#login-popup').modal('show');
        }
      }
    }
}
</script>

<style>
.primaryColor {
    background-color: #557cbf;
    padding: 10px;
}
  .form-control::placeholder {
    color: #a2a2a2;
  }
</style>
