<template>
  <footer id="footer">
    <div class="container">
      <!-- Copyright Starts -->
      <div data-scroll-reveal="enter bottom and move 50px over 1.2s">
        <p data-scroll-reveal="enter over 3.2s">
          See Soon! Coming Soon/Under Construction . &copy edutore.com
        </p>
      </div>
      <!-- Copyright Ends -->
    </div>
  </footer>
</template>

<script>
export default {

  data: () => ({
    email: null
  }),
  methods: {

  }
}
</script>

<style scoped>

</style>
