<template>
  <header id="header">
    <div class="header-overlay">
      <div class="container">
        <!-- Logo Starts -->
        <div data-scroll-reveal="enter top and move 50px over 1.2s" class="hexagon">
          <i class="fa fa-flash"></i><span></span>
        </div>
        <!-- Logo Ends -->
        <!-- Main Heading Starts -->
        <div class="main-head">
          <h2 data-scroll-reveal="enter left and move 50px over 1.8s">
            Halaman belajar gratis masih dalam pengerjaan</h2>
          <p data-scroll-reveal="enter right and move 50px over 2.0s">
            Edutore.com sedang membuat halaman untuk belajar gratis. Nantinya, kamu dapat mencoba berbagai modul dari galeri edutore pada halaman ini, seperti latihan soal SD, SMP, SMA, SBMPTN, sampai CPNS</p>
        </div>
        <!-- Main Heading Ends -->
      </div>
      <!-- Countdown Area Starts -->
      <div id="countdown-area">
        <!-- Count Down Timer Starts -->
        <ul class="countdown">
          <li><span data-scroll-reveal="enter bottom and move 20px over 1.2s" class="days">30</span>
            <p data-scroll-reveal="enter top and move 20px over 1.4s" class="days_ref">
              days</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 20px over 1.6s" class="hours">00</span>
            <p data-scroll-reveal="enter top and move 20px over 1.8s" class="hours_ref">
              hours</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 2px over 2.0s" class="minutes">00</span>
            <p data-scroll-reveal="enter top and move 20px over 2.2s" class="minutes_ref">
              minutes</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 20px over 2.4s" class="seconds">00</span>
            <p data-scroll-reveal="enter top and move 20px over 2.6s" class="seconds_ref">
              seconds</p>
          </li>
        </ul>
        <!-- Count Down Timer Ends -->
      </div>
      <!-- Countdown Area Ends -->

    </div>
  </header>
</template>

<script>
import modalResendEmail from '~/components/modal-component/resend-email.vue'

export default {
    //props: ['isActiveTabs'],
    components: {
      // modalResendEmail
    },
    data: () => ({

    }),
    methods: {
    }
}
</script>

<style scoped>

</style>


