<template>
    <div>
      <edutore-header :isActiveTabs="isActiveTabs"></edutore-header>
    <nuxt/>
    <edutore-long-footer></edutore-long-footer>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import edutoreLongFooter from '~/components/long-footer.vue'
export default {
  components: {
    edutoreHeader,
    edutoreLongFooter
  },
  
  data: () => ({
        // loading: false,
        isLogin: false,
        isActiveTabs: 'active'
    }),
  mounted () {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()

      // setTimeout(() => this.$nuxt.$loading.finish(), 5000)
    })
   
    // console.log(this.$store.getters['auth/user'])
    // console.log(this.$cookies.get('user'))
    // console.log(this.$store.getters['auth/isLogin'])
    this.$store.dispatch('auth/checkLogin')
    .then(result => {    
      this.isLogin = result
      // console.log(this.$store.getters['auth/user'])
    })
  },
  beforeMount () {
     
  },
  created () {
    
  },
  beforeCreate () {
    // console.log('before-create-baselayout')
    
  },
  methods: {

  }, 
  fetch() {
    
  }

}
</script>
