// BASE LAYOUT WITH HEADER AND WIDE FOOTER WITH BLUE NAVBAR

<template>
    <div>
      <edutore-header></edutore-header>
      <blue-navbar></blue-navbar>
        <div class="container mt-5 mb-5">
      <div class="row">
      <nuxt/>
    <edutore-wide-footer></edutore-wide-footer>
  </div>
</div>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import edutoreWideFooter from '~/components/wide-footer.vue'
import blueNavbar from '~/components/blue-navbar.vue'

export default {
  components: {
    edutoreHeader,
    edutoreWideFooter,
    blueNavbar
  },
  
  data: () => ({
        
    }),
  head: () => ({
      // bodyAttrs: {
      //       class: 'bg-grey'
      //   },
  }),
  mounted() {
  },
  methods: {
  }, 
  fetch() {
    
  }
}
</script>





