// HEADER WITH BLUE NAVBAR WITHOUT FOOTER
<template>
    <div>
      <edutore-header></edutore-header>
      <blue-navbar-2 :count="count"></blue-navbar-2>
    <nuxt/>
    <edutore-long-footer></edutore-long-footer>
    </div>
</template>

<script>
import edutoreHeader from '~/components/header.vue'
import blueNavbar2 from '~/components/blue-navbar-2.vue'
import edutoreLongFooter from '~/components/long-footer.vue'
export default {
  components: {
    edutoreHeader,
    blueNavbar2,
    edutoreLongFooter
  },
  // transition: 'page',
  data: () => ({
        // loading: false,
        isLogin: false,
        header: 'active',
        count: 12,
        // isActiveTabs: ''
        
    }),
  mounted () {
    // this.isActiveTabs = this.$store.getters['home/isActiveTabHome']
    // console.log(this.$store.getters['home/isTabHomeActive'])
    // this.$nextTick(() => {
    //   this.$nuxt.$loading.start()

    //   // setTimeout(() => this.$nuxt.$loading.finish(), 5000)
    // })
   
    // console.log(this.$store.getters['auth/user'])
    // console.log(this.$cookies.get('user'))
    // console.log(this.$store.getters['auth/isLogin'])
    this.$store.dispatch('auth/checkLogin')
    .then(result => {    
      this.isLogin = result
      this.header = false
      // console.log(this.$store.getters['auth/user'])
    })
  },
  beforeMount () {
     
  },
  created () {
    
  },
  beforeCreate () {
    // console.log('before-create-baselayout')
    
  },
  methods: {

  }, 
  fetch() {
    
  },
  updated(){
    // console.log('updated from base layout')
  },
  beforeDestroy(){

  }

}
</script>
