<template>
    <div>
<!--      <div class="loader">-->
<!--      </div>-->
      <belajar-gratis-header />
      <belajar-gratis-footer />
    </div>
</template>

<script>
import belajarGratisHeader from '~/components/belajar-gratis/header.vue'
import belajarGratisFooter from '~/components/belajar-gratis/footer.vue'
export default {
  components: {
    belajarGratisHeader,
    belajarGratisFooter
  },
  
  data: () => ({
        // loading: false,
        isLogin: false,
        isActiveTabs: 'active'
    }),
  fetch() {
    
  }

}
</script>

