<template>
  <div class="container">
    <div v-if="error.statusCode === 404" class="berhasil-beli">
      <img src="~/assets/img/history-404-2.png" style="width: 150px">
      <h5>Halaman Error 404</h5>
      <p>Maaf anda tidak bisa mengakses halaman ini</p>
      <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
    </div>
    <div v-else class="berhasil-beli">
      <img src="~/assets/img/history-404-2.png" style="width: 150px">
      <h5>Halaman Error 504</h5>
      <p>An error occurred</p>
      <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      error : {
        type: Object,
        default: () => {}
      },
      statusCode: {
        type: String,
        default: '400'
      }
    },
    // layout: 'blog' // you can set a custom layout for the error page
  }
</script>
<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;
  }
</style>
