<template>
    <div>
    <blue-test-header></blue-test-header>
    <nuxt/>
    </div>
</template>

<script>
import blueTestHeader from '~/components/blue-test-header.vue'
export default {
  components: {
    blueTestHeader
  },
  data: () => ({
        // loading: false,
        // bodyClass: 'bg-game' bg-nilai
    }),
  head: () => ({
    bodyAttrs: {
          class: 'bg-nilai'
      },
  }),
    computed: {
      // bodyClass () {
      //   // return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      //   // console.log(this.$store.getters['test/bodyClassTest'])
      //   return this.$store.getters['test/bodyClassTest']
      // }
    },
  mounted () {
    // this.$nextTick(() => {
    //   this.$nuxt.$loading.start()

    //   setTimeout(() => this.$nuxt.$loading.finish(), 2000)
    // })
  },
  methods: {

  }, 
  fetch() {
    
  }

}
</script>
