<template>
    <div>
    <blue-test-header></blue-test-header>
    <nuxt/>
    </div>
</template>

<script>
import blueTestHeader from '~/components/blue-test-header.vue'
export default {
  components: {
    blueTestHeader
  },
  data: () => ({
        // loading: false,
        // bodyClass: ''
    }),

    // computed: {
    //   bodyClass () {
    //     // return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    //     // console.log('computed-layout')
    //     return this.$store.getters['test/bodyClassTest']
    //   }
    // },
  mounted () {
    
    // console.log(this.$store.getters['test/bodyClassTest'])
    // this.bodyClass = this.$store.getters['test/bodyClassTest']

    // console.log(this.$store.getters['auth/isLogin'])
    // if (!this.$store.getters['auth/isLogin']){
    //     this.$nuxt.$router.push('/404')
    // }
    // .then(result => {   
    //   console.log(result)
    //   if (result) {

    //   } else {
    //     // this.$router.push('/404')
    //   }
    //   // this.isLogin = result
    //   // console.log(this.$store.getters['auth/isLogin'])
    // })
    // this.$nextTick(() => {
    //   this.$nuxt.$loading.start()

    //   setTimeout(() => this.$nuxt.$loading.finish(), 2000)
    // })
  },
  methods: {
    // bodyClass () {
    //     // return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    //     // console.log('heloow')
    //     // return this.$store.getters['test/bodyClassTest']
    //   }
  }, 
  fetch() {
    
  },
  beforeMount () {
    this.$store.dispatch('auth/checkLogin')
    // console.log('before mount layout test')
    // console.log(this.$store.getters['test/bodyClassTest'])
    // console.log('this is before mounted')
    // this.bodyClass = this.$store.getters['test/bodyClassTest']
  }

}
</script>
