<template>
    <div class="berhasil-beli">
        <img src="~/assets/img/success-buy.png" style="width: 150px">
        <h5>This website is created By :</h5>
        <p>Didi And the gank</p>
        <nuxt-link class="link-underline mydiv" to="/"><h6>Homepage</h6></nuxt-link>
    </div>
</template>

<script>
export default {
    mounted(){
        // this.$store.dispatch('cart/clearCart')
        // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
