<template>
  <section class="sec-content sec-content-tema" style="margin-bottom: 20px">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <div class="login-container ">
            <ul>
              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>
              <li><nuxt-link to="/kritik-saran" class="text-blue">Kritik dan saran</nuxt-link></li>
              <li><nuxt-link to="/kebijakan-privacy" class="text-blue">Kebijakan Privasi</nuxt-link></li>
              <li><nuxt-link to="/terms" class="text-blue">Syarat dan Ketentuan</nuxt-link></li>
              <li><nuxt-link to="/haki" class="text-blue">Hak Cipta</nuxt-link></li>
              <li><nuxt-link to="/faq" class="text-black-50">FAQ</nuxt-link></li>

            </ul>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="login-container ">
            <h5 class="text-blue">FAQ (Frequently Asked Question)</h5>
<!--            <p>Kebijakan Privasi mengatur tata cara di mana kami mengumpulkan, menggunakan, mengungkapkan, menyimpan, memproses dan mengelola informasi pribadi.</p>-->
<!--            <p>Edutore berkomitmen untuk melindungi privasi pengguna platform Edutore dan turunannya sesuai dengan yang tertera dalam Undang-Undang Privasi tentang Peraturan Data Pribadi Indonesia (Peraturan Menteri Komunikasi dan Informatika No. 20 tahun 2016 tentang Perlindungan Data Pribadi dalam Sistem Elektronik) dan undang-undang No. 11 Tahun 2008 tentang Informasi dan Transaksi Elektronik jo undang-undang No. 19 Tahun 2016 tentang Perubahan Atas Undang-Undang No.11 Tahun 2008 Tentang Informasi dan Transaksi Elektronik, peraturan pemerintah No. 82 Tahun 2012 tentang Penyelenggara Sistem dan Transaksi Elektronik, kode praktik, pedoman atau pembimbingan setempat tentang perlindungan data pribadi yang berlaku sebagaimana dapat diterbitkan dari waktu ke waktu (sebagaimana keadaannya).</p>-->
            <h6 class="text-body">Edutore</h6>
            <ol>
              <li style="list-style-type: decimal !important;">Apa itu Edutore?
                <br>Edutore merupakan platform edukasi yang lengkap dan menyenangkan dengan konten-konten terpilih dari penerbit-penerbit unggulan di Indonesia
              </li>
              <li style="list-style-type: decimal !important;">Siapa saja yang dapat menggunakan Edutore?
                <br>Semua orang yang ingin pintar
              </li>
              <li style="list-style-type: decimal !important;">Apa saja produk Edutore?
                <ol>
                  <li>Edutest</li>
                  <li>Eduplace</li>
                  <li>Edutopics</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Apa saja jenis produk Edutore?
                <br>Edutore memiliki 3 jenis produk, yaitu: Uji Coba Gratis, Premium, Reguler.
                <ol>
                  <li>Uji Coba Gratis merupakan produk yang dapat diakses oleh pengguna secara gratis.</li>
                  <li>Premium merupakan produk yang hanya dijual dalam bentuk satuan.</li>
                  <li>Reguler yang merupakan produk yang dapat dibeli secara satuan, namun termasuk juga di dalam paket Langganan Edutore.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Berapa harga produk Edutore?
                <br>Harga produk-produk Edutore bervariasi sesuai jenis produk dan lama akses.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Edutore memiliki produk offline?
                <br>Untuk saat ini Edutore belum menyediakan produk yang dijual secara offline
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara Saya mem-favoritkan item (produk-produk) Edutore?
                <br>Edufriends dapat mem-favoritkan item (produk-produk) Edutore dengan cara klik pada icon hati yang terdapat pada bagian bawah thumbnail setiap produk.
              </li>
              <li style="list-style-type: decimal !important;">Dimana Saya dapat menghubungi Edutore?
                <ol>
                  <li>Edufriends dapat mengontak kami dengan klik Hubungi kami</li>
                  <li>Edufriends dapat menghubungi nomor 0877-8868-6616 via telp atau Whatsapp</li>
                  <li>Edufriends dapat menghubungi Edutore melalui email info@edutore.com</li>
                </ol>
              </li>
            <br>
            <h6 class="text-body">User (Akun Pembelian)</h6>
            <h6 class="text-body">AKUN</h6>
              <li style="list-style-type: decimal !important;">Bagaimana cara mendaftar akun Edutore?
                <ol>
                  <li>Pilih menu Login pada header website Edutore</li>
                  <li>Akan muncul pop up untuk masuk, lupa kata sandi, dan daftar, pilih Daftar</li>
                  <li>Masukkan email, kata sandi, No. handphone, nama, dan kode referal jika ada. lalu pilih Lanjut Daftar</li>
                  <li>Buka email yang di gunakan untuk mendaftar dan lakukan verifikasi akun melalui tautan yang ada pada email verifikasi dari Edutore</li>
                  <li>Jika Edufriends belum menerima email verifikasi silahkan kembali ke halaman depan, klik  tautan login lalu pada pop up di bagian bawah klik resend email verifikasi.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika Saya tidak menerima email verifikasi pendaftaran akun?
                <br>Apabila Edufriends belum menerima email verifikasi lebih dari 1 menit, Edufriends dapat memilih tombol Kirim Ulang yang disediakan.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika Saya salah mengisi data pribadi pada saat mendaftar?
                <br>Apabila terdapat kesalahan pada pengisian data, Edufriends dapat mengubah data dengan mengikuti langkah berikut
                <ol>
                  <li>Pastikan Edufriends telah login,</li>
                  <li>Klik pada nama Akun Edufriends. Pada pop up yang muncul lihat dan Ubah Data Profil.</li>
                  <li>Jika sudah selesai klik Save Changes.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Mengapa Saya tidak dapat mendaftar akun Edutore?
                <ol>
                  <li>No. handphone / email telah terdaftar dalam akun Edutore</li>
                  <li>Belum / salah memasukkan data yang wajib diisi</li>
                  <li>Kata sandi yang digunakan tidak sesuai dengan ketentuan</li>
                  <li>Pastikan Edufriends terhubung ke internet.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Mengapa Saya tidak bisa masuk (log in)?
                <ol>
                  <li>Belum melakukan verifikasi akun setelah berhasil mendaftar</li>
                  <li>Salah memasukkan kata sandi. jika Edufriends mendaftarkan akun Edutore dengan email / Google Accounts / Facebook, pastikan kata sandi yang dimasukkan adalah kata sandi yang digunakan pada akun Edutore, bukan kata sandi akun email / Google Accounts / Facebook. Apabila Edufriends memiliki kendala lupa kata sandi, silahkan klik di sini (hyperlink ke lupa kata sandi).</li>
                  <li>Akun terblokir atau disalahgunakan orang lain</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika Saya tidak bisa masuk (log in)?
                <ol>
                  <li>Pastikan email/nomor handphone dan password sudah sesuai dengan yang didaftarkan</li>
                  <li>Kalau kamu ragu dengan kata sandimu, coba ubah kata sandi mu melalui pilihan ganti kata sandi</li>
                  <li>Masukan email yang sudah terdaftar di Edutore.com</li>
                  <li>Pilih Reset</li>
                  <li>Cek email edufriends lalu buka email untuk atur ulang kata sandi</li>
                  <li>Klik di link untuk atur ulang kata sandi</li>
                  <li>Masukkan kata sandi edufriends yang baru</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika akun Saya dibajak?
                <ol>
                  <li>Jika akun Edufriends dibajak maka ganti kata sandi:
                    <ol>
                      <li>Di homepage klik login</li>
                      <li>Klik ganti kata sandi Edufriends</li>
                      <li>Masukan email Edufriends</li>
                      <li>Klik tombol Reset</li>
                      <li>Akan ada notifikasi dan ikuti petunjuk notifikasi pada email</li>
                    </ol>
                  </li>
                  <li>Klik Laporkan masalah ini dengan menghubungi kami melalui tautan bagian bawah halaman depan Edutore. </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika Saya lupa kata sandi akun Saya?
                <br>Jika Edufriends lupa kata sandi akun maka ganti kata sandi:
                <ol>
                  <li>Di homepage klik login</li>
                  <li>Klik ganti kata sandi Edufriends</li>
                  <li>Masukan email Edufriends</li>
                  <li>Akan ada notifikasi dan ikuti petunjuk notifikasi pada email</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara mengubah kata sandi?
                <ol>
                  <li>Di homepage klik login</li>
                  <li>Klik ganti kata sandi Edufriends</li>
                  <li>Masukan email Edufriends</li>
                  <li>Akan ada notifikasi dan ikuti petunjuk notifikasi pada email</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara mengubah nomor handphone?
               <br>Untuk saat ini Edufriends tidak bisa mengubah nomor handphone yang sudah terdaftar.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika nomor handphone yang Saya daftarkan hilang atau tidak aktif?
                <br>Edufriends disarankan untuk membuat akun baru dengan nomor handphone yang aktif.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara mengubah email akun Edutore?
                <br>Silahkan ubah nomor handphone Edufriends pada ubah data profil.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat mengubah nama lengkap pada akun Edutore?
                <br>Ya, Edufriends dapat mengubah nama lengkap Edufriends pada halaman Akun,
                <br>klik nama Akun,
                <br>lalu klik Ubah & Lihat Data Profil.
                <br>Pada bagian Nama Lengkap, klik dan ubah nama lengkap Edufriends.
                <br>Perlu diketahui bahwa Edufriends hanya dapat mengubah nama lengkap Edufriends sebanyak 1 (satu) kali saja.
                <br>Apabila sebelumnya Edufriends sudah pernah mengubah nama lengkap Edufriends, maka Edufriends sudah tidak dapat mengubah nama lengkap Edufriends lagi.
              </li>
              <li style="list-style-type: decimal !important;">Apa perbedaan status pelajar dan umum?
                <br>Status Pelajar adalah untuk siswa sekolah dari jenjang SD Kelas I sampai SMA Kelas XII. Sedangkan status Umum adalah untuk jenjang di luar masa sekolah, seperti mahasiswa, maupun yang bukan siswa sekolah.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat mengubah status dan jenjang Saya?
                <br>Ya, Edufriends dapat mengubah status dan jenjang Edufriends dengan mengakses halaman Akun, lalu klik Ubah & Lihat Data Profil.
              </li>
              <li style="list-style-type: decimal !important;">Apakah pengguna dengan status pelajar dapat mengerjakan soal jenjang umum atau sebaliknya?
                <br>Ya, pengguna dengan status pelajar dapat mengerjakan soal jenjang umum. Juga sebaliknya, pengguna dengan status jenjang umum dapat mengerjakan soal jenjang pelajar.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana caranya jika Saya ingin bergabung menjadi partner?
                <br>Silahkan kontak kami dengan klik tombol Hubungi kami
              </li>
              <h6 class="text-body">PEMBELIAN</h6>
              <li style="list-style-type: decimal !important;">Apakah saya bisa melakukan transaksi dengan kartu kredit?
                <br>Bisa, Edufriends bisa melakukan transaksi dengan kartu kredit dengan langkah berikut:
                <ol>
                  <li>Pada saat checkout klik pada tombol bayar online.</li>
                  <li>Selanjutnya pilih kartu kredit </li>
                  <li>Masukan nomor telp, nomor kartu, masa berlaku, serta kode cvv</li>
                  <li>Klik bayar sekarang, dan pembayaran Edufriends akan kami proses.</li>
                  <li>Untuk proses pembayaran menggunakan kartu credit memerluan waktu hingga 1 x 24 jam untuk verifikasi. </li>
                  <li>Paket yang Edufriends beli akan segera aktif setelah mendapat verifikasi dari bank </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melakukan pembayaran dengan menggunakan e-pay BRI?
                <ol>
                  <li>Pastikan Edufirends telah memiliki User ID Internet Banking BRI dan sudah mendaftarkan mTOKEN sebelum melakukan pembayaran menggunakan e-Pay BRI langsung dari website BRI.</li>
                  <li>Untuk mendapatkan User ID Internet Banking BRI, Edufriends dapat melakukan registrasi melalui ATM BRI terdekat </li>
                  <li>Untuk mendaftarkan mTOKEN, silakan Edufriends dapat melakukan registrasi finansial di cabang BRI terdekat.</li>
                  <li>Pembayaran menggunakan e-Pay BRI akan diproses secara online, saldo rekening BRI Edufriends akan didebet secara otomatis sesuai jumlah pembelanjaan Anda.</li>
                  <li>Transaksi Anda akan dibatalkan jika pembayaran tidak diselesaikan dalam 2 jam </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melakukan pembayaran dengan menggunakan ATM BCA:
                <ol>
                  <li>Pada menu utama, pilih Transaksi Lainnya.</li>
                  <li>Pilih Transfer.</li>
                  <li>Pilih Ke Rek BCA Virtual Account.</li>
                  <li>Masukkan Nomor Rekening pembayaran (11 digit) Anda lalu tekan Benar.</li>
                  <li>Masukkan jumlah tagihan yang akan anda bayar.</li>
                  <li>Pada halaman konfirmasi transfer akan muncul detail pembayaran Anda. Jika informasi telah sesuai tekan Ya.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melakukan pembayaran dengan menggunakan Klik BCA:
                <ol>
                  <li>Pilih menu Transfer Dana.</li>
                  <li>Pilih Transfer ke BCA Virtual Account.</li>
                  <li>Masukkan nomor BCA Virtual Account, atau pilih Dari Daftar Transfer.</li>
                  <li>Jumlah yang akan ditransfer, nomor rekening dan nama merchant akan muncul di halaman konfirmasi pembayaran, jika informasi benar klik Lanjutkan.</li>
                  <li>Ambil BCA Token Anda dan masukkan KEYBCA Response APPLI 1 dan Klik Submit.</li>
                  <li>Transaksi Edufriends selesai.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melakukan pembayaran dengan menggunakan m-BCA:
                <ol>
                  <li>Lakukan log in pada aplikasi BCA Mobile.</li>
                  <li>Pilih menu m-BCA, kemudian masukkan kode akses m-BCA</li>
                  <li>Pilih m-Transfer > BCA Virtual Account</li>
                  <li>Pilih dari Daftar Transfer, atau masukkan Nomor Virtual Account tujuan.</li>
                  <li>Masukkan jumlah yang ingin dibayarkan.</li>
                  <li>Masukkan pin m-BCA.</li>
                  <li>Pembayaran selesai. Simpan notifikasi yang muncul sebagai bukti pembayaran</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melakukan pembayaran dengan menggunakan GO-PAY:
                <ol>
                  <li>Klik Bayar dengan GO-PAY</li>
                  <li>Klik Bayar dengan GO-PAY</li>
                  <li>Klik Bayar.</li>
                  <li>Arahkan kamera Anda ke Kode QR.</li>
                  <li>Periksa kembali detail pembayaran Anda di aplikasi GO-JEK dan tekan Pay.</li>
                  <li>Transaksi Anda selesai.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat mengubah metode pembayaran?
                <br>Jika Edufriends ingin mengubah metode pembayaran lakukan transaksi ulang dan pilih metode pembayaran yang diinginkan.
              </li>
              <li style="list-style-type: decimal !important;">Mengapa pembayaran Saya belum diverifikasi?
                <br>Jika pembayaran Edufriends belum diverivikasi, silahkan kontak kami dengan klik tomboL Hubungi kami.
              </li>
              <li style="list-style-type: decimal !important;">Berapa lama waktu dari pembayaran selesai hingga pesanan aktif?
                <br>Pesanan akan aktif setelah pembayaran berhasil. Apabila pesanan belum aktif setelah 1x24 jam dari waktu pembayaran berhasil
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika pesanan sudah berhasil dibayar tapi paket belum aktif?
                <br>Apabila pesanan belum aktif setelah 1x24 jam dari waktu pembayaran berhasil, Edufriends dapat melakukan langkah berikut:
                <ol>
                  <li>Logout akun Edutore dan lakukan login ulang</li>
                  <li>Akses materi/modul dari halaman "koleksi saya" atau "langganan saya" </li>
                  <li>Jika 2 langkah sebelumnya belum berhasil, silahkan kontak kami dengan klik Hubungi Kami.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Mungkinkah pesanan dibatalkan oleh sistem tanpa sepengetahuan pengguna?
                <br>Pesanan dapat dibatalkan oleh sistem jika Edufriends tidak melakukan pembayaran dalam batas waktu yang telah ditetapkan (1x24 jam).
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat membatalkan pesanan yang telah dibayar?
                <br>Edufriends tidak dapat membatalkan pesanan yang telah dibayar.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika Saya membayar dengan jumlah yang tidak tepat?
                <br>Pastikan Edufriends melakukan pembayaran sesuai dengan tagihan transaksi Edufriends. Jika terdapat masalah silahkan kontak kami dengan klik  Hubungi kami
              </li>
              <li style="list-style-type: decimal !important;">Berapa batas waktu pembayaran?
                <br>Batas waktu pembayaran setiap pesanan/transaksi yaitu 1x24 jam.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika pembayaran dilakukan setelah melewati batas waktu pembayaran?
                <br>Edufriends dapat melakukan transaksi pemesanan ulang dan pastikan melakukan pembayaran sebelum melewati batas waktu pembayaran.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara membayar via toko Gramedia?
                <ol>
                  <li>Pilih modul yang di ingikan, klik beli</li>
                  <li>klik icon kranjang</li>
                  <li>Klik checkout</li>
                  <li>Pilih bayar di gramedia</li>
                  <li>Edufriends akan mendapatkan nomor order id.</li>
                  <li>Edufirends dapat memberikan nomor order id tersebut pada kasir toko gramedia terdekat</li>
                  <li>Lakukan transaksi dengan kasir gramedia</li>
                  <li>Lalu bawa struk transaksi tersebut ke CSO gramedia untuk di aktifkan transaksi edufriends ke CSO Gramedia.</li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Saya tidak dapat menemukan kode pembayaran pesanan Saya, apakah Saya harus melakukan pemesanan ulang?
                <br>Silahkan cek kode order id Edufriends pada alamat email Edufriends yang sudah terdaftar di Edutore.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat membatalkan pesanan yang sudah masuk ke dalam keranjang belanja?
                <br>Edufriends dapat membatalkan pesanan yang sudah masuk ke dalam keranjang belanja dengan cara klik ikon ‘tempat sampah’ yang terletak pada bagian kanan bawah setiap pesanan di halaman Keranjang Belanja.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana jika ada masalah pada transaksi saya ?
                <br>Silahkan kontak kami dengan klik Hubungi Kami.
              </li>
              <h6 class="text-body">LANGGANAN</h6>
              <li style="list-style-type: decimal !important;">Bagaimana cara Saya berlangganan?
                <ol>
                  <li>Pilih menu Langganan pada header. </li>
                  <li>Temukan dan pilih paket langganan yang sesuai dengan kebutuhan Edufriends.</li>
                  <li>Pilih metode pembayaran yang akan Edufriends gunakan.</li>
                  <br> A.	Jika memilih bayar online maka:
                  <ol>
                    <li>Klik bayar online </li>
                    <li>Pilih metode pembayaran </li>
                    <li>Lakukan instruksi seperti pada panduan nomor …</li>
                  </ol>
                  <br> B.	Jika memilih bayar online maka:
                  <ol>
                    <li>Klik bayar di Gramedia  </li>
                    <li>Dapatkan nomor order id  </li>
                    <li>Lakukan pembayaran di toko gramedia terdekat dengan memberikan nomor order id tadi.</li>
                    <li>Dan lakukan aktivasi paket langganan edufriends di cso Gramedia.</li>
                    <li>Setelah pembayaran Edufriends sudah diverifikasi oleh sistem, maka paket langganan Edufriends sudah aktif dan sudah bisa digunakan. Status langganan dapat Edufriends cek header, lalu klik ikon Langganan Saya.</li>
                  </ol>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">39.	Kapan langganan Saya aktif dan dapat digunakan?
                <br>Langganan Edufriends akan aktif setelah Edufriends sudah membayar dan pembayaran Edufriends sudah terverifikasi. Langganan yang belum dibayar dapat dicek pada halaman Akun, lalu klik ikon Pembelian Saya.
                Untuk melihat status paket langganan Edufriends yang sudah dibayar dan diverifikasi, Edufriends cek header, lalu klik ikon Langganan Saya.
              </li>
              <li style="list-style-type: decimal !important;">40.	Bagaimana cara membatalkan langganan?
                <br>Langganan yang sudah dibayar dan diverifikasi tidak dapat dibatalkan dan dihentikan. Untuk berhenti berlangganan, Edufriends harus menunggu sampai masa aktif paket langganan tersebut berakhir. Status langganan bisa Edufriends cek pada header, lalu klik ikon Langganan Saya.
              </li>
              <li style="list-style-type: decimal !important;">41.	Bagaimana cara memperpanjang langganan?
                <br>Setelah periode berlanggan sebelumnya habis Edufriends dapat membeli paket langganan yang Edufriends inginkan.
              </li>
              <li style="list-style-type: decimal !important;">42.	Apakah langganan Saya dapat diperpanjang otomatis?
                <br>Ketika paket langganan Edufriends habis periode langgananya maka edufriends dapat mengaktifkan paket baru secara manual
              </li>
              <li style="list-style-type: decimal !important;">43.	Berapa hari masa aktif setiap paket langganan?
                <br>Setiap paket langganan memiliki masa aktif yang berbeda-beda.
                <br>Paket langganan 1 bulan memiliki masa aktif 30 hari.
                <br>Paket langganan 3 bulan memiliki masa aktif 90 hari.
                <br>Paket langganan 1 semester memiliki masa aktif 180 hari.
                <br>Paket langganan 1 tahun memiliki masa aktif 360 hari.
              </li>
              <h6 class="text-body">EDUTEST</h6>
              <li style="list-style-type: decimal !important;">44.	Apa itu Edutest?
                <br>Kumpulan latihan soal dari buku-buku pilihan Gramedia yang diseleksi dari penerbit-penerbit unggulan.
              </li>
              <li style="list-style-type: decimal !important;">46.	Bagaimana Saya mencari tes?
                <br>Edufriends dapat mengakses tes-tes dalam Edutest dengan dua cara.
                <br>Cara pertama:
                <ol>
                  <li>1.	Pada menu utama homepage pilih menu Produk; </li>
                  <li>2.	Kemudian pilih Edutest;</li>
                  <li>3.	Edufriends akan diarahkan menuju halaman pencarian modul tes; </li>
                  <li>4.	Silahkan memilih status Pelajar atau Umum pada menu Status;</li>
                  <li>5.	Kemudian pilih Kelas atau Jenjang pada menu Kelas / Jenjang;</li>
                  <li>6.	Kemudian pilih mata pelajaran atau jenis tes yang diinginkan pada menu Mata Pelajaran / Jenis;</li>
                  <li>7.	Kemudian klik tombol Cari Modul. </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Apa itu Coba Gratis?
                <br>Modul/Paket  Uji Coba Gratis adalah modul yang dapat diakses pengguna secara bebas. Pengguna tidak harus membeli paket untuk dapat mengaksesnya.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara mengerjakan tes?
                <br>Setelah memilih tes yang ingin dikerjakan, Edufriends akan diarahkan menuju halaman Konfirmasi. Pada halaman ini tercantum informasi tentang tes yang akan dikerjakan. Edufriends dapat mengaktif/menonaktifkan Pengatur Waktu pada halaman ini. Jika fitur pengatur waktu diaktifkan maka waktu akan berjalan mundur. Jika tidak, maka waktu akan berjalan maju.
                <ol>
                  <li>Untuk memulai tes, klik tombol Mulai pada halaman Konfirmasi.</li>
                  <li>Pada bagian tengah halaman terdapat soal dan jawaban.</li>
                  <li>Jika Edufriends mengaktifkan fitur Pengatur Waktu. </li>
                  <li>Untuk menjawab soal pilihan Edufriends, klik tombol alfabet.</li>
                  <li>Setelah Edufriends menjawab, akan keluar umpan balik dari sistem berupa jendela layang yang menyatakan jawaban Edufriends benar atau salah. Jika ingin keluar dari tampilan jendela layang, klik di luar (dimanapun) jendela layang. </li>
                  <li>ika Edufriends ingin melihat pembahasan jawaban dari soal tersebut klik tombol Pembahasan pada jendela layang. Jika ingin keluar dari jendela Pembahasan Soal, klik tombol Kembali ke Soal  pada pojok kiri atas jendela. <br>(i) Klik panah ke kanan jika Edufriends ingin melompati soal ke soal selanjutnya tanpa mengisi terlebih dahulu soal tersebut. Soal yang belum terjawab akan kembali dimunculkan di akhir.
                    Jika sudah mengisi soal terakhir, akan muncul tombol Akhiri Sesi pada bagian bawah layar. Jika ingin memeriksa kembali jawaban, Edufriends dapat menekan tombol navigasi panah kanan dan kiri.
                  </li>
                  <li>Jika waktu pengerjaan telah habis sebelum Edufriends menjawab semua soal, jawaban Edufriends akan otomatis terkumpulkan. </li>
                  <li>Untuk mengakhiri tes klik tombol Akhiri Sesi.  </li>
                  <li>Untuk mengetahui perolehan nilai klik Lihat Hasil. </li>
                  <li>Secara otomatis Edufriends akan diarahkan menuju halaman Hasil Perolehan Nilai yang menunjukan hasil kerja Edufriends dalam Paket Soal tersebut. </li>
                  <li>Untuk mengulang kembali tes Paket Soal tersebut klik tombol Coba Lagi pada bagian bawah halaman. Jawaban dan skor Edufriends sebelumnya tidak akan tersimpan dan akan digantikan dengan jawaban dan skor terbaru Edufriends saat mengerjakan ulang.</li>
                  <li>Untuk melanjutkan tes ke Paket Soal selanjutnya klik tombol Lanjut. <br>
                    Untuk mengakhiri tes dan kembali ke halaman pilih tema klik tombol Menyerah.
                  </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat menonaktifkan pengatur waktu?
                <br>Edufriends dapat menonaktifkan pengatur waktu dengan klik pada tombol ‘switch on/off’ pada halaman yang muncul setelah Edufriends memilih tema tes.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara menjeda pengatur waktu pada saat mengerjakan soal?
                <br>Edufriends dapat menjeda pengatur waktu pada saat mengerjakan soal dengan cara menekan ikon ‘pengatur waktu’ yang terletak pada halaman yang muncul setelah Edufriends memilih tema tes.
              </li>
              <li style="list-style-type: decimal !important;">Apa yang terjadi jika waktu sudah habis namun belum semua soal selesai dikerjakan?
                <br>Jika waktu pengerjaan sudah habis, pengerjaan tes akan diakhiri secara otomatis oleh sistem walaupun belum semua soal selesai dikerjakan.
              </li>
              <li style="list-style-type: decimal !important;">Bagaimana cara melaporkan soal yang bermasalah?
                <ol>
                  <li>Klik icon ‘pengatur waktu” yang terletak pada bagian kiri atas halaman tes yang menampilkan soal yang ingin dilaporkan.</li>
                  <li>Klik pada tulisan Laporkan Soal Tes yang berada pada bagian bawah halaman.</li>
                  <li>Pilih alasan Edufriends ingin melaporkan soal tersebut kemudian pilih tombol Kirim. </li>
                </ol>
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat mengerjakan ulang tes yang sudah pernah Saya kerjakan?
                <br>Edufriends dapat mengerjakan ulang tes yang sudah pernah Edufriends kerjakan.
                (i) Seluruh nilai tes yang dikerjakan ulang akan diperbarui dengan nilai terbaru yang didapatkan.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat melewati dulu soal yang belum ingin Saya kerjakan?
                <br>Edufriends dapat melewati soal yang belum ingin Edufriends kerjakan dengan klik tombol ‘panah kanan ( > )’ yang terletak pada sebelah kanan soal. Edufriends dapat menyelesaikan soal yang belum dikerjakan atau terlewat melalui tombol “belum dikerjakan” yang muncul di akhir sesi.
              </li>
              <li style="list-style-type: decimal !important;">Apakah Saya dapat mengerjakan soal secara tidak berurutan?
                <br>Edufriends dapat mengerjakan soal secara tidak berurutan dengan klik tombol ‘panah’ yang terletak pada sebelah kiri dan kanan soal untuk pindah ke soal sebelumnya atau soal setelahnya. Soal yang Edufriends lewati akan muncul di akhir setelah soal-soal yang lain telah selesai dikerjakan.
              </li>
              <li style="list-style-type: decimal !important;">Dimana tes-tes yang sudah Saya beli tersimpan?
                <br>Tes-tes yang sudah Edufriends beli tersimpan di halaman Koleksi Saya di dalam Edutest yang terletak pada header.
              </li>
              <li style="list-style-type: decimal !important;">Apa saja jenis langganan yang disediakan Edutest?
                <br>Edutest memiliki bermacam-macam langganan. Edufriends dapat mengakses pada menu Langganan untuk melihat paket paket terbaru dari Edutore .
              </li>


            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    layout: 'base-layout-7',
    head () {
      return {
        title: 'Edutore by Gramedia  | Kebijakan Privasi',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {charset: 'utf-8'},
          {name: 'viewport', content: 'width=device-width, initial-scale=1'},
          {hid: 'description', name: 'description', content: 'Kebijakan Privasi' }
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({

    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {

    }
  }
</script>
<style>
  ol{
    list-style-type: lower-alpha !important;
    margin-left: 20px;
  }
  ol li{
    list-style: lower-alpha !important;
  }
</style>
