<template>
  <div class="berhasil-beli">
    <img src="~/assets/img/success-buy.png" style="width: 150px">
    <h5>Email reset password berhasil di kirim.</h5>
    <p>Cek email anda untuk melakukan reset password.</p>
    <nuxt-link class="link-underline mydiv" to="/"><h6>Back to Homepage</h6></nuxt-link>
  </div>
</template>

<script>
export default {
  mounted(){
  //  this.logout()
  },
  methods: {
     resetPassword () {
              this.$store.dispatch('auth/logout', 20)
              // this.isLogin = false
              // this.$router.go()
              // this.$toast.show('Logging out...');
          },
  }
}
</script>

<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 500px;
    height: 300px;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

  }
</style>
