<template>
<div>
<!-- Swiper -->
    <!-- <div class="swiper-container main-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>

      </div> -->
      <!-- Add Arrows -->
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div> -->
     <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
  <div v-swiper:mySwiper="swiperOption">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
    </div>
     <div class="swiper-pagination" slot="pagination"></div>
    <div class="swiper-button-next" slot="button-prev"></div>
    <div class="swiper-button-prev" slot="button-next"></div>
  </div>

    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="title-block text-center">
            Edutest
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
              <div class="col-md-12 col-sm-6 text-center">
                <div class="banner mb-4">
                    <img src="~/assets/img/banner.png" class="img-fluid" alt="">
                </div>
              </div>
              <div class="col-md-12 col-sm-6 text-center">
                  <div class="banner mb-4">
                    <img src="~/assets/img/banner-2.png" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
          </div>
          
         
        <div class="col-md-8 mb-5">
          <div class="content-box p-99">
            <div class="row">
              <div class="col-12 text-right mb-3">
                <a href="#">Lihat Semua ></a>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-3">
                <img src="~/assets/img/rt.png" class="img-fluid" alt="">
                  <div class="mt-1 p-2">
                    <p class="mb-1 prod-title">LOREM IPSUM DOLOR SIR AMET LOREM IPSUM...</p>
                    <p class="mb-0 ket-pr">Nama Penulis</p>
                    <p class="mb-0 ket-pr">Nama Penerbit</p>
                    <p class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 150</p>
                  </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-blue pt-4 pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
              <h3>Lorem Ipsum</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut diam pretium, condimentum justo in, consectetur lacus. Donec congue mattis quam, sit amet porta lectus iaculis id. </p>
          </div>
          <div class="col-md-2">
            <a href="#" class="btn btn-warning btn-block">Daftar</a>
          </div>
        </div>
       
      </div>
    </div>
    
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-8">
          <hr class="mt-0">
          <div class="text-right mb-4 pt-2">
            Lihat Semua <i class="fas fa-chevron-right"></i>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-1.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-3.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-4.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-5.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-6.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-7.png" class="img-fluid" alt="">
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <img src="~/assets/img/banner-duplace.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

     <!-- Swiper -->
     <!-- <div class="swiper-container main-banner mt-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="~/assets/img/sec.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide">
            <img src="~/assets/img/sec.png" class="img-fluid" alt="">
          </div>
  
        </div> -->
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div> -->
    <div v-swiper:mySwiper2="swiperOption">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="~/assets/img/sec.png" class="img-fluid" alt="">
            </div>
            <div class="swiper-slide">
              <img src="~/assets/img/sec.png" class="img-fluid" alt="">
            </div>
    </div>
     <div class="swiper-pagination" slot="pagination"></div>
    <div class="swiper-button-next" slot="button-prev"></div>
    <div class="swiper-button-prev" slot="button-next"></div>
   
  </div>
      
      <div class="bg-blue pt-5 pb-5 mt-5">
        <div class="container">
          <h3 class="text-3812 text-center mb-5">Apa Kata Mereka…</h3>
          <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4 mb-3">
                      <div class="content-box p-01293">
                        <div class="text-center">
                          <div class="user-img mb-5">
                              <img src="~/assets/img/testi-user.png" alt="">
                          </div>
                          <p>
                              “Lorem ipsum dolor sit amet, 
                              consectetur adipiscing elit. Donec elit 
                              urna, malesuada in nisl in, semper 
                              viverra massa. Duis quis odio mollis, 
                              placerat nisiin,  cursus odio. 
                              Donec ultrices gravida vehicula.”
                          </p>
                          <p class="mt-5"><b>Nama Seseorang</b> , Pekerjaannya</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="content-box p-01293">
                        <div class="text-center">
                          <div class="user-img mb-5">
                              <img src="~/assets/img/testi-user.png" alt="">
                          </div>
                          <p>
                              “Lorem ipsum dolor sit amet, 
                              consectetur adipiscing elit. Donec elit 
                              urna, malesuada in nisl in, semper 
                              viverra massa. Duis quis odio mollis, 
                              placerat nisiin,  cursus odio. 
                              Donec ultrices gravida vehicula.”
                          </p>
                          <p class="mt-5"><b>Nama Seseorang</b> , Pekerjaannya</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="content-box p-01293">
                        <div class="text-center">
                          <div class="user-img mb-5">
                              <img src="~/assets/img/testi-user.png" alt="">
                          </div>
                          <p>
                              “Lorem ipsum dolor sit amet, 
                              consectetur adipiscing elit. Donec elit 
                              urna, malesuada in nisl in, semper 
                              viverra massa. Duis quis odio mollis, 
                              placerat nisiin,  cursus odio. 
                              Donec ultrices gravida vehicula.”
                          </p>
                          <p class="mt-5"><b>Nama Seseorang</b> , Pekerjaannya</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-5 mb-5">
        <img src="~/assets/img/banner-iklan.png" class="img-fluid" alt="">
      </div>

      <div class="mt-5">
        <img src="~/assets/img/infografis-edutore.png" class="img-fluid" alt="">
      </div>
      </div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout',
    data () {
      return {
        // banners: [
        //   '/1.jpg',
        //   '/2.jpg',
        //   '/3.jpg'
        // ],
        swiperOption: {
          // loop: true,
          // slidesPerView: 'auto',
          // centeredSlides: true,
          spaceBetween: 30,
          pagination: {
            el: '.swiper-pagination',
            // dynamicBullets: true
            // clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
          // on: {
          //   slideChange() {
          //     console.log('onSlideChangeEnd', this);
          //   },
          //   tap() {
          //     console.log('onTap', this);
          //   }
          // }
        }
      }
    },
    fetch () {
    
    },
}
</script>