<template>
  <div class="mobile-view">
    <!-- Swiper -->
    <!-- <div class="swiper-container main-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
        <div class="swiper-slide">
          <img src="~/assets/img/banner-utama.png" class="img-fluid" alt="">
        </div>
      </div> -->
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
    <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
    <div v-swiper:mySwiper="swiperOption" ref="swiper" @click="sliderClicked" class="mt-home">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <nuxt-link to="/edutest/1">
            <img src="~/assets/img/banner-home/Banner Mal Edukasi Indonesia 1366x468.jpg" class="banner" alt="Mal Edukasi Indonesia">
          </nuxt-link>
        </div>
        <div class="swiper-slide">
          <a href="https://edutore.com/news/promo-edutore-x-eversac/">
            <img src="~/assets/img/banner-home/200102_gercep.jpg" class="banner" alt="Gercep">
          </a>
        </div>
        <div class="swiper-slide">
          <nuxt-link to="/langganan">
            <img src="~/assets/img/banner-home/HERO_Banner_100rb_soal.jpg" class="banner" alt="Edutore Banner 100rb soal">
          </nuxt-link>
        </div>
        <div class="swiper-slide">
          <nuxt-link to="/edutest/1">
            <img src="~/assets/img/banner-home/HERO_BANNER_Buku_CPNS.jpg" class="banner" alt="Edutore Banner Buku CPNS">
          </nuxt-link>
        </div>
        <div class="swiper-slide">
          <nuxt-link to="/edutest/1">
            <img src="~/assets/img/banner-home/Banner Merdeka Belajar 1366x468.jpg" class="banner" alt="Banner Merdeka Belajar">
          </nuxt-link>
        </div>
        <div class="swiper-slide">
          <nuxt-link to="/signup">
          <img src="~/assets/img/banner-home/HERO_BANNER_Sign_Up_Sekarang.jpg" class="banner" alt="Edutore Banner SIgn up">
          </nuxt-link>
        </div>
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
      <div class="swiper-button-next" slot="button-prev"></div>
      <div class="swiper-button-prev" slot="button-next"></div>
    </div>
    <!--div class="container mt-3 mb-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="title-block text-center">
            Kumpulan Latihan Soal Online
          </div>
        </div>
      </div>
    </div-->
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="content-box">
            <div class="row">
              <div class="col-4 col-md-2">
                <nuxt-link to="/edutest/1">
                  <img src="~/assets/img/category/Icon_1Latihan Soal.png" style="width: 100%"/>
                </nuxt-link>
                <h6 class="text-center">Latihan Soal</h6>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://edutore.com/news" target="_blank">
                  <img src="~/assets/img/category/Icon_2Artikel.png" style="width: 100%"/>
                </a>
                <h6 class="text-center">Artikel</h6>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com" target="_blank">
                  <img src="~/assets/img/category/Icon_3Penerbit.png" style="width: 100%"/>
                </a>
                <h6 class="text-center">Penerbit</h6>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com">
                  <img src="~/assets/img/category/Icon_4Kursus.png" style="width: 100%"/>
                </a>
                <h6 class="text-center">Kursus</h6>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://partner.edutore.com">
                  <img src="~/assets/img/category/Icon_5Bimbel.png" style="width: 100%"/>
                </a>
                <h6 class="text-center">Bimbel</h6>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://edutore.com/promo">
                  <img src="~/assets/img/category/Icon_6Voucher.png" style="width: 100%"/>
                </a>
                <h6 class="text-center">Voucher</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="content-box">
            <div v-if="listModulesRecomend.length > 0" class="row">
              <div class="col-6 mb-3" >
                <h1 class="title-home-category text-blue"><b>{{listModulesRecomend[0].name}}</b></h1>
<!--                <h1 class="title-home-category text-blue"><b>{{windowHeight}} | {{windowWidth}} | {{spv}}</b></h1>-->
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest/1">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper3="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[0].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="index2">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>

              <div class="col-6 mb-3" >
                <h1 class="title-home-category text-blue"><b>{{listModulesRecomend[1].name}}</b></h1>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest/1">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper4="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[1].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="index2">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>
              <div class="col-6 mb-3" >
                <h1 class="title-home-category text-blue"><b>{{listModulesRecomend[2].name}}</b></h1>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest/1">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper5="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[2].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="index2">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>
              <div class="col-6 mb-3" >
                <h1 class="title-home-category text-blue"><b>{{listModulesRecomend[3].name}}</b></h1>
              </div>
              <div class="col-6 text-right mb-3">
                <nuxt-link class="text-blue" to="/edutest/1">Lihat Semua ></nuxt-link>
              </div>
              <div v-swiper:mySwiper6="swiperOption1" ref="swiper" class="mt-home">
                <div class="swiper-wrapper">
                  <div class="swiper-slide col-6 col-md-2 mb-3" v-for="(modules, index2) in listModulesRecomend[3].rekomendasi_module" :key="index2" @click="modulesClick(modules.modules.module_slug)">
                    <div>
                      <img :src="basepathImgModule+modules.modules.image" class="img-fluid img-thumb-10px-radius" :alt="index2">
                      <!--                                      </div>-->
                      <!--                                      <img :src="basepathImgModule+modules.image" class="img-fluid img-thumb-10px-radius" alt="">-->
                      <div class="mt-1 p-2">
                        <p class="mb-1 prod-title split-text">{{modules.modules.name}}</p>
                        <!--                      <p class="mb-0 ket-pr">{{modules.module_authors[0].penulis.name}}</p>-->
                        <!--                      <p class="mb-0 ket-pr">{{modules.publisher.name }}</p>-->
                        <!-- <p v-if="modules.like.length === 0" class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> 0</p>
                        <p v-else class="mb-0 ket-pr"><i class="fas fa-heart heart-ico"></i> {{modules.like[0].likes}}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <!--                  <div class="swiper-pagination" slot="pagination"></div>-->
                <!--                  <div class="swiper-button-next" slot="button-prev"></div>-->
                <!--                  <div class="swiper-button-prev" slot="button-next"></div>-->
              </div>

            </div>
            <div v-else>
              <div class="text-center">
                <loader></loader>
                <!-- <div>
                  <i  mg src="~/assets/img/edu-wink-3.gif" class="img-fluid" alt="">
                </div> -->
                <div><p>Loading books...</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-blue pt-4 pb-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <h3>Jadi Edufriends Sekarang!</h3>
            <p class="mb-0">Dapatkan penawaran menarik dan pengalaman belajar yang menyenangkan </p>
          </div>
          <div class="col-md-2">
            <nuxt-link class="btn btn-warning btn-block" to="/signup">Daftar</nuxt-link>
            <!--a href="javascript:void(0)" class="btn btn-warning btn-block">Daftar</a-->
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3 mb-3">
      <div class="row">
        <div class="col-md-12">
          <!--<hr class="mt-0">-->
          <div class="row">
            <div class="col-6 mb-3" >
              <h1 class="title-home-category text-blue"><b>Publisher</b></h1>
            </div>
            <div class="col-6 text-right mb-3">
              <a href="https://partner.edutore.com" class="text-blue">Lihat Semua ></a>
            </div>
            <div v-for="(publisher, index) in listPublisher" :key="index" class="col-md-2 col-sm-4 col-4 mb-3">
              <div v-if="publisher.logo !== null" class="logo-sponsor">
                <a :href="'https://partner.edutore.com/#/patner/'+publisher.slug_name">  <img :src="basePathPublisher+publisher.logo" class="img-fluid" alt=""></a>
              </div>
            </div>
            <!-- <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div> -->
            <!-- <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-3.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-4.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-5.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-6.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                  <img src="~/assets/img/sp-2.png" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-6 mb-3">
              <div class="logo-sponsor">
                <img src="~/assets/img/sp-7.png" class="img-fluid" alt="">
              </div>
            </div> -->

          </div>
        </div>
        <!--<div class="banner-side col-md-4">-->
          <!--<a href="https://partner.edutore.com"><img src="~/assets/img/banner-home/Banner_Kanan_Tengah_Edupartner.jpg" class="img-fluid" alt="" style="border-radius: 10px;"></a>-->
        <!--</div>-->
      </div>
    </div>
    <!-- Swiper -->
    <!-- <div class="swiper-container main-banner mt-5">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <img src="~/assets/img/sec.png" class="img-fluid" alt="">
         </div>
         <div class="swiper-slide">
           <img src="~/assets/img/sec.png" class="img-fluid" alt="">
         </div>

       </div> -->
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div> -->
    <!--<div v-swiper:mySwiper2="swiperOption">-->
      <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide">-->
          <!--<a href="https://edutore.com/news" target="_blank"><img src="~/assets/img/banner-home/Banner-Edutopics.jpg" class="img-fluid" alt=""></a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="swiper-pagination" slot="pagination"></div>-->
      <!--<div class="swiper-button-next" slot="button-prev"></div>-->
      <!--<div class="swiper-button-prev" slot="button-next"></div>-->

    <!--</div>-->
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-6 mb-3" >
          <h1 class="title-home-category text-blue"><b>Artikel Seru</b></h1>
        </div>
        <div class="col-6 text-right mb-3">
          <a class="text-blue" href="https://edutore.com/news" target="_blank">Lihat Semua ></a>
        </div>
        <div v-for="(artikel, index) in listArtikel" :key="index" class="col-6" style="margin-bottom: 10px">
          <div class="row">
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
            <div class="col-12">
<!--              <a :href="artikel.link"><h6>{{artikel.title.rendered}}</h6></a>-->
              <a :href="artikel.url"><h6>{{artikel.title}}</h6></a>
              <div v-html="artikel.content_html">
<!--              <div v-html="artikel.excerpt.rendered">-->

              </div>
<!--              <p>{{artikel.content_html}}</p>-->
            </div>
          </div>
        </div>
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-6" style="margin-bottom: 10px">-->
<!--          <div class="row">-->
<!--            <div class="col-6">-->
<!--              <img src="~/assets/img/banner-home/190404 Banner_Banner Edutopics homepage mobile 360 x 213.jpg" style="width: 100%"/>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--              <h6>Judul Artikel</h6>-->
<!--              <p>Sort Text artikel</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
    <div class="testimonial bg-blue pt-3 pb-5 mt-3">
      <div class="container">
        <h3 class="text-3812 text-center mb-5">Apa Kata Mereka…</h3>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-1.jpeg" alt="">
                    </div>
                    <p>
                      “Edutore membantu saya dalam
                      proses belajar, terutama dalam mata
                      pelajaran sejarah yang memiliki
                      banyak teori.”
                    </p>
                    <p class="mt-5"><b>Eidensia Clara</b> , JPS International</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-2.jpeg" alt="">
                    </div>
                    <p>
                      “Saya senang mengerjakan tes di Edutest
                      karena tampilannya yang menyenangkan. “
                    </p>
                    <p class="mt-5"><b>Shakeela Aquene</b> , SD Al-Fath BSD</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="content-box p-01293">
                  <div class="text-center">
                    <div class="user-img mb-5">
                      <img src="~/assets/img/testi-user-4.jpg" alt="">
                    </div>
                    <p>
                      “Alhamdulillah, kini Aku telah diterima di Fakultas Kedokteran - UIN Jakarta. Terima kasih, Edutore”
                    </p>
                    <p class="mt-5"><b>Farah Zikra</b> , SMA Nurul Ikhlas Padang</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3 mb-3">
      <!--<nuxt-link to="/edutest"><img src="~/assets/img/banner-home/190404 Banner_Hero Banner Edutest 2 740 x 100.jpg" class="img-fluid" alt=""></nuxt-link>-->
      <div class="row mt-3">
        <div class="col-12">
          <img src="~/assets/img/banner-home/190404 Revisi Banner Infografik Homepage Save for Web.jpg" class="img-fluid" alt="" style="width: 100% !important;">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/kXQYnuK7Huc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import loader from '~/components/Loading3.vue'
  // import dataRss from '~/assets/js/data/rss'
  import dataRss2 from '~/assets/js/data/rss2'
  import firebase, {auth} from '~/services/fireinit'
  // import VuetifyLogo from '~/components/VuetifyLogo.vue'

  export default {
    layout: 'base-layout-4',
    // transition: 'modules',
    components: {
      loader
    },
    async asyncData(context){
      let newsData = dataRss2
      // if (process.env.NODE_ENV === 'production'){
      //   newsData = await context.$axios.get('https://edutore.com/news/feed/json')
      // }
      // console.log(category)
      return {
        news: newsData.data.items
      }
    },
    async fetch({store, params}){
      // await store.dispatch('home/getNews')
      // const category = await context.$axios.get('https://edutore.com/news/feed/json')
      // console.log(news)
      // return {
      //   newsitems: news
      // }
    },
    head () {
      return {
        title: 'Mall Edukasi Indonesia',
        // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Edutore adalah layanan platform terbaru dari gramedia yang menyediakan buku - buku berkualitas di kelasnya.' },
          // { property: 'og:title', content: 'Edutore adalah layanan platform terbaru dari gramedia yang menyediakan buku - buku berkualitas di kelasnya.' },
          // { property: 'og:url', content: 'https://edutore.com' },
          // { property: 'og:site_name', content: 'edutore' },
          // { property: 'og:description', content: 'Edutore adalah layanan platform terbaru dari gramedia yang menyediakan buku - buku berkualitas di kelasnya.' },
          // { property: 'og:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma ips 2019_1553087322.jpg' },
        ],
        // bodyAttrs: {
        //   class: 'bg-grey'
        // }
      }
    },
    data: () => ({
      swiperOption: null,
      swiperOption1: null,
      listArtikel: [],
      listModules: [],
      listPublisher: [],
      listModulesRecomend: [],
      basepathImgModule: null,
      basePathPublisher: null,
      windowWidth: 0,
      windowHeight: 0,
      spv: 6
    }),
    created(){
      // console.log(this.$store.state.home.newsData.items)
      // console.log(this.news)
      // this.listArtikel = dataRss.data.slice(0,4)
      // this.listArtikel = this.shuffleArray(this.$store.state.home.newsData.items).slice(0,4)
      this.listArtikel = this.shuffleArray(this.news).slice(0,4)
      this.initialize()
      // this.getModules()
      this.getRecomendModule()
      this.getPublisher()
      // this.$store.dispatch('home/getNews')
        // .then(res => {
        //   console.log(res)
        // })
    },
    mounted () {
      // console.log(dataRss.slice(0, 5))
      // console.log(this.listArtikel)

      // this.getArtikel()
      this.$nextTick(function() {
        window.addEventListener('resize', this.getWindowWidth);
        window.addEventListener('resize', this.getWindowHeight);

        //Init

        this.getWindowWidth()
        this.getWindowHeight()
      })
    },
    beforeMount () {

      //console.log('hello home')
      // console.log('hello langganan')
      // this.$store.commit('home/setActiveTab', 'home')
      // banners: [
      //   '/1.jpg',
      //   '/2.jpg',
      //   '/3.jpg'
      // ],
      this.swiperOption = {
        autoplay: {
          delay: 2500,
          disableOnInteraction: false
        },
        // loop: true,
        // slidesPerView: 'auto',
        // centeredSlides: true,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          // dynamicBullets: tr ue
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        // on: {
        //   slideChange() {
        //     console.log('onSlideChangeEnd', this);
        //   },
        //   tap() {
        //     console.log('onTap', this);
        //   }
        // }
      }
      // this.initialize()
      // // this.getModules()
      // this.getRecomendModule()
      // this.getPublisher()
      // this.setSwiperOption()
    },
    computed: {
      swiper() {
        return this.$refs.swiper.swiper
      }
    },
    methods: {
      getArtikel(){
        // console.log('hellow')
        this.$store.dispatch('home/getArtikelWp')
      },
      setSwiperOption(){
        this.swiperOption1 = {
          slidesPerView: this.spv,
          // centeredSlides: true,
          spaceBetween: 10,
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false
          // },
          // loop: true,
          // slidesPerView: 'auto',
          // centeredSlides: true,
          // pagination: {
          //   // el: '.swiper-pagination',
          //   // dynamicBullets: tr ue
          //   clickable: true
          // },
          // navigation: {
          //   nextEl: '.swiper-button-next',
          //   prevEl: '.swiper-button-prev'
          // },
          // on: {
          //   slideChange() {
          //     console.log('onSlideChangeEnd', this);
          //   },
          //   tap() {
          //     console.log('onTap', this);
          //   }
          // }
        }
      },
      getWindowWidth(event) {
        this.windowWidth = document.documentElement.clientWidth;
        if (this.windowWidth < 400){
          this.spv = 2
          this.setSwiperOption()
        }else{
          this.spv = 6
          this.setSwiperOption()
        }
      },

      getWindowHeight(event) {
        this.windowHeight = document.documentElement.clientHeight;
      },
      sliderClicked: function (event) {
        if(
          !event.target.classList.contains('swiper-pagination-bullet') &&
          !event.target.classList.contains('swiper-button-next') &&
          !event.target.classList.contains('swiper-button-prev')
        ) {
          // switch (this.swiper.realIndex) {
          //   case 0:
          //     this.$nuxt.$router.push('/edutest');
          //     break;
          //   case 1:
          //     window.location.href = 'https://play.google.com/store/apps/details?id=com.edutore02'
          //     break;
          //   case 2:
          //     this.$nuxt.$router.push('/edutest');
          //     break;
          //   case 3:
          //     this.$nuxt.$router.push('/signup');
          //     break;
          //   case 4:
          //     this.$nuxt.$router.push('/signup');
          //     // this.$nuxt.$router.push('/');
          //     break
          // }
          // let item = this.items[this.swiper.realIndex];
          // console.log('clicked item', this.swiper.realIndex);
          // this.$nuxt.$router.push('/');
        }
      },
      initialize(){
        this.basePathPublisher = this.$store.getters['setting/cdnBasePathPublisher']
        this.basepathImgModule = this.$store.getters['setting/cdnBasePathModuleThumb']
        // console.log(this.basepathImgModule)
      },
      async getRecomendModule(){
        this.$store.dispatch('home/getRecomendModules')
          .then(result => {
            if (result.success){
              // console.log(result)
              this.listModulesRecomend = result.data.rows
              // console.log(this.listModulesRecomend)
            } else {
              if (result === 'no connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
      },
      async getModules() {
        this.$store.dispatch('home/getModules')
          .then(result => {
            if (result.success){

              this.listModules = result.data.rows
              // console.log(result)
            } else {
              if (result === 'no connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
        // const modules = await this.$axios.$get('modules/page=1/limit=10/sort_by=DESC')
        // this.modules = modules.data.rows
        // console.log(this.modules)
      },
      async getPublisher() {
        this.$store.dispatch('home/getPublisherHome')
          .then(result => {
            if (result.success){

              this.listPublisher = result.data.rows
              // console.log(this.listPublisher)
            } else {
              if (result === 'no connection'){
                this.$toast.error('No Connection');
              }else{
                // console.log(result)
              }
            }
          })
        // const modules = await this.$axios.$get('modules/page=1/limit=10/sort_by=DESC')
        // this.modules = modules.data.rows
        // console.log(this.modules)
      },
      modulesClick (idx) {
        // console.log(idx)
        // console.log(this.listModules)
        // this.$router.push('/layar-konfirmasi-test')
        this.$nuxt.$router.push(`/modules/${idx}?type=0`)
      },
    },
    beforeDestroy() {
      // this.$store.commit('home/setActiveTab', '')
      window.removeEventListener('resize', this.getWindowWidth);
      window.removeEventListener('resize', this.getWindowHeight);
    }
  }
</script>
<style scoped>
  .banner{
    width: 100%;
  }

  .cat{
    width: 135px;
    height: 135px
  }
</style>

