<template>
    <div>
        <section class="sec-content sec-content-tema">
  <div class='container'>
  <div class='row'>
  <div class='col'>
      <div class="wrapper-pilihan-test">
          <h1>Pilih tes yang ingin kamu kerjakan!</h1>
          <form action="#">
            <div class="row">
              <div class="col-md-3">
                <label for="status">Status</label>
                <div class="test-select">
                    <select class="form-control" name="status" id="status">
                        <option value="Umum">Umum</option>
                        <option value="pelajar">Pelajar</option>
                      </select>
                </div>

                
              </div>
              <div class="col-md-3">
                  <label for="kelas">Kelas/Jenjang</label>
                  <div class="test-select">
                  <select class="form-control" name="kelas" id="kelas">
                    <option value="SD Kelas I">SD Kelas I</option>
                    <option value="SD Kelas II">SD Kelas II</option>
                    <option value="SD Kelas III">SD Kelas III</option>
                    <option value="SD Kelas IV">SD Kelas IV</option>
                    <option value="SD Kelas V">SD Kelas V</option>
                    <option value="SMP Kelas VII">SMP Kelas VII</option>
                    <option value="SMP Kelas VIII">SMP Kelas VIII</option>
                    <option value="SMP Kelas IX">SMP Kelas IX</option>
                    <option value="SMA Kelas X">SMA Kelas X</option>
                    <option value="SMA Kelas XI">SMA Kelas XI</option>
                    <option value="SMA Kelas XII">SMA Kelas XII</option>            
                  </select>
                </div>
                </div>
                <div class="col-md-3">
                    <label for="mata pelajaran">Mata pelajaran</label>
                    <div class="test-select">
                      <select class="form-control" name="mata-pelajaran" id="mata-pelajaran">
                      <option value="B. Indonesia">B. Indonesia</option>
                      <option value="B. Inggris">B. Inggris</option>
                      <option value="Biologi">Biologi</option>
                      <option value="Ekonomi">Ekonomi</option>
                      <option value="Fisika">Fisika</option>
                      <option value="Geografi">Geografi</option>
                      <option value="IPA">IPA</option>
                      <option value="IPS">IPS</option>
                      <option value="Kimia">Kimia</option>
                      <option value="Matematika">Matematika</option>
                      <option value="Sejarah">Sejarah</option>
                      <option value="Sosiologi">Sosiologi</option>              
                    </select>
                  </div>
                </div>
                <div class="col-md-3">  
                  <div class="outer-btn-sbumit">
                      <input type="submit" value="Cari Modul" class="btn btn-cari-modul">
                  </div>                
                  
                </div>          
            </div>
          </form>
      </div>   
  </div>
  </div>
  </div>    
</section>

<section class="sec-step">
  <div class='container'>
    <div class='row'>
      <div class='col'>
          <div class="icon-step">
              <img src="~/assets/img/ste-icon.png" alt="icon-step" class="img-fluid">
          </div>
      </div>
    </div>
  </div>  
</section>

<section class="sec-rekomendasi">
  <div class='container con-rekomendasi'>
    <div class="row">
      <div class="col col-rekomendasi">
          <div class="row">
              <h2>Rekomendasi</h2>
            </div>
        
            <!-- row book -->
            <div class='row row-book'>
              <!-- col book -->
              <div class='col'>
                <div class="books">
                  <!-- book -->
                  <img src="~/assets/img/new-icon.png" alt="new indicator" class="new-indi">
                  <div class="detail-buku">                      
                      <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                      <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                      
                      <div class="penerbit">Penerbit</div>
                      <div class="row">
                        <div class="main-crown bg-gold">
                          <img src="~/assets/img/crown.png" alt="crown">
                        </div>
                        <span class="price">Rp. 200.000 </span>                                       
                      </div>
                      <div class="icon-desc">                            
                        <div class="desc-icon love-icon float-left">
                          <div class="row">
                              <img src="~/assets/img/Love.png" alt="love">
                              <h3>543</h3>
                          </div>                          
                        </div>
                        <div class="desc-icon book-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/book-icon.png" alt="book">
                                <h3>700</h3>
                            </div>
                            
                          </div>
                          <div class="clear"></div>
                      </div>
                  </div>
                  <!-- end book -->        
                </div>
              </div>
              <!-- end col book -->
              <!-- col book -->
              <div class='col'>
                  <div class="books">
                      <img src="~/assets/img/best.png" alt="new indicator" class="new-indi">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-brown">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-blue">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                      <img src="~/assets/img/best.png" alt="new indicator" class="new-indi">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
                <!-- col book -->
              <div class='col'>
                  <div class="books">
                      <img src="~/assets/img/new-icon.png" alt="new indicator" class="new-indi">
                    <!-- book -->
                    <div class="detail-buku">
                        <img src="~/assets/img/bank-soal.png" alt="Bank Soal">
                        <a href="#">Kumpulan Soal & Pembahasan Siap UN/USB…</a> 
                        
                        <div class="penerbit">Penerbit</div>
                        <div class="row">
                          <div class="main-crown bg-gold">
                            <img src="~/assets/img/crown.png" alt="crown">
                          </div>
                          <span class="price">Rp. 200.000 </span>                                       
                        </div>
                        <div class="icon-desc">                            
                          <div class="desc-icon love-icon float-left">
                            <div class="row">
                                <img src="~/assets/img/Love.png" alt="love">
                                <h3>543</h3>
                            </div>                          
                          </div>
                          <div class="desc-icon book-icon float-left">
                              <div class="row">
                                  <img src="~/assets/img/book-icon.png" alt="book">
                                  <h3>700</h3>
                              </div>
                              
                            </div>
                        </div>
                    </div>
                    <!-- end book -->        
                  </div>
                </div>
                <!-- end col book -->
              
            </div>
            <!-- end row book -->
        
             
      </div>
    </div>    
  </div>
</section>
    </div>
</template>

<script>
export default {
    layout: 'base-layout-4',
    head () {
      return {
        // title: this.title,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Tes Ujian | Nama Module | Nama Tema' }
        ],
        bodyAttrs: {
            class: 'bg-grey'
        },
      }
    },
}
</script>
