<template>
  <section class="sec-content sec-content-tema" style="margin-bottom: 20px">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <div class="login-container ">
            <ul>
              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>
              <li><nuxt-link to="/kritik-saran" class="text-blue">Kritik dan saran</nuxt-link></li>
              <li><nuxt-link to="/kebijakan-privacy" class="text-black-50">Kebijakan Privasi</nuxt-link></li>
              <li><nuxt-link to="/terms" class="text-blue">Syarat dan Ketentuan</nuxt-link></li>
              <li><nuxt-link to="/haki" class="text-blue">Hak Cipta</nuxt-link></li>
              <li><nuxt-link to="/faq" class="text-blue">FAQ</nuxt-link></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="login-container ">
            <h5 class="text-blue">Kebijakan Privasi</h5>
            <p>Kebijakan Privasi mengatur tata cara di mana kami mengumpulkan, menggunakan, mengungkapkan, menyimpan, memproses dan mengelola informasi pribadi.</p>
            <p>Edutore berkomitmen untuk melindungi privasi pengguna platform Edutore dan turunannya sesuai dengan yang tertera dalam Undang-Undang Privasi tentang Peraturan Data Pribadi Indonesia (Peraturan Menteri Komunikasi dan Informatika No. 20 tahun 2016 tentang Perlindungan Data Pribadi dalam Sistem Elektronik) dan undang-undang No. 11 Tahun 2008 tentang Informasi dan Transaksi Elektronik jo undang-undang No. 19 Tahun 2016 tentang Perubahan Atas Undang-Undang No.11 Tahun 2008 Tentang Informasi dan Transaksi Elektronik, peraturan pemerintah No. 82 Tahun 2012 tentang Penyelenggara Sistem dan Transaksi Elektronik, kode praktik, pedoman atau pembimbingan setempat tentang perlindungan data pribadi yang berlaku sebagaimana dapat diterbitkan dari waktu ke waktu (sebagaimana keadaannya).</p>
            <h6 class="text-body">Informasi pribadi yang dikumpulkan oleh Edutore</h6>
            <ol>
              <li style="list-style-type: decimal !important;">Informasi yang secara mandiri Anda serahkan.
                Kami dapat mengumpulkan informasi yang Anda berikan saat pengisian formulir elektronik ketika Anda mendaftar untuk menggunakan aplikasi. Informasi tersebut meliputi:
                <ol>
                  <li>Nama</li>
                  <li>Alamat Tempat Tinggal</li>
                  <li>Nomor Telepon</li>
                  <li>Alamat email</li>
                  <li>Nomor kartu kredit dan/atau kartu debit</li>
                </ol>
                Apabila Anda adalah user, data lain yang kami kumpulkan adalah:
                <ol>
                  <li>Foto profil akun</li>
                  <li>Nama dan alamat sekolah</li>
                  <li>Program pendidikan yang dipilih</li>
                  <li>Data orang tua/wali (termasuk nama, alamat email dan nomor telepon)</li>
                </ol>
                Apabila Anda adalah partner, data lain yang kami kumpulkan adalah:
                <ol>
                  <li>Nomor identitas perusahaan (SIUP/TDP,SKDP)</li>
                  <li>Foto dokumen SIUP/TDP,SKDP</li>
                  <li>Foto akta pendirian perusahaan dan Akta Perubahan Perusahaan Terakhir</li>
                  <li>NPWP</li>
                  <li>Nama Pemimpin Perusahaan</li>
                  <li>Identitas koresponden (termasuk nama, email, alamat dan nomor telepon)</li>
                </ol>
                Informasi lainnya ketika Anda menggunakan fungsi dari platform Kami seperti menghubungi kami, menggunakan fitur komentar, berlangganan layanan atau keperluan lainnya yang meminta anda untuk mengisi formulir data diri ketika melakukan perubahan data dan verifikasi.
              </li>
              <li style="list-style-type: decimal !important;">Informasi pribadi yang kami kumpulkan. Data yang terekam secara otomatis saat Anda menggunakan platform meliputi:
              <ol>
                <li>Informasi lokasi penggunaan seperti alamat IP, lokasi Wi-Fi, geo-location dan sebagainya berdasarkan lokasi sesungguhnya atau perkiraan.</li>
                <li>Informasi secara teknis seperti browser atau perangkat yang digunakan, informasi log-in, sistem operasi, pengaturan zona waktu, dan sebagainya.</li>
                <li>Informasi berupa kunjungan pengguna seperti waktu kunjungan, halaman web yang pernah Anda kunjungi, halaman web yang dikunjungi yang dikunjungi sebelum dan sesudah mengunjungi situs kami, durasi kunjungan/sesi yang memungkinkan kami untuk mengirimkan informasi fungsi-fungsi situs web.</li>
                <li>Informasi yang didapat dari hasil ujian dan/atau aktivitas pada platform.</li>
              </ol>
              </li>
              <li style="list-style-type: decimal !important;">Informasi yang kami kumpulkan dari sumber lain. Kami dapat mengumpulkan informasi Anda jika Anda menggunakan situs atau layanan lain yang kami sediakan, termasuk; partner Edutore,  mitra penyedia layanan pembayaran, kurir, penyedia layanan finansial, penyedia layanan umum dan mitra bisnis lainnya.</li>
            </ol>
            <h6 class="text-body">Penggunaan Informasi yang Edutore Kumpulkan</h6>
            <p>Kami tidak berbagi informasi pribadi Anda kepada selain pihak Edutore tanpa adanya izin dari Anda.  Namun, kami mungkin berbagi informasi pribadi Anda kepada pihak ketiga terpercaya seperti mitra bisnis, penyedia layanan atau jika kami meyakini bahwa pengungkapan informasi tersebut perlu demi alasan hukum.</p>
            <p>Kami akan berupaya dengan sebaik-baiknya memastikan bahwa pihak ketiga terpercaya dapat menjaga informasi pribadi Anda tetap aman dan menggunakannya dengan cara yang sesuai dengan Kebijakan Privasi ini serta undang-undang dan peraturan perlindungan data yang berlaku.</p>
            <h6 class="text-body">Cookies</h6>
            <p>Cookie adalah berkas data yang disimpan pada web browser yang Anda kunjungi dan secara otomatis menyimpan pengaturan atau preferensi maupun konfigurasi Anda selama mengunjungi situs. Cookie dapat menyimpan berbagai jenis informasi, termasuk informasi pribadi seperti nama, alamat rumah, alama e-mail dan nomor telepon Anda.</p>
            <p>Mengapa Edutore menggunakan cookie?</p>
            <p>Autentikasi</p>
            <p>Preferensi dan konfigurasi yang disimpan oleh cookies dapat memudahkan Anda dalam menggunakan dan mengakses platform kami. Cookie dapat juga digunakan untuk membantu mempercepat kegiatan dan pengalaman Anda di kemudian hari pada platform kami. Cookie dapat melakukan hal ini karena situs web dapat membaca dan menyimpan data tersebut, memungkinkan mereka untuk mengenal Anda dan mengingat informasi penting yang pernah Anda lakukan pada platform kami. Sehingga Anda bisa otomatis masuk ke platform kami dan tidak perlu login secara berulang.</p>
            <p>Keamanan</p>
            <p>Cookie dapat membantu kami mengenali saat seseorang mencoba mengakses akun Anda tanpa otorisasi dan melakukan tindakan tambahan serta memulihkan akun Anda jika lupa dengan kode sandi akun Anda atau jika akun Anda telah diretas.</p>
            <p>Iklan, Rekomendasi</p>
            <p>Cookie memungkinkan kami untuk memunculkan iklan yang relevan dengan Anda sehingga mempermudah untuk menemukan minat Anda dan mencegah agar Anda tidak melihat iklan yang sama berkali-kali</p>
            <p>Analitik dan Kinerja</p>
            <p>Dalam pengoperasian platform kami, cookies berguna untuk menghimpun data terpisah secara anonim yang memungkinkan kami untuk mengerti mengenai bagaimana orang-orang menggunakan platform kami dan membantu kami meningkatkan kualitas konten dan cara kerja platform kami. </p>

          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    layout: 'base-layout-7',
    head () {
      return {
        title: 'Kebijakan Privasi',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // {charset: 'utf-8'},
          // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
          { hid: 'description', name: 'description', content: 'Kebijakan Privasi' },
          { property: 'og:title', content: 'Haki' },
          { property: 'og:url', content: `https://edutore.com/kebijakan-privasi`},
          { property: 'og:site_name', content: 'edutore' },
          { property: 'og:description', content: `Edutore Kebijakan privasi adalah keterangan tentang kebijakan yang telah di rangkum dari semua produk yang berada di edutore.com` },
          { property: 'og:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/sapu-bersih-soal-ujian-fisika-smp-mts-kelas-7-8-9_1565666845.jpg` },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({

    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {

    }
  }
</script>
<style>
  ol{
    list-style-type: lower-alpha !important;
    margin-left: 20px;
  }
  ol li{
    list-style: lower-alpha !important;
  }
</style>
