<template>
  <section class="sec-content sec-content-tema xn-mt">
    <div class='container'>
      <div class='row'>
        <div class="col-md-3">
          <div class="login-container ">
            <ul>
              <li><nuxt-link to="/tentang-kami" class="text-blue">Tentang Kami</nuxt-link></li>
              <li><nuxt-link to="/kritik-saran" class="text-black-50">Kritik dan saran</nuxt-link></li>
              <li><nuxt-link to="/kebijakan-privacy" class="text-blue">Kebijakan Privasi</nuxt-link></li>
              <li><nuxt-link to="/terms" class="text-blue">Syarat dan Ketentuan</nuxt-link></li>
              <li><nuxt-link to="/haki" class="text-blue">Hak Cipta</nuxt-link></li>
              <li><nuxt-link to="/faq" class="text-blue">FAQ</nuxt-link></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="login-container ">
            <!-- Begin Mailchimp Signup Form -->
<!--            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">-->
<!--            <style type="text/css">-->
<!--              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }-->
<!--              /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.-->
<!--                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */-->
<!--            </style>-->
<!--             <form class="" action="" method="post">-->
            <h5 class="text-blue">Punya kritik atau saran untuk Edutore?
              Jangan ragu dan kirimkan pendapatmu</h5>
            <div class="form-group" style="margin-top: 20px;">
              <label>Nama</label>
              <input name="nama" type="text" v-model="details.nama" :class="{'form-control': true, 'req-login': errors.has('nama')}" v-validate="'required'" placeholder="">
              <span v-show="errors.has('nama')" class="text-red">{{ errors.first('nama') }}</span>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="text" v-model="details.email" :class="{'form-control': true, 'req-login': errors.has('email')}" v-validate="'required|email'" placeholder="">
              <span v-show="errors.has('email')" class="text-red">{{ errors.first('email') }}</span>
            </div>
            <div class="form-group">
              <label>No HP</label>
              <input name="no_hp" type="text" v-model="details.no_hp" :class="{'form-control': true, 'req-login': errors.has('no_hp')}" v-validate="'required|min:10'" placeholder="">
              <span v-show="errors.has('no_hp')" class="text-red">{{ errors.first('no_hp') }}</span>
            </div>
            <div class="form-group">
              <label>Judul</label>
              <input name="judul" type="text" v-model="details.judul" :class="{'form-control': true, 'req-login': errors.has('judul')}" v-validate="'required'" placeholder="">
              <span v-show="errors.has('judul')" class="text-red">{{ errors.first('judul') }}</span>
            </div>
            <div class="form-group">
              <label>Isi Pesan</label>
              <textarea name="pesan" v-model="details.pesan" :class="{'form-control': true, 'req-login': errors.has('pesan')}" v-validate="'required'"></textarea>
              <span v-show="errors.has('pesan')" class="text-red">{{ errors.first('pesan') }}</span>
            </div>
            <div class="form-group">
              <button @click="submit" type="submit" class="btn btn-warning btn-block">Kirim</button>
            </div>
<!--             </form>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    layout: 'base-layout-7',
    head () {
      return {
        title: 'Kritik Saran',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Kritik Saran edutore.com' },
          // Facebook Meta tags
          { property: 'og:title', content: 'Kritik Saran Edutore' },
          { property: 'og:url', content: 'https://edutore.com/kritik-saran' },
          { property: 'og:site_name', content: 'edutore' },
          { property: 'og:description', content: 'Kritik saran edutore adalah wadah dari semua user yang ingin memberikan saran2 dan informasi terkait seluruh produk edutore' },
          { property: 'og:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/sikat-un-geografi_1565668001.jpg' },
          // { property: 'og:image:type', content: 'image/jpg' },
          // { property: 'og:image:width', content: '800' },
          // { property: 'og:image:height', content: '800' },
          // Twitter Meta tags
          // { name: 'twitter:title', content: 'modules' },
          // { name: 'twitter:image', content: 'https://storage.googleapis.com/edutore-cdn/public/module/thumb/siap un usbn sma ma bahasa indonesia 2019_1553087300.jpg' },
          // { name: 'twitter:url', content: 'https://edutore.com/kritik-saran' },
          // { name: 'twitter:card', content: '' },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        },
      }
    },
    data: () => ({
      details: {
        nama: '',
        email: '',
        no_hp: '',
        judul: '',
        pesan: ''
      }
    }),
    mounted () {

    },
    beforeMount () {

    },
    methods: {
        submit(){
          this.$validator.validateAll().then(x => {
            console.log(x)
            if (x) {
              this.$store.dispatch('kritik-saran/kritikSaran', this.details)
                .then((result) => {
                  if (result.success){
                    this.details = {
                        nama: '',
                        email: '',
                        no_hp: '',
                        judul: '',
                        pesan: ''
                    }
                    this.$validator.reset()
                    // console.log(result)
                    this.$toast.success('Berhasil di Kirim.')
                  }else{
                    this.$toast.error('Terjadi kesalahan, Silahkan hubungi edutore.')
                  }

                })
            }else{
              this.$toast.show('Mohon isi data yang kosong.')
            }
          })
        }
    }
  }
</script>

<style scoped>
  .xn-mt{
    margin-bottom: 20px;
  }
</style>
