<template>
<div>
<div class="sub-nav bg-blue">
      <div class="container">
          <nav class="nav justify-content-end">
            <a class="nav-link" href="#">
              <i class="ico ico-history ico9019"></i>              
            </a>
            <a class="nav-link" href="#">
              <i class="ico ico-shopping ico9019"></i>              
            </a>
            <a class="nav-link" href="#">
              <i class="ico ico-notif ico9019"></i>              
            </a>
            
          </nav>
      </div>
    </div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12">
            <nav class="nav nav-pills nav-justified tab-da" id="myTab">
              <a class="nav-item nav-link active" id="promo-tab" data-toggle="tab" href="#promo" role="tab" aria-controls="promo" aria-selected="true">Promo</a>
              <a class="nav-item nav-link" id="akun-tab" data-toggle="tab" href="#akun" role="tab" aria-controls="akun" aria-selected="false">Akun</a>
            </nav>
            <div class="tab-das p-0">
              <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="promo" role="tabpanel" aria-labelledby="promo-tab">
                    <div class="notif-list notif-we">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 1</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                  
                    <div class="notif-list notif-we">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 2</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="notif-list">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 3</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="notif-list notif-fe">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 4</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                  
                </div>
                <div class="tab-pane fade" id="akun" role="tabpanel" aria-labelledby="akun-tab">
                    <div class="notif-list">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 1</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                  
                    <div class="notif-list notif-we">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 2</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="notif-list">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 3</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="notif-list notif-fe">
                        <div class="row">
                          <div class="col-2 prmoas">
                            <img src="~/assets/img/tumb.png" class="img-fluid" alt="">
                          </div>
                          <div class="col">
                              <h4 class="notif-ttl">Notifikasi 4</h4>
                              <p class="mb-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit urna, malesuada in nisl in, semper viverra massa. Duis quis odio mollis, placerat nisiin,  cursus odio. 
                                Donec ultrices gravida vehicula. Morbi massa ligula, dictum tincidunt tellus fermentum, ultrices vehicula odio. Integer placerat purus varius  ipsum sagittis, in lobortis 
                                justo tincidunt. In hac habitasse platea dictumst. Fusce ac diam risus. Aliquam imperdiet ac tortor sed aliquam.
                              </p>
                              <div class="text-grey">
                              <span class="mr-4"> <i class="far fa-calendar-alt"></i> 01/01/2019 </span> <span><i class="far fa-clock"></i> 15:30</span>
                              </div>
                            
                          </div>
                        </div>
                    </div>
                  
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </div>
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout',
    head: () => ({
      bodyAttrs: {
            class: 'bg-grey'
        }
    })
}
</script>