<template>
<div>
     <div class="container mt-4">
        <form action="">
          <input type="text" class="form-control form-dark" value="Lorem Ipsum">
        </form>

        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i> Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="100">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                100%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i> Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="80">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                80%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="history-item mb-4">
          <p class="history-date mt-4 pl-3"><i class="far fa-calendar-alt"></i> Hari ini - Kamis, 10 Januari 2019</p>

          <div class="bg-white radius-10 history-container">
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="90">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                90%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <div class="history-list">
                <div class="row align-items-center">
                  <div class="col-1 time-mg">
                    <p class="mb-0 text-grey"><i class="far fa-clock"></i> 08:00</p>
                  </div>
                  <div class="col center-m">
                    <div class="row align-items-center">
                      <div class="col-lg-2 col-md-3">
                          <div class="progress" data-percentage="20">
                            <span class="progress-left">
                              <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                              <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                              <div>
                                20%
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                          <p class="text-20 mb-0">Nama Tema, Paket 0</p>
                          <p class="mb-0">Nama/Judul Modul</p>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2 progess-mg">
                    <img src="~/assets/img/Rectangle-5@2x.png" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
          </div>
        </div>
        
    </div>
</div>
</template>

<script>

export default {
    layout: 'base-layout-3',
  
}
</script>