<template>
<div>
    <div class="history-404"></div>
</div>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
    layout: 'base-layout-3',
  
}
</script>