<template>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-12">
        <div class="mt-4">
          <nuxt-link to="/"><img src="~/assets/img/logo-edustore.png" class="img-fluid" alt="..."></nuxt-link>
        </div>
      </div>
    </div>
    <div class="row h-100 justify-content-center">
      <div class="col-sm-6 my-auto">
        <div class="" style="margin-top: 50px">
          <div class="login-container ">
            <!-- <form class="" action="" method="post"> -->
            <div class="form-group">
              <label for="">No HP / Email</label>
              <input name="email" v-model="userLogin.email" type="text" :class="{'form-control': true, 'req-login': errors.has('email')}" v-validate="'required|email'" placeholder="">
              <span v-show="errors.has('email')" class="text-red">{{ errors.first('email') }}</span>
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input name="password" v-model="userLogin.password" type="password" :class="{'form-control': true, 'req-login': errors.has('password')}" v-validate="'required|min:5'" placeholder="">
              <span v-show="errors.has('password')" class="text-red">{{ errors.first('password') }}</span>
            </div>
            <div class="form-group">
              <div  class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Ingat saya</label>
              </div>
            </div>
            <div class="form-group">
              <button @click="submitLogin" type="submit" class="btn btn-primary btn-block">MASUK</button>
            </div>
            <div class="text-center">
              <a href="javascript:void(0)" @click="forgetPass" class="link-underline">Lupa kata sandi?</a>
            </div>
            <!-- </form> -->
          </div>
          <div class="login-container">
            <div class="text-center">
              Belum punya akun? Yuk <a href="javascript:void(0)" @click="signUp" class="link-underline">daftar</a> sekarang!
            </div>
          </div>
        </div>
      </div>
    </div>
  <forget-password></forget-password>
  </div>
</template>

<script>
  // import Logo from '~/components/Logo.vue'
  // import VuetifyLogo from '~/components/VuetifyLogo.vue'
  import forgetPassword from '~/components/modal-component/forget-password.vue'

  export default {
    layout: 'signup-layout',
    components: {
      forgetPassword
    },
    data: () => ({
      userLogin: {
        email: '',
        password: '',
      },
    }),
    head () {
      return {
        title: 'Edutore by Gramedia  | Signin',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {hid: 'description', name: 'description', content: 'Sign In Edutore'}
        ],
        bodyAttrs: {
          class: 'bg-image h-100'
        },
      }
    },
    methods: {
      submitLogin () {
        this.$validator.validateAll().then(x => {
          // console.log(x)
          if (x){
            this.$store.dispatch('auth/login', this.userLogin)
              .then(result => {
                console.log(result)
                if (this.$store.getters['auth/isLogin']){
                  $('#login-popup').modal('hide');
                  setTimeout(() => location.reload(), 2000)
                  this.isLogin = true
                  this.$toast.success('Successfully Logged In');
                } else {
                  this.$toast.show('Login failed or user not found');
                }
              })
          }
        }).catch(e => {
          console.log(e)
        })
      },
      forgetPass(){
        $('#forget-password').modal('show')
        $('#login-popup').modal('hide')
        // console.log('forget password')
        // this.$refs.email.focus();
      },
      signUp(){
        setTimeout(() => this.$nuxt.$router.push('/signup'), 1000)
      }
    }
  }
</script>

