<template>
    <div class="berhasil-beli">
        <img src="~/assets/img/success-buy.png" style="width: 150px">
        <h5>Selamat, Pembayaran anda berhasil!</h5>
        <p>Pembayaran anda sudah kami terima, selanjutnya anda dapat menggunakan buku-buku yang telah anda beli</p>
        <nuxt-link class="link-underline mydiv" to="/users/my-modules"><h6>Lihat Koleksi saya</h6></nuxt-link>
    </div>
</template>

<script>
export default {
    mounted(){
        this.$store.dispatch('cart/clearCart')
        // setTimeout(() => this.$nuxt.$router.push('/edutest'), 5000)
    }
}
</script>


<style scoped>
  .berhasil-beli {
    text-align: center;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;

}
</style>
