<template>
  <div class="mobile-view">
     <div class="container mt-4">
        <div class="row">
          <div class="col-12 col-md-12">
            <img src="~/assets/img/langganan/banner-langganan.jpg" class="banner" alt="banner lebaran" style="width: 100%">
          </div>
        </div>
       <br>
       <div class="row">
        <div v-for="(langganan, index) in listLangganan" :key="index" class="col-12 col-lg-3">
          <div class="box-langganan">
            <h3><b>{{langganan.package_name}}</b></h3>
            <h6>{{langganan.duration}} Hari</h6>
            <hr />
            <div class="content text-left" v-html="langganan.descriptions"></div>
            <hr />
<!--            <div class="price">Rp.500.000</div>-->
            <div v-if="langganan.basic_price !== langganan.sale_price" class="price-carret">{{currencyFormat2(langganan.basic_price, 'Rp ')}}</div>
            <div v-else class="no-price-carret">&nbsp;</div>
            <div class="price">{{currencyFormat2(langganan.sale_price, 'Rp ')}}</div>
            <!--button @click="beliLangganan" class="btn btn-buy-langganan">Detail</button-->
            <nuxt-link :to="'/langganan/'+langganan._id" class="btn btn-buy-langganan">Detail</nuxt-link>
            <div class="text-center" style="width: 100%"><nuxt-link to="/terms">Syarat dan ketentuan</nuxt-link></div>
          </div>
        </div>
<!--        <div class="col-12 col-lg-3">-->
<!--          <div class="box-langganan">-->
<!--            <h3><b>1 Bulan</b></h3>-->
<!--            <h6>Nama Paket Langganan</h6>-->
<!--            <hr />-->
<!--            <ul>-->
<!--              <li>Siap UN USBN SMA MA IPS 2019</li>-->
<!--              <li>Kumpulan Soal dan Pembahasan US/USBN</li>-->
<!--              <li>Materi yang Sering Keluar Dalam Tes CPNS</li>-->
<!--              <li>Kupas Tuntas Soal - Soal UN atau USBN SMK Plus </li>-->
<!--            </ul>-->
<!--            <hr />-->
<!--            <div class="price">Rp.500.000</div>-->
<!--            <button class="btn btn-buy-langganan">Beli</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-lg-3">-->
<!--          <div class="box-langganan">-->
<!--            <h3><b>1 Bulan</b></h3>-->
<!--            <h6>Nama Paket Langganan</h6>-->
<!--            <hr />-->
<!--            <ul>-->
<!--              <li>Siap UN USBN SMA MA IPS 2019</li>-->
<!--              <li>Kumpulan Soal dan Pembahasan US/USBN</li>-->
<!--              <li>Materi yang Sering Keluar Dalam Tes CPNS</li>-->
<!--              <li>Kupas Tuntas Soal - Soal UN atau USBN SMK Plus </li>-->
<!--            </ul>-->
<!--            <hr />-->
<!--            <div class="price">Rp.500.000</div>-->
<!--            <button class="btn btn-buy-langganan">Beli</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-lg-3">-->
<!--          <div class="box-langganan">-->
<!--            <h3><b>1 Bulan</b></h3>-->
<!--            <h6>Nama Paket Langganan</h6>-->
<!--            <hr />-->
<!--            <ul>-->
<!--              <li>Siap UN USBN SMA MA IPS 2019</li>-->
<!--              <li>Kumpulan Soal dan Pembahasan US/USBN</li>-->
<!--              <li>Materi yang Sering Keluar Dalam Tes CPNS</li>-->
<!--              <li>Kupas Tuntas Soal - Soal UN atau USBN SMK Plus </li>-->
<!--            </ul>-->
<!--            <hr />-->
<!--            <div class="price">Rp.500.000</div>-->
<!--            <button class="btn btn-buy-langganan">Beli</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-12 col-lg-3">-->
<!--          <div class="box-langganan">-->
<!--            <h3><b>1 Bulan</b></h3>-->
<!--            <h6>Nama Paket Langganan</h6>-->
<!--            <hr />-->
<!--            <ul>-->
<!--              <li>Siap UN USBN SMA MA IPS 2019</li>-->
<!--              <li>Kumpulan Soal dan Pembahasan US/USBN</li>-->
<!--              <li>Materi yang Sering Keluar Dalam Tes CPNS</li>-->
<!--              <li>Kupas Tuntas Soal - Soal UN atau USBN SMK Plus </li>-->
<!--            </ul>-->
<!--            <hr />-->
<!--            <div class="price">Rp.500.000</div>-->
<!--            <button class="btn btn-buy-langganan">Beli</button>-->
<!--          </div>-->
<!--        </div>-->
       </div>
    </div>
  </div>
</template>

<script>

export default {
    layout: 'base-layout-4',
    data: () => ({
      listLangganan: []
    }),
    head () {
      return {
        title: 'Langganan',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content: 'Langganan' }
        ],
        // bodyAttrs: {
        //   class: 'bg-grey'
        // },
      }
    },
    beforeMount(){
      this.$store.commit('home/setActiveTab', 'langganan')
      //console.log('hello langganan')
    },
    mounted(){
      this.loadListLangganan()
      // this.loadMySubs()
      // this.loadMyModuleSubs()

      // let data = JSON.parse(this.$store.getters['langganan/myListModuleSubs'])
      // console.log(data)
      // this.loadMyModuleSubs()
      // console.log(this.$store.getters['auth/user'])
      // console.log(this.$store.getters['home/isTabActive'])
    },
    methods: {
      loadListLangganan(){
        this.$store.dispatch('langganan/getListLangganan')
          .then(result => {
            // console.log(result)
            if (result.data.success){
                this.listLangganan = result.data.data.rows
              //console.log(this.listLangganan)
              // this.$toast.success('Akun berhasil di ubah.')
            }else{
              // this.$toast.error('Akun gagal di ubah.')
            }
          })
      },
      beliLangganan(){
        this.$toast.success('Sukses beli langganan')
      }
    },
    beforeDestroy() {
      this.$store.commit('home/setActiveTab', '')
    }
}
</script>
