<template>
  <div>
    <!--  <section class="sec-shop sec-tema">-->
    <!--    <div class='container'>-->
    <!--        <div class='row'>-->
    <!--            <div class="col-md-2">-->
    <!--                <div class="logo-edutest">-->
    <!--                        <img src="~/assets/img/test-logo.png" alt="edutest logo">-->
    <!--                </div>-->
    <!--            </div>                           -->
    <!--            <div class='col-md-10'>-->
    <!--              <ul class="tema-reg">-->
    <!--                <li><nuxt-link to="/edutest">Galeri Tes</nuxt-link></li>-->
    <!--                <li><nuxt-link to="/users/my-modules">Koleksi Saya</nuxt-link></li>-->
    <!--                <li><a @click="checkMyModule" href="javascript:void(0)"><img src="~/assets/img/history.png" alt="history"></a></li>-->
    <!--                &lt;!&ndash; <li><a @click="cart" href="javascript:void(0)"><img src="~/assets/img/cart.png" alt="cart"></a></li> &ndash;&gt;-->
    <!--                <li>-->
    <!--                    <nuxt-link to="/c/keranjang-belanja"><img src="~/assets/img/cart.png" alt="cart"></nuxt-link>-->
    <!--                    <div v-if="countOrder !== 0" class="count-notif">{{countOrder}}</div>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="#"><img src="~/assets/img/notifikasi.png" alt="notifikasi"></a>-->
    <!--                    &lt;!&ndash; <div class="count-notif">2</div> &ndash;&gt;-->
    <!--                </li>-->
    <!--              </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
    <section class="sec-content sec-content-tema">
      <div class='container'>
        <div class='row'>
          <div class='col'>
            <div class="breadcumb">
              <ul>
                <li><nuxt-link to="/">Beranda</nuxt-link><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                <li><nuxt-link to="/edutest/1">Edutest</nuxt-link><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                <li>Module</li>
                <!-- <li><a href="#">Pelajar</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                <li><a href="#">SMA Kelas XII</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                <li><a href="#">IPS</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                <li><a href="#">Uji Coba Gratis</a><i class="fa fa-chevron-right" aria-hidden="true"></i></li> -->
                <!-- <li>Kumpulan Soal & Pembahasan…</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class='container'>
        <div class='row'>
          <div class='col-md-5'>
            <div v-if="isLoading" class="con-reg-kiri">
              <div class="text-center">
                <loader></loader>
                <br>
                <div>
                  <p>Loading...</p>
                </div>
              </div>
            </div>
            <div v-else class="con-reg-kiri">
              <h1>{{modules.name}} </h1>
              <h1 class="text-blue">{{totalSoal}} Soal</h1>
              <!--                    <h1>{{// modules.name}} <b class="text-red">{{typeBook}}</b></h1>-->
              <small>{{modules.module_authors[0].penulis.name}}</small>
              <small>{{modules.publisher.name}}</small>
              <!--                    <small>{{totalSoal}}</small>-->
              <br>
              <div v-if="isBuy === null" >
                <!-- <button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button> -->
              </div>
              <div v-else-if="!isBuy" >
                <h1 :hidden="isZeroPrice" class="text-blue text-center">{{currencyFormat2(modules.price, 'Rp ')}}</h1>
                <button :hidden="isZeroPrice" type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button>
              </div>

              <div v-else>
                <!-- <button type="submit" @click="buyModules" class="btn btn-primary btn-block">Beli</button> -->
              </div>
              <!-- <p v-else>Loading... </p> -->
              <br>
              <p v-if="modules.image === null">Loading...</p>
              <img v-else :src="imageModule" :alt="modules.name" rel="dns-prefetch" style="width: 100%;border-radius: 10px">
              <!-- <img :src="imageModule" alt="img-desc" style="width: 100%;border-radius: 10px"> -->
              <div class="desc-reg-kiri">
                <p v-for="(descr, index) in desc" :key="index">
                  {{descr}}
                </p>
                <div class="icon-desc">
                  <div class="desc-icon book-icon float-right">
                    <img src="~/assets/img/book-icon.png" alt="book">
                    <h3>{{cntReadModule}}</h3>
                    <!-- <h3>{{modules.amount_finish}}</h3> -->
                  </div>
                  <div @click="likes" class="desc-icon love-icon float-right ">
                    <!-- <img src="~/assets/img/Love.png" alt="love"> -->
                    <p class="ico-heart-module">
                      <i class="fas fa-heart" v-bind:class="isLiked ? 'heart-ico': '' "></i>
                      {{ttlLikes}}
                    </p>
                    <!-- <h3 v-if="modules.like === null">{{ttlLikes}}</h3>
                    <h3 v-else>{{ttlLikes}}</h3> -->
                    <!-- <h3>{{ttlLiked}}</h3> -->
                  </div>
                  <!-- <div @click="likes" class="desc-icon love-icon float-right ">
                          <img src="~/assets/img/Love.png" alt="love">
                          <h3 v-if="modules.like === null">{{ttlLikes}}</h3>
                          <h3 v-else>{{ttlLikes}}</h3>
                  </div> -->
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="con-reg-kanan">
              <!-- box -->
              <!-- <div v-if="listThema.paket_soals.length !== 0"> -->
              <!--                  <div v-for="(theme, index) in listThema" :key="index" @click="submit(index, theme)">-->
              <div v-for="(theme, index) in listThema" :key="index">
                <div v-if="theme.paket_soals.length !== 0" class="tema-reg__box">
                  <a>
                    <!-- <div class="centang">
                      <img src="~/assets/img/centang.png" alt="centang">
                    </div> -->
                    <!--                        <p v-if="theme.teori.length !== 0" class="text-grey" v-html="theme.teori[0].teori"></p>-->
                    <h2>{{theme.theme_name}}</h2>
                    <a v-if="theme.teori.length !== 0" href="javascript:void(0)">
                      <div v-for="(dasarTeori, index) in theme.teori" :key="index">
                        <div v-if="dasarTeori.trial">
                          <modal-dialog :teori="dasarTeori.teori" :idx="index"></modal-dialog>
                          <p @click="DasarTeori(index)" class="text-tosca-green">Dasar teori - {{dasarTeori.title}}</p>
                        </div>
                      </div>
                    </a>
                    <!--                        <div class="sub-tema-reg">Semester Gasal</div>-->
                    <!--                        <p>Paket soal terdiri dari {{theme.paket_soals.length}} paket</p>-->
                    <p class="tema-paket-soals" v-for="(paket_soal, idx) in listThema[index].paket_soals" :key="idx" @click="submitPaketSoals(idx, theme, paket_soal)">{{paket_soal.name}}  <b v-if="paket_soal.trial" class="text-red">Coba Gratis</b></p>

                    <!-- <p>0 dari {{theme.paket_soals.length}} Paket Soal telah dikerjakan</p> -->
                    <div class="star-reg-box">
                      <i class="star-kosong far fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                      <!-- <i class="star-kosong far fa-star"></i> -->
                    </div>
                  </a>
                </div>
              </div>
              <!-- </div> -->
              <!-- box telah dikerjakan-->
              <!-- <div class="tema-reg__box">
               <a href="#">
                 <div class="centang">
                   <img src="~/assets/img/centang.png" alt="centang">
                 </div>
                 <h2>Kelangkaan Sumber Daya</h2>
                 <div class="sub-tema-reg">Semester Gasal</div>
                 <p>3 dari 3 Paket Soal telah dikerjakan</p>
                 <div class="star-reg-box">
                   <i class="star-isi fa fa-star"></i>
                   <i class="star-isi fa fa-star"></i>
                   <i class="star-isi fa fa-star"></i>
                   <i class="star-isi fa fa-star"></i>
                   <i class="star-kosong far fa-star"></i>
                 </div>
               </a>
             </div> -->

              <!-- box -->
              <!-- <div class="tema-reg__solid">
                  <a href="#">
                    <h2>Kelangkaan Sumber Daya</h2>
                    <div class="sub-tema-reg">Semester Gasal</div>
                    <p>3 dari 3 Paket Soal telah dikerjakan</p>
                    <div class="star-reg-box">
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                    </div>
                  </a>
                </div> -->

              <!-- box -->
              <!-- <div class="tema-reg__box">
                  <a href="#">
                    <h2>Kelangkaan Sumber Daya</h2>
                    <div class="sub-tema-reg">Semester Gasal</div>
                    <p>3 dari 3 Paket Soal telah dikerjakan</p>
                    <div class="star-reg-box">
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                    </div>
                  </a>
                </div> -->

              <!-- box -->
              <!-- <div class="tema-reg__box">
                  <a href="#">

                    <h2>Kelangkaan Sumber Daya</h2>
                    <div class="sub-tema-reg">Semester Gasal</div>
                    <p>3 dari 3 Paket Soal telah dikerjakan</p>
                    <div class="star-reg-box">
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                    </div>
                  </a>
                </div> -->

              <!-- box -->
              <!-- <div class="tema-reg__box">
                  <a href="#">
                    <div class="centang">
                      <img src="~/assets/img/centang.png" alt="centang">
                    </div>
                    <h2>Kelangkaan Sumber Daya</h2>
                    <div class="sub-tema-reg">Semester Gasal</div>
                    <p>3 dari 3 Paket Soal telah dikerjakan</p>
                    <div class="star-reg-box">
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                    </div>
                  </a>
                </div> -->

              <!-- box -->
              <!-- <div class="tema-reg__box">
                  <a href="#">
                    <h2>Kelangkaan Sumber Daya</h2>
                    <div class="sub-tema-reg">Semester Gasal</div>
                    <p>3 dari 3 Paket Soal telah dikerjakan</p>
                    <div class="star-reg-box">
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-isi fa fa-star"></i>
                      <i class="star-kosong far fa-star"></i>
                    </div>
                  </a>
                </div> -->

            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- Modal Keluar-->
    <div class="modal" id="modal-belum-beli-module">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body modal-pause">
            <div>
              <h6>Pemberitahuan!</h6>
              <p>Anda belum membeli module ini, silahkan lakukan pembelian terlebih dahulu</p>
              <button type="submit" data-dismiss="modal" class="btn btn-info">Keluar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Modal Pause-->
  </div>
</template>

<script>
  import loader from '~/components/Loading3.vue'
  import modalDialog from '~/components/modal-dialog.vue'
  export default {
    layout: 'base-layout-4',
    // transition: 'page',
    head () {
      return {
        title: this.books.name,
        // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          // { hid: 'og-title', property: 'og:title', content: `${this.books.name} some books name` },
          { hid: `description`, name: 'description', content: `${this.books.name}'s public profile at Nuxt.js`},
          { name: 'og:title', content: this.books.name },
          { name: 'og:url', content: `https://edutore.com/modules/${this.books.module_slug}?type=0`},
          { name: 'og:site_name', content: 'edutore' },
          { name: 'og:description', content: this.books.description.slice(0, 100) },
          // { property: 'og:title', content: this.books.name },
          // { property: 'og:url', content: `https://edutore.com/modules/${this.books.module_slug}?type=0`},
          // { property: 'og:site_name', content: 'edutore' },
          // { property: 'og:description', content: this.books.description.slice(0, 100) },
          // { property: 'og:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
          // { name: 'twitter:title', content: this.books.name },
          // { name: 'twitter:image', content: `https://storage.googleapis.com/edutore-cdn/public/module/thumb/${this.books.image}` },
          // { name: 'twitter:url', content: `https://edutore.com/modules/${this.books.module_slug}?type=0` },
          // { name: 'twitter:card', content: 'card' },
        ],
        bodyAttrs: {
          class: 'bg-grey'
        }
      }
    },
    components: {
      loader,
      modalDialog
    },
    async asyncData(context){
      let books =  await context.$axios.get(`modules/${context.params.slug}`)
      // console.log(context.params.id)
      return {
        books: books.data.data.rows
      }
    },
    // async validate ({ params, store }) {
    //   // console.log(this.$route.params.id)
    //   // return true
    //   // let res = await store.dispatch('home/getCategory', '')
    // },
    data: () => ({
      totalSoal: 0,
      typeBook: '',
      metaDescription: 'Description of the books hahahaha',
      metaTitle: '',
      isLiked: false,
      ttlLikes: 0,
      isLoading: true,
      cntReadModule: 0,
      idSubs: 0,
      modules: {
        like: [],
        image: null,
        description: '',
        module_authors: [{
          penulis: {
            name: ''
          }
        }],
        publisher: {
          name: ''
        }
      },
      listThema: [],
      // dataModule: {
      //   matkul: '',
      //   kelas: ''
      // }
      buy: null,
      cart:{
        modules: null
      },
      countOrder: 0,
      isBuy: null,
      myModule: [],
      myModuleSubs: [],
      isOrder: false,
      isZeroPrice: false
    }),
    mounted () {
      // this.getModule()
      // console.log(this.$route.query)
      // console.log(this.$cookies.get('my-subscriptions'))
      // console.log(this.$store.getters['langganan/myListModulesSubsId'])
      // this.myModuleSubs = this.$store.state.langganan
      // console.log(this.myModuleSubs)
      // this.reLogin()
      // this.$nextTick(() => {
      // this.$nuxt.$loading.start()
      // error({statusCode: 404, message: "The server successfully processed the request and is not returning any content."})
      this.$store.dispatch('cart/getOrderModule')
      this.$store.commit('test/clearPaketSoal')
      // console.log(this.$store.getters['cart/totalCart'])
      // this.countOrder = this.$store.getters['cart/totalCart']
      // console.log(this.$cookies.get('session-paket-soal'))

      //  this.$cookies.remove('module-order')
      // setTimeout(() => this.$nuxt.$loading.finish(), 5000)

      // })

      // console.log(this.$cookies.get('session-thema'))
    },
    beforeMount(){
      // console.log(this.$cookies.get('my-subscriptions'))
      // console.log(this.$cookies.get('my-list-subscriptions'))
      if (this.$store.getters['auth/isLogin']){
        // console.log(this.$cookies.get('my-subscriptions').length)
        this.getMyModule()
        if (this.$cookies.get('my-subscriptions').length === 0){
          // console.log(this.myModule)
          this.loadMySubs()

          this.getMyModuleSubs(this.$cookies.get('my-subscriptions'))
          // let data = this.$store.getters['langganan/mySubs']
        }else{
          if (this.$cookies.get('my-list-subscriptions') === undefined){
            this.getMyModuleSubs(this.$cookies.get('my-subscriptions'))
            // this.$store.commit('langganan/setMySubscriptions2')
            // console.log(this.$store.getters['langganan/myListModuleSubs'])

          }else{
            // console.log('hello')
            // this.getMyModuleSubs(this.$cookies.get('my-subscriptions'))
            this.getModule()
          }

          // console.log(this.$cookies.get('my-list-subscriptions'))
          // this.getMyModuleSubs(this.$cookies.get('my-subscriptions'))
        }
        // this.getModule()
      }else{
        // console.log('hellow')
        // this.isLoading = false
        // this.isBuy = false
        this.getModule()
      }
    },
    updated(){
      // console.log('data from updated')

    },
    computed: {
      author() {
        // console.log()
      },
      desc () {
        if (this.modules.description === null){
          return this.modules.description
        } else {
          return this.modules.description.split('\r\n')
        }
        // console.log(this.modules.description.split('\r\n'))
        // this.modules.description.split()
        // return this.modules.description.split('\r\n')

      },
      imageModule () {
        return this.$store.getters['setting/cdnBasePathModule']+this.modules.image
      }
    },
    methods: {
      DasarTeori(idx){
        $('#modal-dasar-teori'+idx).modal('show')
        // console.log('sample')
      },
      async getMyModuleSubs(arr_id_langganan) {
        // console.log(arr_id_langganan)
        arr_id_langganan.forEach(element => {
          // TERGANTUNG LOOP
          this.$store.dispatch('langganan/getMyModuleSubscriptions', element.id)
            .then((response) => {
              // this.sLoading = false
              // console.log(response)
              if (response.success){
                let data = {
                  id_subs: response.data.id,
                  listModule: response.data.paket_langganan.modules_langganan
                }
                // console.log(response.data.paket_langganan.modules_langganan)
                this.myModuleSubs.push(data)
                // this.getModule()
                // this.getModule
                // console.log(response.data.paket_langganan)
                // console.log(this.myModuleSubs)
              }else{
                // console.log(response)
                if (response.data.message === 'Token is Invalid'){
                  this.$toast.show('Reconnecting... please refresh the page.');
                  this.reLogin()
                  // this.getMyModule()
                  // console.log('reloaddded')
                }
              }
            })
          // console.log()
        })

        this.getModule()
      },

      submitPaketSoals(idx, thema, paketSoal){
        // console.log(this.typeBook)
        // this.$store.commit('test/resetSessionThema')
        // this.$store.commit('test/clearPaketSoal')
        if (this.$store.getters['auth/isLogin']){
          // IS LOGIN
          if (paketSoal.trial){
            thema.matkul = this.modules.name
            thema.kelas = this.modules.kelas.name
            thema.module_id = this.modules.id
            thema.module_slug = this.modules.module_slug
            thema.selectedPaketSoal = paketSoal
            thema.idSubs = null
            thema.type = 'trial'
            this.$store.dispatch('test/setSessionThema', thema)
            // console.log(paketSoal)
            this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id+'?type=trial')
          }else{
            let type = null
            if (this.$route.query.type === '1'){
              type = 'reguler'
            }else if (this.$route.query.type === '2'){
              type = 'langganan'
            }else{
              if (this.typeBook === 'L'){
                type = 'langganan'
              }else{
                type = 'reguler'
              }
              // console.log(this.typeBook)
            }
            thema.matkul = this.modules.name
            thema.kelas = this.modules.kelas.name
            thema.module_id = this.modules.id
            thema.module_slug = this.modules.module_slug
            thema.type = type
            // console.log(thema)
            if (this.typeBook === 'L'){
              thema.selectedPaketSoal = paketSoal
              thema.idSubs = this.idSubs
              // thema.type = 'langganan'
            }else{
              // thema.type = 'reguler'
              thema.selectedPaketSoal = paketSoal
            }
            this.$store.dispatch('test/setSessionThema', thema)
            if (this.isBuy){
              this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id)
            }else{
              // console.log('t')
              $('#modal-belum-beli-module').modal('show')
              // this.$nuxt.$router.push('/modules/module-belum-beli')
            }
          }
        }else{
          // IS NOT LOGIN
          // TRIAL
          // console.log(''+this.modules.id+'/'+thema.id)
          // console.log(thema)
          if (paketSoal.trial){
            thema.matkul = this.modules.name
            thema.kelas = this.modules.kelas.name
            thema.module_id = this.modules.id
            thema.module_slug = this.modules.module_slug
            thema.selectedPaketSoal = paketSoal
            thema.idSubs = null
            thema.type = 'trial'
            this.$store.dispatch('test/setSessionThema', thema)
            // console.log(this.$store.getters['test/sessionThema'])
            // console.log(this.$cookies.get('session-thema'))
            this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id)
          }else{
            this.$toast.show('Mohon Login Dulu..');
            $('#login-popup').modal('show');
          }

        }
      },
      getMylikes(){
        if (this.$store.getters['auth/isLogin']){
          this.$store.dispatch('edutest/getLikedUser')
            .then(result => {
              // console.log(result)
              let abc = result.data.rows.findIndex(x => x.module_id === this.modules.id);
              // console.log(abc)
              if (abc !== -1){
                this.isLiked = true
              }
              // console.log(this.modules.id)
            })
        }

      },
      syncLikes(){
        if (this.modules.like === null){
          this.ttlLikes = 0
        }else{
          this.ttlLikes = this.modules.like.likes
        }
        // console.log(this.modules)
      },
      likes(){
        // console.log(this.$store.getters['auth/isLogin'])
        if (this.$store.getters['auth/isLogin']){
          if (!this.isLiked){
            this.isLiked = true
            this.$store.dispatch('edutest/liked', this.modules.id)
              .then(result => {
                if(result.success){
                  // console.log(result)
                  this.ttlLikes++
                  this.$toast.show('Buku berhasil disukai');
                }
              })
          }

        }else {
          this.$toast.show('Mohon login dulu...');
          $('#login-popup').modal('show');
        }
      },
      buyModules(){
        // this.$store.commit('cart/')
        this.$store.getters['cart/cart'].forEach(element => {
          // console.log(element.moduleId)
          if (element.moduleId === this.modules.id){
            this.isOrder = true
          }
        });
        if (!this.isOrder){
          this.countOrder++
          this.$store.dispatch('cart/buyModule', this.modules)
          this.$toast.success('Sukses Tambah Module ke Cart');
        } else {
          this.$toast.show('Maaf, Anda sudah menambahkan modul ini');
        }
      },
      submit(idx, thema) {
        // console.log(this.modules)
        if (this.$store.getters['auth/isLogin']){

          thema.matkul = this.modules.name
          thema.kelas = this.modules.kelas.name
          thema.module_id = this.modules.id
          thema.module_slug = this.modules.module_slug
          this.$store.dispatch('test/setSessionThema', thema)
          if (this.isBuy){
            this.$nuxt.$router.push(''+this.modules.id+'/'+thema.id)
          }else{
            // console.log('t')
            $('#modal-belum-beli-module').modal('show')
            // this.$nuxt.$router.push('/modules/module-belum-beli')
          }
        }else{
          this.$toast.show('Mohon Login Dulu..');
          $('#login-popup').modal('show');
        }

      },
      getMyScore(modulId){
        if (this.$store.getters['auth/isLogin']){

          this.$store.dispatch('edutest/getMyScore', modulId)
            .then(result => {
              if (result.success){
                // console.log(result.data)
                const grade = this.groupBy(result.data, grades =>  grades.paket_soal_id)
                // console.log(grade).get(0)
                let key = []
                let pktSoalId = null
                let nilai = 0
                let jmlPktSoal = 0

                grade.forEach(element => {
                  // console.log(element)
                  element.forEach(element2 => {
                    if (element2.point === 1){
                      nilai += element2.point
                    }
                  });
                  this.listThema.forEach(element3 => {
                    if (element[0].paket_soal_id === element3.id){
                      // element3.paket_soals.forEach(element4 => {
                      //   console.log(element4)
                      // });
                      // console.log(element3.paket_soals)
                      // console.log(element3)
                      // console.log('jumlah paket soal dari thema '+element[0].paket_soal_id+' adalah '+element3.paket_soals.length)
                    }

                  });
                  // console.log(nilai)
                  // console.log(element[0].module_id)
                  // console.log('point dari paket soal '+element[0].paket_soal_id+' adalah '+nilai)
                  // console.log('jumlah soal dari paket soal '+element[0].paket_soal_id+' adalah')
                  nilai = 0

                });
                // console.log(key)
              }else{
                console.log('something error or no connection')
              }
              // console.log(result)
            })
        }
      },
      getModule() {
        this.$store.dispatch('edutest/getModules', this.$route.params.slug)
          .then(result => {
            if (result.success){
              // console.log(result.data)
              if (result.data.rows.price === 0){

                this.isZeroPrice = true
              }
              // console.log(result.data)
              this.totalSoal = result.data.total_soal
              this.modules = result.data.rows
              this.listThema = result.data.theme
              this.getMyScore(this.modules.id)
              this.syncLikes()
              // this.checkMyModule()
              if (this.$store.getters['auth/isLogin']){
                this.checkMyModuleLangganan()
              }else{
                this.isLoading = false
                this.isBuy = false
              }

              this.getMylikes()
              this.cntReadModule = result.data.dikerjakan[0].total
              // this.dataModule.matkul = this.modules.name
              // this.dataModule.kelas = this.modules.kelas.name
              if (this.modules.description !== null){
                this.metaDescription = this.modules.description.slice(0, 100)
              }

              this.metaTitle = this.modules.name
              // console.log(this.modules)
              // console.log(result.data.dikerjakan[0].total)
            } else {
              // this.$router.push('/404')
            }
          })
      },
      async getMyModule(){

        // console.log('hello')
        this.$store.dispatch('edutest/setMyModule')
          .then((response) => {
            // console.log(response.data)
            if (response.success){
              this.myModule = response.data.rows
              // this.getModule()
              this.checkMyModule()
              // console.log(this.myModule)
              //
            }else{
              // console.log(response)
              if (response.data.message === 'Token is Invalid'){
                this.$toast.show('Reconnecting... Please reload the page.');
                this.reLogin()
                // this.getMyModule()
                // console.log('reloaddded')
              }else if(response.data.message.includes('Firebase ID token has expired.')){
                this.userSessionExpired()
              }
            }
          })
      },
      checkMyModule(){


        // console.log(this.myModule.length)
        if (this.typeBook !== 'L'){
          if (this.myModule.length === 0){
            this.isBuy = false
            this.isLoading = false
          }else{
            for (let index = 0; index < this.myModule.length; index++) {
              const element = this.myModule[index];

              if (element.module_id === this.modules.id.toString()){
                this.isBuy = true
                this.isLoading = false
                this.typeBook = 'R'
                // console.log('its true')
                // console.log(element.module_id, this.modules.id)
                break;
              }else{

                // console.log('test')
                this.isBuy = false
                this.isLoading = false

              }
            }
            // this.checkMyModuleLangganan()
          }
        }

      },
      checkMyModuleLangganan(){
        // if (this.typeBook !== 'R'){
        // console.log(this.$cookies.get('my-list-subscriptions').listSubsModule.length)
        // console.log(this.$cookies.get('my-list-subscriptions'))
        let myModuleSubs = this.$cookies.get('my-list-subscriptions')
        // console.log(myModuleSubs.length)
        // this.$store.dispatch('langganan/getMyModuleSubscriptions', 7)
        if (myModuleSubs.length === 0) {
          // console.log('im in not anywhere')
          this.isBuy = false
          this.isLoading = false
        } else {
          // console.log('im in langganan')
          // console.log(this.myModuleSubs.length)
          for (let x = 0; x < myModuleSubs.length; x++) {
            if (!myModuleSubs[x].status_expire){
              for (let j = 0; j < myModuleSubs[x].listSubsModule.length; j++) {
                // console.log(myModuleSubs[x].listSubsModule[j])
                if (myModuleSubs[x].listSubsModule[j] === this.modules.id) {
                  // console.log(myModuleSubs[x].idSubsModule)
                  // console.log(this.myModuleSubs[x].listModule[j].modules.id)
                  this.typeBook = 'L'
                  this.idSubs = myModuleSubs[x].idSubsModule
                  this.isBuy = true
                  this.isLoading = false

                  // this.idSubs =
                  // console.log('apakah buku ini telah di beli ? '+this.isBuy)
                  // console.log()
                  return true;
                  // break;
                } else {
                  // this.isBuy = false
                  // this.isLoading = false
                }
              }
            }
          }
          // this.checkMyModule()
        }
      }
    }
  }
</script>


