<template>
  <div>
  <!-- Preloader Starts -->
<!--  <div class="loader">-->
<!--  </div>-->
  <!-- Preloader Ends -->
  <!-- Header Section Starts -->
  <header id="header">
    <div class="header-overlay">
      <div class="container">
        <!-- Logo Starts -->
        <div data-scroll-reveal="enter top and move 50px over 1.2s" class="hexagon">
          <i class="fa fa-flash"></i><span></span>
        </div>
        <!-- Logo Ends -->
        <!-- Main Heading Starts -->
        <div class="main-head">
          <h2 data-scroll-reveal="enter left and move 50px over 1.8s">
            Halaman belajar gratis masih dalam pengerjaan</h2>
          <p data-scroll-reveal="enter right and move 50px over 2.0s">
            Edutore.com sedang membuat halaman untuk belajar gratis. Nantinya, kamu dapat mencoba berbagai modul dari galeri edutore pada halaman ini, seperti latihan soal SD, SMP, SMA, SBMPTN, sampai CPNS</p>
        </div>
        <!-- Main Heading Ends -->
      </div>
      <!-- Countdown Area Starts -->
      <div id="countdown-area">
        <!-- Count Down Timer Starts -->
        <ul class="countdown">
          <li><span data-scroll-reveal="enter bottom and move 20px over 1.2s" class="days">30</span>
            <p data-scroll-reveal="enter top and move 20px over 1.4s" class="days_ref">
              days</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 20px over 1.6s" class="hours">00</span>
            <p data-scroll-reveal="enter top and move 20px over 1.8s" class="hours_ref">
              hours</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 2px over 2.0s" class="minutes">00</span>
            <p data-scroll-reveal="enter top and move 20px over 2.2s" class="minutes_ref">
              minutes</p>
          </li>
          <li><span data-scroll-reveal="enter bottom and move 20px over 2.4s" class="seconds">00</span>
            <p data-scroll-reveal="enter top and move 20px over 2.6s" class="seconds_ref">
              seconds</p>
          </li>
        </ul>
        <!-- Count Down Timer Ends -->
      </div>
      <!-- Countdown Area Ends -->

    </div>
  </header>
  <!-- Header Section Ends -->



  <!-- Services Section Starts -->
  <section id="services">
    <div class="services-overlay">
      <div class="container">
        <!-- Main Heading Starts -->
        <div class="main-head">
          <h2 data-scroll-reveal="enter top and move 50px over 1.2s">Tentang Edutore</h2>
          <h5 data-scroll-reveal="enter bottom and move 50px over 1.4s">
            Edutore merupakan platform edukasi online yang dikembangkan oleh Gramedia. Hadirnya Edutore membuat belajar menjadi lebih mudah,
            lengkap dan menyenangkan.</h5>
          <br />
          <p data-scroll-reveal="enter bottom and move 50px over 1.4s">
            Slogan Edutore adalah “Semua Bisa Pintar” dan itu pula yang menjadi cita-cita Edutore. Sehingga Edutore bisa berperan serta dalam mencerdaskan anak-anak Indonesia.
          </p>
        </div>
        <!-- Main Heading Ends -->
        <!-- Services List Starts -->
        <div id="services-blocks" class="row">
          <div data-scroll-reveal="enter bottom and move 50px over 1.6s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
            <span class="fa fa-star-o"></span>
            <h4>
              Konten Pilihan</h4>
            <p>
              Konten-konten di dalamnya diambil dari buku-buku pilihan dari penerbit-penerbit unggulan di Indonesia.
            </p>
          </div>
          <div data-scroll-reveal="enter top and move 50px over 1.7s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
            <span class="fa fa-smile-o"></span>
            <h4>
              Cara Baru Membaca Buku</h4>
            <p>
              Buku-buku, khususnya buku-buku soal yang selama ini diakses secara fisik, kini dapat diakses juga dengan web dan aplikasi.
            </p>
          </div>
          <div data-scroll-reveal="enter bottom and move 50px over 1.8s" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">
            <span class="fa fa-eye"></span>
            <h4>
              Pembahasan Langsung</h4>
            <p>
              Disediakan pembahasan langsung yang membuat Edufriends lebih mudah belajar ketika soal tidak dipahami dengan baik dan bisa diabaikan jika soal sudah dipahami sehingga Edufriends tidak perlu mengulang hal-hal yang sudah dimengerti dengan baik.
            </p>
          </div>
        </div>
        <!-- Services List Ends -->
      </div>
    </div>
  </section>
  <!-- Services Section Ends -->
  <!-- Contact Us Section Starts -->
  <section id="contact">
    <div class="container">
      <!-- Main Heading Starts -->
      <div class="main-head">
        <h2 data-scroll-reveal="enter top and move 50px over 1.2s" class="MT40">
          Download Edutore di Playstore</h2>
      </div>
      <!-- Main Heading Ends -->
      <!-- Form & Address Blocks Starts -->
      <div class="row">
        <!-- Contact Form Starts -->
        <div data-scroll-reveal="enter left and move 50px over 1.6s" id="contact-area" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- Contact Form Starts
          <form id="contact-form" class="contact-form" name="contact-form" method="post" action="contact.php">
          <div class="form-group">
              <input type="text" name="name" class="form-control" required placeholder="Enter Your Name">
          </div>
          <div class="form-group">
              <input type="email" name="email" class="form-control" required placeholder="Enter Your Email">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-info">Subscribe</button>
          </div>
          </form>
           -->
          <center><img src="~/assets/img/belajar-gratis/en_badge_web_generic.png" width="300" height="120"/></center>
        </div>
        <!-- Contact Form Ends -->
        <!-- Contact Address Starts -->
        <div data-scroll-reveal="enter right and move 50px over 1.8s" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <p>
            Edutore memudahkan semua orang yang mau belajar bisa pintar karena Edutore dapat diakses di mana saja dan kapan saja. Seolah bermain game, aplikasi Edutore dikembangkan untuk membuat belajar menjadi terasa lebih ringan dan tidak membosankan.
          </p>
        </div>
        <!-- Contact Address Ends -->
      </div>
      <!-- Form & Address Blocks Ends -->
    </div>
  </section>
  <!-- Contact Us Section Ends -->
  <!-- Footer Starts -->
  <footer id="footer">
    <div class="container">
      <!-- Copyright Starts -->
      <div data-scroll-reveal="enter bottom and move 50px over 1.2s">
        <p data-scroll-reveal="enter over 3.2s">
          See Soon! Coming Soon/Under Construction . &copy edutore.com
        </p>
      </div>
      <!-- Copyright Ends -->
    </div>
  </footer>
  <!-- Footer Ends -->
  <!-- Bootstrap core JavaScript -->
  </div>
</template>

<script>
  require('~/plugins/jquery');
  if(process.client) {
    require('~/assets/css/belajar-gratis.css');
    require('~/plugins/belajar-gratis/js/jquery.backstretch.min')
    require('~/plugins/belajar-gratis/js/ie8-responsive-file-warning')
    require('~/plugins/belajar-gratis/js/scrollReveal')
    require('~/plugins/belajar-gratis/js/jquery.downCount')
    require('~/plugins/belajar-gratis/js/custom')
  }
    export default {
      head () {
        return {
          title: 'belajar-gratis',
          meta: [
            { hid: 'description', name: 'description', content: 'My custom description' }
          ],
          link: [
            {
              rel: 'stylesheet',
              href: 'http://fonts.googleapis.com/css?family=Coustard',
              type: 'text/css'
            },
            {
              rel: 'stylesheet',
              href: 'http://fonts.googleapis.com/css?family=Raleway:400,300',
              type: 'text/css'
            },
          ],
        }
      },
      mounted() {
        // console.log($("#header"))
      }
      // layout: 'belajar-gratis',
    }
</script>

<style scoped>

</style>
